Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

Fix typos and improve clarity in README files
  roles/next-gen/crc-image/README.md
  roles/next-gen/crc-snapshot/README.md
  roles/next-gen/extracted-crc/README.md
  roles/next-gen/promote-image/README.md
  roles/next-gen/sync-images/README.md
Due: sf-infra-configure-hosts-sf

Use existing variable for mapping file path
  roles/sf/statsd-exporter/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Stop Yoga and Zed Trunk builders
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

k1s: Correct timestamp extraction for container age calculation
  roles/sf/k1s/files/check-old-containers.sh
Due: sf-infra-configure-hosts-sf

Exclude Yoga and Zed builder from monitoring
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Remove Zed and Yoga panels
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

nodepool-builder: ensure rhel group for rhel registration
  ansible/hosts.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn

monitoring: remove DLRN and OSCI for packages update alert
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

monitoring: remove whitelist for monitored services
  playbooks/host_vars/dashboards.rdoproject.org/monitoring.yml
  roles/service/node-exporter/defaults/main.yml
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: remove systemd_unit_inactive rule
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add parameters to authenticate using Kerberos for Quay pruner
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

ansible: Add rhel-setup role to setup grub
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/rhel-setup/tasks/main.yaml
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

backup-srv: ensure lvm2 and others system packages are installed
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/tasks/install.yaml
  roles/rdo/backup-srv/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Remove monitoring for dashboards.rdoproject.org
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

remove go-lang installation step
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

remove sf_ssl_cert handling as no longer supported by sf-operator
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Improve kind role
  roles/extra/kind/defaults/main.yaml
  roles/extra/kind/files/create-kubeconfig
  roles/extra/kind/tasks/kind.yaml
  roles/extra/kind/tasks/main.yaml
  roles/extra/kind/tasks/post.yaml
  roles/extra/kind/tasks/pre.yaml
  roles/extra/kind/templates/kind-config.yaml
Due: sf-infra-ensure-fqcn

Use rhsm_repository instead of command
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Create new RDO dashboard containing FTBFS report
  roles/sf/grafana/files/RDO/rdo-report-ftbfs.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add kinit and kdestory for quay_tag_keeplist script; install deps
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/tasks/prune.yml
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Change dlrn-client package; improve dlrnapi call
  roles/rdo/quay/tasks/prune.yml
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Add feature to export CA bundle on for DLRN API
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Add provider name to the nodepool provider failure error
  monitoring/rules-nodepool.dhall
  monitoring/rules-nodepool.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Refactor quay pruner tag keeplist script
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Remove dlrnapi venv dir after execution
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Improve extra/kubernetes role
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/files/start-lvm.sh
  roles/extra/kubernetes/tasks/calico.yaml
  roles/extra/kubernetes/tasks/certmanager.yaml
  roles/extra/kubernetes/tasks/crio.yaml
  roles/extra/kubernetes/tasks/flannel.yaml
  roles/extra/kubernetes/tasks/helm.yaml
  roles/extra/kubernetes/tasks/kubeadm.yaml
  roles/extra/kubernetes/tasks/lvm.yaml
  roles/extra/kubernetes/tasks/main.yaml
  roles/extra/kubernetes/tasks/post.yaml
  roles/extra/kubernetes/tasks/pre.yaml
  roles/extra/kubernetes/tasks/pv.yaml
  roles/extra/kubernetes/tasks/selinux.yaml
  roles/extra/kubernetes/tasks/topolvm.yaml
  roles/extra/kubernetes/templates/storage-loop-device.service.j2
Due: sf-infra-ensure-fqcn

Update monitoring services
  playbooks/group_vars/all.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add fix for error on k1s hosts: pause process with "podman system migrate"
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

manage-etc-host: ensure ip for host directly attached to public network
  playbooks/group_vars/all.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add test-rhel-upgrade instance, fix nodepool builder volume size
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Refactor quay registry pruner script
  roles/rdo/quay/templates/quay_registry_pruner.sh.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Update json code of RDO FTBFS dashboard
  roles/sf/grafana/files/RDO/rdo-report-ftbfs.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Remove jsonnetfile.json after copying in Grafana
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add message about what keeplist looks like in Quay pruner
  roles/rdo/quay/templates/quay_registry_pruner.sh.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Comment dashboards and rdo-web-builder hosts
  ansible/hosts.yaml
  playbooks/host_vars/dashboards.rdoproject.org/planet_builder_sync.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/planet.yml
  playbooks/site_osci.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo

rhel-subscription: Add bits to manage rhel minor upgrade
  roles/system/rhel-subscription/defaults/main.yaml
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

test-rhel-upgrade: add in sf group to get monitoring
  ansible/hosts.yaml
  playbooks/site_sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add project renamer helper
  tools/project-renamer.py
Due: none

Ensure that rhel_release variable is not empty
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update datasource UID in RDO FTBFS dashboard
  roles/sf/grafana/files/RDO/rdo-report-ftbfs.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
