Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Remove demo.changemetrics.io from Prometheus sources
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Update pruner tokens in Quay RDO
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Redirect all streams of quay_registry_pruner to log file
  roles/rdo/quay/tasks/prune.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Move DLRN API host to variable
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Move from dlrn-centos9 group name to dlrn-trunk
  ansible/hosts.yaml
  playbooks/group_vars/dlrn-trunk.yaml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Serialize DLRN run between Trunk builder
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Merge all container_images hash into one
  playbooks/group_vars/all.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/host_vars/zk01.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Trigger cleanup ports more often; get port stats more often
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/cleanup-openstack-resources/templates/cleanup-ports-logrotate.j2
  roles/sf/openstack-simply-reporter/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Change retention time for cleanup openstack leftovers to 12 hours
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
Due: sf-infra-configure-hosts-sf

Enable run-time and build-time deps sync for Epoxy on CS10
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Update mkPrometheus target to take a legend by query
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

monitoring: ensure k1s-cloud-user service for node-exporter
  roles/service/node-exporter/defaults/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Panels.dhall: add the prometheus datasource id as paramater
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add script for checking old containers on k1s host; add monitor probe
  Makefile
  monitoring/package.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-k1s-zombie-containers.dhall
  monitoring/rules-k1s-zombie-containers.yaml
  roles/service/node-exporter/tasks/main.yaml
  roles/sf/k1s/files/check-old-containers.sh
  roles/sf/k1s/tasks/main.yaml
  roles/sf/k1s/tasks/probe.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add http_503 module to blackbox.yml for 503 status code checks
  roles/sf/blackbox-exporter/files/blackbox.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add feature for adding cloud_image_builder_users user into sudoers
  roles/sf/cloud-image-builder/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

prometheus: add retention time configuration
  roles/sf/prometheus/defaults/main.yml
  roles/sf/prometheus/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Panels.dhall - mkLucene takes the datasourceId
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Replace puppeteer script with grafana-image-rendering
  playbooks/group_vars/all.yaml
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/tasks/main.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
  roles/tests/grafana/defaults/main.yaml
  roles/tests/grafana/tasks/grafana-dash.yaml
  roles/tests/grafana/tasks/pre-grafana-dash.yaml
  roles/tests/grafana/tasks/run-tests.yaml
  roles/tests/grafana/templates/grafana-screenshots.js.j2
  tests/grafana.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Raise error when there is no datasource provided in Grafana
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add an alert for consistent HTTP 503 errors
  monitoring/rules-http.dhall
  monitoring/rules-http.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Update tripleo Quay user password
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Add retry on making Grafana dashboard screenshot
  roles/tests/grafana/tasks/run-tests.yaml
Due: sf-infra-ensure-fqcn, sf-infra-grafana-dashboards

Add mirror.regionone.vexxhost-new instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Use rhel-9 for mirror.regionone.vexxhost
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Get always title for available Grafana dashboards
  roles/tests/grafana/tasks/run-tests.yaml
Due: sf-infra-ensure-fqcn, sf-infra-grafana-dashboards

Add Nodepool Builder Images Panel to Grafana
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

monitoring: remove InstanceOutOfSwap for quay.rdoproject.org
  monitoring/rules-ibm-instances.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add sortBy argument to table panel
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Set table panel sortBy definition
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Enable DLRN builder for centos9-wallaby
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

add vcherkas key
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

k1s: Add crontab to cleanup unused containers
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Run DLRN every hour for Wallaby
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

loki: increase pvc storage after crash
  playbooks/group_vars/observability-stack.yaml
Due: sf-infra-ensure-fqcn

Add in a simple archives capability to export in an additionnal dir
  roles/sf/operator-backup/defaults/main.yaml
  roles/sf/operator-backup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix: ensure we use ansible.posix.mount
  roles/osci/mailing_lists/tasks/main.yml
  roles/system/swap/tasks/main.yml
  roles/system/volume/tasks/bind_mounts.yaml
  roles/system/volume/tasks/mount_partition.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

sf-operator-backup: don't use the same directory for the archive by default
  roles/sf/operator-backup/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

common.dhall: add rhel-9.4 image
  vars/common.dhall
Due: none

k1s: Ensure containers older than 23 hours are killed
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf
