Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Create opensearch-devel instance to validate opensearch upgrade
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/host_vars/opensearch-devel.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/rdo/setup-ssl-self-signed/defaults/main.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo

secret-age: enforce that secrets have expiry and description
  Makefile
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  tools/secret-age.py
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

secret-age: reformat with ruff
  tools/secret-age.py
Due: none

secret-age: add the secret file path to improve the alert
  tools/secret-age.py
Due: none

rule-secrets.dhall - Remove the use of the big regex to atomic Secret
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

secret-age - alert - add file label to alert message
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

secret-age - fix string replacement
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

opensearch: upgrade to rhel-9.4 and opensearch 2.19.2
  playbooks/group_vars/all.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

quay.rdoproject: add 500G for quay data lv
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo

Update retention to 90d days
  roles/sf/prometheus/defaults/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

quay pruner logs: set filename to pruner-$(/usr/bin/date +%Y%m%d).log
  roles/rdo/quay/tasks/prune.yml
  roles/rdo/quay/templates/quay_pruner.logrotate.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Deploy zuul-capacity on zs.softwarefactory-project.io
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  roles/sf/zuul-capacity/README.md
  roles/sf/zuul-capacity/tasks/main.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

dlrn: Add centos10-master-uc api workers
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Improve the quay pruner to not failed when repo query failed
  roles/rdo/quay/files/quay_tag_pruner.py
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Move k1s rhel_release to the k1s-rhel group vars
  playbooks/group_vars/k1s-rhel.yaml
  playbooks/host_vars/k1s03.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s04.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s05.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zuul-capacity: fix switched ports, missing env var
  roles/sf/zuul-capacity/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update the k1s06 certificate
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/k1s06.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

all.yaml: move quay and opensearch containers in host_vars file
  playbooks/group_vars/all.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fix zuul-capacity service port
  roles/sf/zuul-capacity/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Ensure the recreate-crc-images setup the venv
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
Due: sf-infra-configure-hosts-sf

quay.rdoproject.org: upgrade to rhel-9.4 and quay 3.10.10
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

rhel-subscription: refactoring and fix System certificates corrupted. Please reregister error
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rhel-subscription: Fix when conditions
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fix the opendev.org gerrit connection on sf-infra
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Add infra/dhall-cache role
  playbooks/site_sf.yaml
  roles/infra/dhall-cache/README.md
  roles/infra/dhall-cache/defaults/main.yaml
  roles/infra/dhall-cache/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update Software Factory on CentOS Infra to HEAD
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Update the project-renamer instruction
  tools/project-renamer.py
Due: none

Bump upstream centos SF to latest sf-operator
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Introduce a new software-factory-control-plane.dhall to mange SF
  Makefile
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove opensearch-devel instance
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/host_vars/opensearch-devel.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo

quay: remove carriage return from vault secret
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

quay: 2nd attemps to remove carriage return from vault secret
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Import Zookeeper migration tools from upstream
  tools/decrypt_secret.py
  tools/zuul-keys-migrate.py
Due: none

Add tool to get Zuul Projects by Tenant Name
  tools/zuul-get-projects-by-tenant.py
Due: none

Update centos infra deployment with last master
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

rhel-subscription: fix when condition
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Disable sf-infra-configure-hosts-osci in gate temporarily
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

backup.rdoproject.org: pin rhel_release to 9.6
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add tools to rename Zookeeper Projects
  tools/project-renamer.py
  tools/projects-renamer.py
Due: none

enable sf-infra-configure-hosts-osci
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn
