Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Cleaning access to non authorized folks
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add chdir to secret age
  roles/system/secrets-metric/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Refactor the secret-age library for easier re-use
  Infra/package.dhall
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Fix typo in the secret-age metric header
  tools/secret-age.py
Due: none

Fix pagure tokens
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Fix continuation line under-indented for hanging indent
  roles/service/opensearch-monitoring/files/check-opensearch.py
Due: sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Dhall Secret: rename alert to "SecretWillExpireInTwoWeeks"
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add zuul token for pagure for fedoraproject
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add support for hard coded refresh-date in secret-age
  tools/secret-age.py
Due: none

logjuicer: add missing sub path to the redirection
  roles/sf/logjuicer/templates/vhost.j2
Due: sf-infra-configure-hosts-sf

mirror.regionone.ibm-bm4-nodepool: update to rhel-9.4
  playbooks/host_vars/mirror.regionone.ibm-bm4-nodepool.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

infra_sf: remove centos.sf.io instance
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

centos.sf.io: remove all remaining bits
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Extract secret-age from preceding comments
  tools/secret-age.py
  tox.ini
Due: sf-infra-test-fqcn-fixer-script, sf-infra-molecule

centosinfra-prod: update gitlab secret to use new bot account
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

openafs: Ensure module installation until upstream bug is fixed
  roles/rdo/opendev-system-config-openafs-client/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Handle secret defined inlined inside a task
  tools/secret-age.py
Due: none

Handle refreshed_date secret marker
  tools/secret-age.py
Due: none

Ensure secret-age timestamps are UTC
  tools/secret-age.py
Due: none

mirror-ibm-bm3: update to rhel-9.4
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

ibm-bm3-nodepool-launcher: update to rhel-9.4
  playbooks/host_vars/ibm-bm3-nodepool-launcher.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ibm-bm4-nodepool-launcher: update to rhel-9.4
  playbooks/host_vars/ibm-bm4-nodepool-launcher.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove trailing spaces in jinja secret
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

mirror-vexxhost: upgrade to rhel-9.4
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

mirror-vexxhost and ibm instances: set image to rhel-9.4
  doc/inventory.md
  playbooks/vars/infra-rdo.yaml
  playbooks/zuul/group_vars/all.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo

Fix incorrect SF custom resource attribute
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

monitoring: update supported rhel and fedora versions
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

monitoring: use instance label instead name for ibm instances
  monitoring/node-exporter-ibm-instances.dhall
  monitoring/prometheus.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Enable k1s TLS verification
  playbooks/group_vars/k1s-secrets.yaml
  playbooks/group_vars/sf-operator.yaml
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add secret-age tests
  Makefile
  playbooks/secret-age-check.yaml
  tools/secret-age.py
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

secret-age: remove the blame technic and expect a date
  tools/secret-age.py
Due: none

Monitoring - secret-age - add a new alert to warn when not marker is set
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

k1s: always reload service, open k1s06 api access
  playbooks/vars/infra-sf.yaml
  roles/sf/k1s/tasks/main.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

enable dnf-automatic on fedora, remove alert for packages update
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
  playbooks/site_bridge.yaml
  roles/system/update-host/tasks/main.yml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rename update-host monitoring-needs-restarting, remove unused tasks
  playbooks/site_bridge.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/monitoring-needs-restarting/tasks/main.yml
  roles/system/update-host/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Adjust job dependencies to run the site_bridge only once
  playbooks/site_dlrn_centos9.yaml
  playbooks/site_osci.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-tripleo-standalone.yaml
  playbooks/zuul/create-tripleo-standalone.yaml
  playbooks/zuul/group_vars/all.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

Revert the k1s: always reload service
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ensure all vault secrets have refreshed comment with creation date
  playbooks/group_vars/all.yaml
  playbooks/group_vars/k1s-secrets.yaml
  playbooks/group_vars/observability-stack.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rules-secrets.dhall -- Alerts fix misusage of Glob in PromQL
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Revert "Monitoring - secret-age - add a new alert to warn when not marker is set"
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf
