Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

image-builder: set rhel_release to 9.4
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

monitoring: Add supported rhel version 9.6
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Simplify the monitoring system
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-supported_OS.dhall
  monitoring/rules-supported_OS.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

ibm-redhat-subscription: ensure 'Check rhel version' task can't fail
  roles/rdo/ibm-redhat-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-create-tripleo-standalone

infra: ensure rhel-9.4 for servers migrated to 9.4
  doc/inventory.md
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

setup-ssl: Add minimal httpd config for certbot
  roles/service/setup-ssl/tasks/ssl_create_cert.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: remove 'Check if reboot is needed' crontab
  roles/system/monitoring-needs-restarting/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: remove system/monitoring-needs-restarting role
  playbooks/site_bridge.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/monitoring-needs-restarting/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

quay: modify crontab and logrotate configuration
  roles/rdo/quay/tasks/prune.yml
  roles/rdo/quay/templates/quay_pruner.logrotate.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

refactor: Introduce mkK1sHost to simplify k1s0* instance creation
  vars/infra-sf/instances.dhall
Due: none

Document the projects-renamer usage
  tools/projects-renamer.py
Due: none

Change secret-age to use a gauge
  tools/secret-age.py
Due: none

external-zuul-executor: add optional tasks to ensure graceful stop before upgrade
  playbooks/zuul/configure-hosts.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix unnoticed issues
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

cleanup-openstack-resources: refactoring and fix logrotate issue
  roles/next-gen/cleanup-openstack-resources/defaults/main.yaml
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/cleanup-openstack-resources/templates/cleanup-ports-logrotate.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

cleanup-openstack-resources: cleanup after applied d/s
  roles/next-gen/cleanup-openstack-resources/files/cleanup-openstack-resources.sh
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Store the last applied crs to the global /etc/run-infra-ng
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

install-software-factory - ensure become: true when creating directory in /etc
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

install-software-factory - set an extra naming to differenciate from the copied CRs
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove OPENSHIFT_USER environment as not needed anymore by sf-operator
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

openshift/install-software-factory - Fix permissions
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix: Correct cron job path for htcacheclean
  roles/rdo/opendev-system-config-mirror/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Bump sf-operator to v0.0.58
  playbooks/group_vars/sf-operator.yaml
  playbooks/site_centOSInfra.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Rename microzuul-config to config, and move it to giltab.com
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

Ensure sf-infra-configure-centOS-Infra runs when CR is updated
  playbooks/site_centOSInfra.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Change config gitlab.com to software-factory group root
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

install-sf-operator: isolate CR serialization tasks
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
  roles/sf/openshift/install-software-factory/tasks/serialize_cr.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

logserver.rdoproject.org: reduce retention to 15 days
  roles/rdo/logserver/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

centosinfra-prod: set merger in debug mode
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

Use variable for Apache cache limit
  roles/rdo/opendev-system-config-mirror/defaults/main.yaml
  roles/rdo/opendev-system-config-mirror/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Update the instructions how to refresh k1s_ secrets
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

centosinfra-prod: upgrade to v0.0.59
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Clarify k1s secret rotation procedure
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

ibm{3,4}: fix health check jobs labels
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Add managesf-dev to validate anubis
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Do not fetch public key for old containers-update tenant
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

add "anubis" role
  roles/service/anubis/README
  roles/service/anubis/defaults/main.yaml
  roles/service/anubis/handlers/main.yaml
  roles/service/anubis/tasks/main.yaml
  roles/service/anubis/templates/anubis.service.j2
  roles/service/anubis/templates/botPolicies.yaml.j2
  roles/service/anubis/templates/env.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

osci: disable gate job
  playbooks/site_osci.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

Deploy anubis on managesf.sf.io
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Anubis: simplify policy config, add vexxhost IP ranges
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  roles/service/anubis/templates/botPolicies.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
