Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

observability stack: apply S3 lifecycle policy to whole bucket
  playbooks/group_vars/observability-stack.yaml
  roles/sf/openshift/observability-stack/s3-storage/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix carrier return and popd
  tools/sf-operator
Due: none

Add rotate-ansible-vault-password.py
  playbooks/group_vars/all.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/k1s06.softwarefactory-project.io.yaml
  playbooks/validate-ansible-secrets.yaml
  roles/rdo/backup-srv/defaults/main.yml
  tools/rotate-ansible-vault-password.py
  tox.ini
  zuul.d/jobs.yaml
Due: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Update the Zuul project sf-infra.pub fetching since the sf.io redirection
  playbooks/create-bridge.yaml
Due: sf-infra-ensure-fqcn, sf-infra-create-bridge

Refactor rotate-ansible-vault-password to re-use the secret-age parser
  tools/rotate-ansible-vault-password.py
  tools/secret-age.py
Due: none

Re-encrypt full file secrets
  playbooks/host_vars/lists.rdoproject.org/credentials.vault.yml
  playbooks/vars/dlrn-db.yaml
  playbooks/vars/dlrn.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-osci

Use rotate-ansible-vault-password.py to rotate vault password, secrets
  playbooks/group_vars/all.yaml
  playbooks/group_vars/k1s-secrets.yaml
  playbooks/group_vars/observability-stack.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s03.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s04.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s05.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s06.softwarefactory-project.io.yaml
  playbooks/host_vars/lists.rdoproject.org/credentials.vault.yml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/host_vars/sf-container-worker-1.softwarefactory-project.io.yaml
  playbooks/vars/dlrn-db.yaml
  playbooks/vars/dlrn.yaml
  roles/rdo/backup-srv/defaults/main.yml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
