Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell-ghc9

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

managesf: manage gateway.{conf,common} from sf-infra, protect cgit with anubis
  playbooks/files/managesf-gateway.common.j2
  playbooks/files/managesf-gateway.conf.j2
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/service/anubis/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

site_sf: remove httpd conf cleanup
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

review.rdo: setup anubis on managesf instance
  playbooks/host_vars/managesf.review.rdoproject.org.yaml
  playbooks/site_rdo.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

review.rdo: Add gateway.conf and gateway.common files to setup anubis
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/templates/review.rdoproject.org/gateway.common.j2
  playbooks/templates/review.rdoproject.org/gateway.conf.j2
  playbooks/templates/softwarefactory-project.io/gateway.common.j2
  playbooks/templates/softwarefactory-project.io/gateway.conf.j2
  roles/infra/robots-disallow/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

gateway sf.io and review.rdo: use anubis for gitiles
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/templates/review.rdoproject.org/gateway.conf.j2
  playbooks/templates/softwarefactory-project.io/gateway.conf.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

gateway.conf rdoproject: remove include which is defined later
  playbooks/templates/review.rdoproject.org/gateway.conf.j2
Due: none

zuul.d/jobs: Ensure filematch for playbooks/templates
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

monitoring: Update rhel and fedora supported version
  monitoring/rules-supported_OS.dhall
  monitoring/rules-supported_OS.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Update centosinfra-prod to v0.0.60
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

clean unndeeded tasks that were tagged for a graceful upgrade
  playbooks/zuul/configure-hosts.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

bridge migration to f43 follow up
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-rdo/images.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

common.dhall: remove images set as absent
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-rdo/images.dhall
  vars/infra-sf/images.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Bump fluent-bit to version 4.1.1 and fluent-bit chart to 0.54.0
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update version k9s to 0.50.16
  playbooks/group_vars/all.yaml
  roles/sf/k9s/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

anubis: dhall rule using user-agent instead path regex
  roles/service/anubis/templates/botPolicies.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

add Anton to manage accounts
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

add Anton to manage accounts with correct ssh
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update baremetal ibm-bm[3-4] certificates
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
Due: sf-infra-ensure-fqcn

Expose zuul-capacity service
  playbooks/templates/softwarefactory-project.io/gateway.common.j2
Due: none

Revert "Update baremetal ibm-bm[3-4] certificates"
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

RHOSZUUL-2982 WebDown Issue Fix Updated url to check mirror.regioone.vexxhost correctly. We will use /centos which is used for CI jobs.
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

software-factory-control-plane.dhall: set dhall user-agent
  playbooks/files/software-factory-control-plane.dhall
Due: none

Update sf-operator to the latest version
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

sf on centos: Enable codesearch
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

ibm baremetal: remove certs in group vars, fetch them instead
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
  playbooks/site_sf.yaml
  playbooks/zuul/files/nodepool-tenant.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

update sf-operator to v0.0.64
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Dry run the playbooks/site_centOSInfra.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

Deploy bridge-rhel on RHEL 9.4 image
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

bridge-rhel: Add missing rhel group
  ansible/hosts.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn

Simplify sf-operator execution
  playbooks/apply-resources.yaml
  playbooks/files/centos-infra/extra-resources.yaml.j2
  playbooks/group_vars/sf-operator.yaml
  playbooks/prepare-resources.yaml
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
  roles/sf/openshift/install-software-factory/tasks/serialize_cr.yaml
  tools/sf-operator
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Move "setup prod folder hiearchy" task up the playbook
  playbooks/prepare-resources.yaml
Due: sf-infra-ensure-fqcn

Create bridge-rhel.sf.io on rhel-10
  doc/inventory.md
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Setup the new bridge.sf.io on rhel
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/configure-tenants.yaml
  playbooks/site_bridge.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/group_vars/all.yaml
  playbooks/zuul/templates/clouds.yaml.j2
  requirements.yml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/bridge/generate-etc-hosts/tasks/main.yaml
  roles/bridge/install_k8s_clients/defaults/main.yaml
  roles/bridge/install_k8s_clients/tasks/main.yaml
  roles/service/manage-accounts/tasks/main.yaml
  roles/system/epel-release/tasks/main.yaml
  roles/system/psi/tasks/main.yaml
  roles/system/rhel-subscription/tasks/main.yaml
  roles/system/secrets-metric/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

manage-accounts: Ensure extra keys will be installed with the right user
  roles/service/manage-accounts/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

manage-account: Ensure cloud-user in sf-admin group
  playbooks/group_vars/all.yaml
  playbooks/prepare-resources.yaml
  roles/service/manage-accounts/tasks/main.yaml
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

upstream-observability-stack playbook: Update service user
  playbooks/files/prometheus-subscription.yaml
  playbooks/upstream-observability-stack.yaml
Due: sf-infra-ensure-fqcn

monitoring: Add rhel 10.1 in rhel_supported_versions
  monitoring/rules-supported_OS.dhall
  monitoring/rules-supported_OS.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

instance: Add microshift-ze01
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

instance: remove bridge.old instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

next-gen: Add zuul spare key to CRC images
  roles/next-gen/extracted-crc/README.md
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
