Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
  ...

Add ip address for documentation server
  ansible/hosts.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn

ibm-instances: ensure ip fqdn are added in /etc/hosts
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

redeploy backup.rdoproject.org on rhel-9, remove koji_httpd role
  ansible/hosts.yaml
  playbooks/site_rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/rdo/backup-srv/tasks/install.yaml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/rdo/koji_httpd/files/options-ssl-apache.conf
  roles/rdo/koji_httpd/handlers/main.yml
  roles/rdo/koji_httpd/tasks/httpd_koji.yaml
  roles/rdo/koji_httpd/tasks/main.yaml
  roles/rdo/koji_httpd/templates/site.conf.j2
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Enable Public Access for ACME Challenge Files
  roles/service/acme-tiny/templates/vhost.conf
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Make psi role more generic
  roles/system/psi/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove duplicated Ansible tasks
  roles/service/acme-tiny/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Re-add RDOTrunkRepoTooOld alert to monitor when dlrn is stuck
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Move bup binary to be executed in the container
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  roles/rdo/backup-monitoring/molecule/default/converge.yml
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/files/backup-koji.yaml
  roles/rdo/backup-srv/files/backup.yaml
  roles/rdo/backup-srv/tasks/install.yaml
  roles/rdo/backup-srv/templates/backup.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-molecule

rhel-subscription: ensure eus repos are disabled
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring - bump dhall-prometheus version usage
  monitoring/binding.dhall
  monitoring/scrape-configs.dhall
Due: prometheus-lint

Rename prometheus.monitoring host to monitoring
  Makefile
  README.md
  ansible/hosts.yaml
  doc/engineer_on_duty/README.md
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/osp-ci/ci-dashboard-ci-ops-overview.json
  roles/sf/grafana/files/osp-ci/ci-dashboard-overview.json
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-ci-ops-overview.jsonnet
  roles/sf/openshift/observability-stack/promThanos/defaults/main.yaml
  tests/grafana.yaml
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Remove SELinux mapping; add double bracket for Ansible var; update bup image
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/tasks/install.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Add checking dashboards.rdoproject.org by the blackbox exporter
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Change www.rdoproject.org to dashboards.rdoproject.org
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/dashboards.rdoproject.org/builder_sync.yml
  playbooks/host_vars/dashboards.rdoproject.org/monitoring.yml
  playbooks/host_vars/dashboards.rdoproject.org/planet_builder_sync.yml
  playbooks/host_vars/dashboards.rdoproject.org/rdo_dashboards.vault.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/planet.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/website.yml
  playbooks/host_vars/www.rdoproject.org/builder_sync.yml
  playbooks/site_osci.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/osci/websites/tasks/vhosts.yml
  roles/rdo/quay/defaults/main.yml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-quay-check

Turn off label separation for the bup container; disable network
  roles/rdo/backup-srv/tasks/install.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Move logscraper and logsender RDO service to elk.softwarefactory-project.io
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove leftovers related to elk.review.rdoproject.org
  doc/inventory.csv
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo

Add IBM mirror VMs for system-updates rules
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

backup.rdoproject.org: Add or update ssk keys
  playbooks/host_vars/lists.rdoproject.org/system.yml
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/service/backup-client/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fix check-bup-backups.py script
  roles/rdo/backup-monitoring/files/check-bup-backups.py
  roles/rdo/backup-monitoring/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-molecule

Increase max_skipped value for logscraper rdo and sf
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

grafana: move nodeMetrics to the shared package
  Infra/package.dhall
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add static ip for sf-container-worker
  playbooks/group_vars/all.yaml
  roles/bridge/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

generate-etc-hosts: add default for static_hosts
  roles/bridge/generate-etc-hosts/defaults/main.yaml
Due: sf-infra-ensure-fqcn

Remove unused ze and zm instances
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update SSH key for soeru.osci.io jump host
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-ensure-fqcn

Install Certbot when RedHat RHEL; remove condition for Centos 8 stream
  playbooks/host_vars/logserver.rdoproject.org.yaml
  roles/service/setup-ssl/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move cron job related to system package update to file
  roles/system/update-host/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

alertmanager: improve the configuration
  monitoring/binding.dhall
  monitoring/rules-zuul.dhall
  monitoring/rules-zuul.yaml
  roles/sf/alert-manager/tasks/main.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Set up the centos9-dalmatian worker for RDO Trunk.
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn

minio: enable setting storageClassName for pvc
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
  roles/sf/openshift/observability-stack/minio/templates/minio-pv.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

minio: add extraLabels, extraAnnotations params
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-service.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
  roles/sf/openshift/observability-stack/minio/templates/minio-deployment.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/minio-post-config.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/minio-service.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/route-api.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/route-console.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

minio: add name of PVC as a role parameter
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/templates/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/minio-deployment.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/minio-pv.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add SF-Operators cli installation
  roles/sf/operator-cli/README.md
  roles/sf/operator-cli/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add SF-Operators backup cronjob
  roles/sf/operator-backup/README.md
  roles/sf/operator-backup/defaults/main.yaml
  roles/sf/operator-backup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add become to sf-operator cli installation
  roles/sf/operator-cli/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix: Load right super user enviroment variables for sf-operator cli installation
  roles/sf/operator-cli/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix: remove state argument from ansible copy module
  roles/sf/operator-backup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix: add become argument for sf-operator backup cronjob creation
  roles/sf/operator-backup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Promtail: configure service to restart on failure
  roles/service/promtail/templates/promtail.service.j2
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
