Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Disable dhall-diff job to unblock the CI
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Change url from prelude.dhall-lang.org to raw Github content
  Infra/Prelude.dhall
  monitoring/summary-dashboard.dhall
Due: prometheus-lint

Add release identifier symlinks
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn-centos9

Revert "Disable dhall-diff job to unblock the CI"
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Fix logcli alias installation
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/logCLI-postinstall.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

fluent-bit: configure backpressure handling, further config customization
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Redirect rdo-release CS9 RPM to Dalmatian Release
  playbooks/host_vars/trunk-server-centos9.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo

Add dnf-automatic for rhel systems
  roles/service/node-exporter/tasks/main.yaml
  roles/system/rhel-subscription/tasks/main.yaml
  roles/system/update-host/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

promtail: add custom pipeline configs, tag software factories
  ansible/hosts.yaml
  playbooks/group_vars/microshift-sf.yaml
  playbooks/group_vars/sf.yaml
  roles/service/promtail/defaults/main.yaml
  roles/service/promtail/templates/promtail.yaml.j2
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Adding api_token to Zuul GitHub Connection
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add new Epoxy panels and layout in RDO dashboard
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

roles/firewall: set firewall port when firewall_rules is defined
  roles/service/firewalld/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Replace email address for rdo-trunk automation account
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn-centos9

Enable configure dnsmasq for crc extracted image
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove new line feed from github connection api token
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

dhall-diff: run on latest Fedora container
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Set dhall-diff as voting again
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Always create textfile_collector in node exporter
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add temporary generating bup-backup-locations based on bup_backup_locations
  roles/rdo/backup-monitoring/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-molecule

Grafana: add option to mount host ca cert bundle in the container
  roles/sf/grafana/defaults/main.yaml
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

obs-stack: ensure playbook runs when changes are made to promtail
  playbooks/upstream-observability-stack.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

promtail: fix promtail config when adding extra pipelines
  playbooks/group_vars/microshift-sf.yaml
  playbooks/group_vars/sf.yaml
  roles/service/promtail/defaults/main.yaml
  roles/service/promtail/templates/promtail.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

fix typos
  roles/service/promtail/templates/promtail.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add periodic job for checking spawning instances on BM hosts
  playbooks/check-bm-host.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Replace EOL zuul-worker-f37 with zuul-worker-f40
  zuul.d/bash-jobs.yaml
  zuul.d/python-jobs.yaml
Due: sf-infra-ensure-fqcn

Always mount textfile_collector to the node_exporter container
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rhel-registration: add dnf-automatic-install.timer
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: Add zuul and nodepool rules for operator
  monitoring/rules-nodepool-operator.dhall
  monitoring/rules-zuul-operator.dhall
Due: prometheus-lint

dnf-automatic: follow-up to remove systemctl disable dnf-automatic.timer
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove documentation
  README.md
  doc/dhall-onboarding/README.md
  doc/dhall-onboarding/optional-list.dhall
  doc/engineer_on_duty/README.md
  doc/how-to-add-a-ci-project.md
  doc/how-to-add-ibm-bm-standalone.md
  doc/how-to-add-k1s-instance.md
  doc/how-to-dedicated-workspace-for-a-project.md
  doc/how-to-delete-ibm-bm-standalone.md
  doc/how-to-manage-instance.md
  doc/how-to-networking.md
  doc/how-to-vault-secret.md
Due: none

Improve task for removing packages.prom when RHEL system
  roles/system/update-host/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add datasource for ftbfs rdoproject_org index pattern
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Do not print dictionary
  roles/rdo/quay/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Update Quay user passwords
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Update admin and tripleo quay organization tokens
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Move Grafana datasource to group_vars
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Ensure rendered node exporter services to monitor include .service
  roles/service/node-exporter/defaults/main.yml
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rdo logserver: set yaml mime type to text/yaml
  roles/rdo/logserver/templates/vhost.j2
Due: sf-infra-configure-hosts-rdo

Create centos10-master-uc RDO Trunk builder
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn-centos9

Always try to pull exporters new image when image is latest
  roles/service/apache-exporter/tasks/main.yml
  roles/service/mysqld-exporter/tasks/main.yml
  roles/service/node-exporter/tasks/main.yaml
  roles/service/opensearch-monitoring/tasks/elk_exporter.yaml
  roles/sf/blackbox-exporter/tasks/main.yaml
  roles/sf/statsd-exporter/tasks/main.yml
  roles/sf/zookeeper-exporter/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule
