Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Bump Quay to last 3.10 version
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/rdo/quay/defaults/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Trigger sf-infra-configure-hosts CI job
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove checking opensearch review.rdoproject.org
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Improve prepare-crc-extracted role to be ready for crc-cloud image
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/files/configure-cloudinit-ssh.service
  roles/next-gen/extracted-crc/files/configure-cloudinit-ssh.sh
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
  roles/next-gen/extracted-crc/tasks/modify.yaml
  roles/next-gen/extracted-crc/tasks/service.yaml
Due: sf-infra-ensure-fqcn

Move the AFS monitoring to centos-stream instead of centos due to centos EOL
  roles/rdo/afs-monitoring/defaults/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-molecule

Add legacy/centos7 role to deal with mirrorlist issue
  playbooks/site_sf.yaml
  roles/legacy/centos7/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove microshift hosts from sf group
  ansible/hosts.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn

Remove trunk-old host
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

prometheus: ensure firewalld allow 9125 udp for statsd exporter
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Set server state absent for trunk-centos8.rdoproject.org and dlrn-db.rdoproject.org
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Observability stack enable loki, configure a few promtail forwarders
  ansible/hosts.yaml
  playbooks/files/aws_credentials.j2
  playbooks/upstream-observability-stack.yaml
  playbooks/vars/observability-stack.yaml
  roles/sf/openshift/install-cert-manager/tasks/create-le-issuer.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/defaults/main.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/download-helm.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-helm.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-k8s-tools.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-logCLI.yaml
  roles/sf/openshift/observability-stack/loki/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/tasks/deploy-loki.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Stop DLRN builders for centos9-xena and centos9-wallaby
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn

add the legacy/centos7 role to rdo hosts
  playbooks/site_rdo.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

microshift.sf.io - handle route by sf-infra
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/openshift/install-cert-manager/defaults/main.yaml
  roles/sf/openshift/install-cert-manager/tasks/create-le-issuer.yaml
  roles/sf/openshift/install-prometheus/tasks/main.yaml
  roles/sf/openshift/install-sf-operator-route/defaults/main.yaml
  roles/sf/openshift/install-sf-operator-route/tasks/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

sf - route fix annotation not part of metadata
  roles/sf/openshift/install-sf-operator-route/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

use another name for the route to avoid sf-operator cleanup
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add legacy/centos7 for osci
  playbooks/site_osci.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

container: Add OOMPolicy in systemd file, add policy continue for k1s
  roles/service/container/tasks/main.yaml
  roles/sf/k1s/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Disable dnsmasq configure script for crc-extracted; fix dns server ips
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
Due: sf-infra-ensure-fqcn

Add variable to set custom CRC bundle image; remove duplicated task
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/setup.yaml
Due: sf-infra-ensure-fqcn

Ensure host ip address is set in resolv.conf when crc-pre service disabled
  playbooks/crc/promote-crc-image.yaml
  roles/next-gen/promote-image/tasks/configure_dnsmasq.yaml
Due: sf-infra-ensure-fqcn

sf.io arch.yaml: Remove ze05 to ze07 and zm05 to zm08
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Create another ssh authorized keys for Zuul
  roles/next-gen/extracted-crc/files/configure-cloudinit-ssh.sh
Due: none

Configure dnsmasq only when the extracted version
  playbooks/crc/promote-crc-image.yaml
Due: sf-infra-ensure-fqcn

Remove Centos8 panels in RDO Puppet Promotion Pipeline
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Reboot CRC host before executing tests when extracted image
  roles/next-gen/promote-image/tasks/configure_dnsmasq.yaml
Due: sf-infra-ensure-fqcn

ibm-bm: rebuild zuul and nodepool instances on rhel-9
  ansible/hosts.yaml
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/site_rdo.yaml
  playbooks/zuul/group_vars/all.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/baremetals/mkInstances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

ibm-baremetal: fix ibm-bm4 crt
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
Due: sf-infra-ensure-fqcn

Port patches required to promote legacy CRC image
  roles/next-gen/promote-image/tasks/configure_dnsmasq.yaml
Due: sf-infra-ensure-fqcn

Add RDO promotion success/failure charts
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

migrate sf-container-worker-1 to rhel
  ansible/hosts.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn

Add ansible role and enable PSI (Pressure Stall Information)
  playbooks/site_bridge.yaml
  playbooks/site_dlrn_centos9.yaml
  playbooks/site_osci.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/psi/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

sf/k9s - use ~/.local/bin/ for the symlink
  roles/sf/k9s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update Connection.ansible_user to be optional
  Infra/AnsibleInventory/createHosts.dhall
  Infra/Connection/Type.dhall
  Infra/Connection/default.dhall
  Infra/Connection/hasProxy.dhall
  Infra/Instance/default.dhall
  Infra/Instance/generate.dhall
  Infra/Instance/getBackup.dhall
  Infra/Instance/getBackups.dhall
  Infra/Instance/getServer.dhall
  Infra/Instance/getServers.dhall
  Infra/Instance/map.dhall
  Infra/Instance/setFqdn.dhall
  Infra/Instance/setName.dhall
  Infra/Tenant/addSecurityGroupsAndSetFqdn.dhall
  Infra/Tenant/getServers.dhall
  Infra/Tenant/getVolumes.dhall
  doc/how-to-manage-instance.md
  monitoring/demo.dhall
  vars/common.dhall
  vars/directory-tree.dhall
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/extra-instances.dhall
  vars/infra-sf/instances.dhall
Due: prometheus-lint

Add days panel to RDO promotion dashboard
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Disable OpenShift console; change authorized key file to zuul in crc
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/main.yaml
  roles/next-gen/extracted-crc/files/configure-cloudinit-ssh.sh
  roles/next-gen/extracted-crc/tasks/modify.yaml
Due: sf-infra-ensure-fqcn

observability stack: enable promtail on all sf nodes
  ansible/hosts.yaml
  vars/infra-rdo/baremetals/mkInstances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn

Remove task for replacing CRC domains with VM ip address in promotion
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: sf-infra-ensure-fqcn

Remove trunk-centos8.rdoproject.org and dlrn-db.rdoproject.org
  doc/inventory.md
  playbooks/group_vars/dlrn
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Update cron job to run once per day
  roles/sf/manage-upstream-config-project/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf
