Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

Update the operator backup cron
  roles/sf/operator-backup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

obs-stack prereqs: refactor some tasks, remove kubectl validation
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-helm.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-k8s-tools.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Ensure sf operator backup are readable by bridge user
  roles/sf/operator-backup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

install-software-factory - add missing and handy 'when' statement
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: add logcli alias on the bridge
  playbooks/upstream-observability-stack.yaml
  playbooks/vars/observability-stack.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/defaults/main.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/logCLI-postintall.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/templates/logcli-alias.sh.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

next-gen: Add zuul gpc pubkey
  roles/next-gen/extracted-crc/README.md
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: sf-infra-configure-hosts-sf

Enable normal operations for centos9-dalmatian builder
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn-centos9

managesf: add acme-tiny role
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

microshift.sf.io: Disable node-exporter
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Redeploy bridge on f-40
  playbooks/create-bridge.yaml
Due: sf-infra-ensure-fqcn, sf-infra-create-bridge

bridge: update server ssh key
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-ensure-fqcn

ensure bridge is redeployed
  playbooks/site_sf.yaml
  playbooks/zuul/configure-hosts.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

acme-tiny: simplify refresh script and change crontab time
  roles/service/acme-tiny/tasks/main.yaml
  roles/service/acme-tiny/templates/acme-tiny-refresh.sh
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fixes for bridge on f40
  actions/README
  playbooks/site_sf.yaml
  playbooks/zuul/configure-hosts.yaml
  roles/system/journald/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Bump OpenSearch and OpenSearch dashboard to 2.15.0
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

logCLI-postinstall: fix name typo
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/logCLI-postinstall.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Trigger applying last changes from ansible-role-elastic-recheck
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Add missing DLRN api endpoints for Quay pruner; remove Centos8 endpoints
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fix helm download url
  roles/sf/openshift/observability-stack/install-prerequisites/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix openstack-simply-reporter script
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
  roles/sf/openstack-simply-reporter/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix helm download task
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/download-helm.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

obs-stack: automate playbook execution
  ansible/hosts.yaml
  playbooks/group_vars/all.yaml
  playbooks/group_vars/observability-stack.yaml
  playbooks/group_vars/promtail.yaml
  playbooks/site_bridge.yaml
  playbooks/upstream-observability-stack.yaml
  roles/sf/openshift/observability-stack/fluent_bit/tasks/deploy-fluentbit.yaml
  roles/sf/openshift/observability-stack/loki/tasks/deploy-loki.yaml
  roles/sf/openshift/observability-stack/promThanos/tasks/deploy-thanos.yaml
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Loki: use TSDB index
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

obs-stack: add grafana version
  roles/sf/openshift/observability-stack/grafana/defaults/main.yaml
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/grafana.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability-stack: add roles to handle S3-like storage
  playbooks/group_vars/observability-stack.yaml
  playbooks/upstream-observability-stack.yaml
  roles/sf/openshift/observability-stack/s3-storage/defaults/main.yaml
  roles/sf/openshift/observability-stack/s3-storage/tasks/create-bucket.yaml
  roles/sf/openshift/observability-stack/s3-storage/tasks/lifecycle.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Observability stack: deploy fluent bit forwarder on ms.sf.io
  playbooks/group_vars/observability-stack.yaml
  playbooks/upstream-observability-stack.yaml
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/tasks/deploy-fluentbit.yaml
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
  roles/sf/openshift/observability-stack/fluent_bit/templates/kustomization.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

fluent-bit: add support for external CAs
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fluent bit: fix extra volumes config
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

fluent bit: fix incorrect volume name
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

fluent bit: fix loki output custom CA validation
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Switch master RDO Trunk builders to epoxy rdoinfo tags
  playbooks/group_vars/dlrn-centos9
Due: sf-infra-configure-hosts-dlrn-centos9

fluent bit: drop "labelized" keys
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

k9s: download pre-built binary instead of building it
  playbooks/group_vars/all.yaml
  playbooks/host_vars/microshift-infra.softwarefactory-project.io.yaml
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  roles/sf/k9s/defaults/main.yaml
  roles/sf/k9s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Dalmatian DLRN API endpoint for Quay pruner
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Check if k9s exists before unarchive
  roles/sf/k9s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Move rdo-release redirect rules to trunk.r.o vhost
  playbooks/host_vars/trunk-server-centos9.rdoproject.org.yaml
  roles/infra-dlrn/dlrn-server/tasks/main.yml
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-molecule

Add redirection links for Dalmatian rdo-release RPM
  playbooks/host_vars/trunk-server-centos9.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo

Only download k9s if needed
  roles/sf/k9s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix typo in fb config
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Set journald logs persistent
  roles/system/journald/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
