Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

node-exporter: Add os_release collector
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

test rhel upgrade to 9.4 for test-rhel-upgrade instance
  playbooks/host_vars/test-rhel-upgrade.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

monitoring: remove lasttime label
  monitoring/binding.dhall
  monitoring/rules-afs.yaml
  monitoring/rules-backup.yaml
  monitoring/rules-dlrn.yaml
  monitoring/rules-es-check.yaml
  monitoring/rules-http.yaml
  monitoring/rules-ibm-instances.yaml
  monitoring/rules-k1s-zombie-containers.yaml
  monitoring/rules-mysqld.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules-nodepool.yaml
  monitoring/rules-openstack-check.yaml
  monitoring/rules-system-updates.yaml
  monitoring/rules-systemd.yaml
  monitoring/rules-zuul.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

k1s role: use new repo to fetch k1s
  playbooks/group_vars/k1s-rhel.yaml
  playbooks/group_vars/k1s.yaml
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove test-rhel-upgrade instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/test-rhel-upgrade.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

monitoring: refactor system_package_update rule, add system_update rule
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
  playbooks/site_osci.yaml
  roles/system/update-host/tasks/main.yml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update k1s to 1.0.1, restore optional install if binary not present
  playbooks/group_vars/k1s-rhel.yaml
  playbooks/group_vars/k1s.yaml
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove dashboards.rdoproject.org host
  ansible/hosts.yaml
  doc/inventory.csv
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/dashboards.rdoproject.org/builder_sync.yml
  playbooks/host_vars/dashboards.rdoproject.org/planet_builder_sync.yml
  playbooks/host_vars/dashboards.rdoproject.org/rdo_dashboards.vault.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/planet.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/website.yml
  playbooks/site_osci.yaml
  playbooks/vars/infra-rdo.yaml
  roles/osci/websites/tasks/builders.yml
  roles/osci/websites/tasks/vhosts.yml
  roles/rdo/quay/defaults/main.yml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-quay-check

Bootstrap CentOS Infra resources management
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site_centOSInfra.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Ensure dnsmasq is disabled when legacy crc-dnsmasq is available
  roles/next-gen/promote-image/tasks/configure_dnsmasq.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix wrong counter value; move cron job from file to crontab
  roles/sf/k1s/files/check-old-containers.sh
  roles/sf/k1s/tasks/probe.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Edit db name for centos10-master-uc Trunk builder
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Make pull behaviour modificable at node-exporter role
  roles/service/node-exporter/defaults/main.yaml
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update robots.txt for rdoproject.org
  playbooks/site_rdo.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Update zuul-weeder container registry
  roles/sf/zuul-weeder/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

monitoring: Add null routes for info and warning alerts, update slack channel
  roles/sf/alert-manager/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

rhel-setup: Ensure update for security only
  roles/system/rhel-setup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Create role responsible for creating robots.txt
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/infra/robots-disallow/defaults/main.yaml
  roles/infra/robots-disallow/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: Add check for EOL fedora and rhel versions
  monitoring/rules-ibm-instances.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Set a default to 'always' for node_exporter_pull_behavior
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Make pull behaviour modificable at blackbox-exporter role
  roles/sf/blackbox-exporter/defaults/main.yml
  roles/sf/blackbox-exporter/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update ISM policies in OpenSearch RDO
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

monitoring: simplify configuration
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-ibm-instances.dhall
  monitoring/rules-ibm-instances.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.dhall
  monitoring/rules-node_proxy.yaml
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
  monitoring/rules.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Increase retention time to 32 hours
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
Due: sf-infra-configure-hosts-sf

ks103: upgrade to rhel-9.4
  playbooks/host_vars/k1s03.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ks104: upgrade to rhel-9.4
  playbooks/host_vars/k1s04.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

k1s05: upgrade to rhel-9.4
  playbooks/host_vars/k1s05.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

sf/instances.dhall: change rhel image to 9.4 for k1s hosts
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

systemd monitoring: Add daily alert for dnf-makecache service
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

rules-systemd: fix typo
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

systemd rule: Add comment to explain why we use name and exported names
  monitoring/rules-systemd.dhall
Due: prometheus-lint

Add topolvm for kind
  roles/extra/kind/defaults/main.yaml
  roles/extra/kind/files/start-lvm.sh
  roles/extra/kind/tasks/certmanager.yaml
  roles/extra/kind/tasks/helm.yaml
  roles/extra/kind/tasks/kind.yaml
  roles/extra/kind/tasks/lvm.yaml
  roles/extra/kind/tasks/main.yaml
  roles/extra/kind/tasks/post.yaml
  roles/extra/kind/tasks/pre-topolvm.yaml
  roles/extra/kind/tasks/pre.yaml
  roles/extra/kind/tasks/topolvm.yaml
  roles/extra/kind/templates/kind-config.yaml
  roles/extra/kind/templates/lvmd.service
  roles/extra/kind/templates/lvmd.yaml.j2
  roles/extra/kind/templates/storage-loop-device.service.j2
  roles/extra/kind/templates/values.yaml.j2
Due: sf-infra-ensure-fqcn

Remove extra/kind and extra/kubernetes roles
  roles/extra/kind/README.md
  roles/extra/kind/defaults/main.yaml
  roles/extra/kind/files/create-kubeconfig
  roles/extra/kind/files/start-lvm.sh
  roles/extra/kind/tasks/certmanager.yaml
  roles/extra/kind/tasks/helm.yaml
  roles/extra/kind/tasks/kind.yaml
  roles/extra/kind/tasks/lvm.yaml
  roles/extra/kind/tasks/main.yaml
  roles/extra/kind/tasks/post.yaml
  roles/extra/kind/tasks/pre-topolvm.yaml
  roles/extra/kind/tasks/pre.yaml
  roles/extra/kind/tasks/topolvm.yaml
  roles/extra/kind/templates/kind-config.yaml
  roles/extra/kind/templates/lvmd.service
  roles/extra/kind/templates/lvmd.yaml.j2
  roles/extra/kind/templates/storage-loop-device.service.j2
  roles/extra/kind/templates/values.yaml.j2
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/files/start-lvm.sh
  roles/extra/kubernetes/tasks/certmanager.yaml
  roles/extra/kubernetes/tasks/crio.yaml
  roles/extra/kubernetes/tasks/firewall.yaml
  roles/extra/kubernetes/tasks/flannel.yaml
  roles/extra/kubernetes/tasks/helm.yaml
  roles/extra/kubernetes/tasks/ingress.yaml
  roles/extra/kubernetes/tasks/kubeadm.yaml
  roles/extra/kubernetes/tasks/lvm.yaml
  roles/extra/kubernetes/tasks/main.yaml
  roles/extra/kubernetes/tasks/metallb.yaml
  roles/extra/kubernetes/tasks/post.yaml
  roles/extra/kubernetes/tasks/pre.yaml
  roles/extra/kubernetes/tasks/selinux.yaml
  roles/extra/kubernetes/tasks/setup_kubeadm.yaml
  roles/extra/kubernetes/tasks/topolvm.yaml
  roles/extra/kubernetes/tasks/untaint.yaml
  roles/extra/kubernetes/templates/storage-loop-device.service.j2
Due: sf-infra-ensure-fqcn

monitoring: remove dnf-makecache specific alert
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Use set for keeplist to improve lookup performance
  roles/rdo/quay/files/quay_tag_pruner.py
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

upgrade monitoring.sf.io to rhel 9.4
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Disallow GPTBot in robots.txt
  roles/infra/robots-disallow/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rhel-subscription: remove no_log for redhat_subscription
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add python3-passlib+bcrypt to be installed on bridge host
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-ensure-fqcn

Remove sf-infra-configure-quay job and migrate tasks in site_bridge
  playbooks/site_bridge.yaml
  playbooks/zuul/configure-quay-host.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-quay

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
