Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Revert "Disable firewalld service"
  playbooks/site_osci.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

sf-infra-ensure-fqcn: Enable voting
  zuul.d/bash-jobs.yaml
Due: sf-infra-ensure-fqcn

Enable firewall on OSCI managed hosts
  playbooks/group_vars/osci/_firewall.yml
Due: sf-infra-ensure-fqcn

Change promotion test play
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: sf-infra-ensure-fqcn

Trigger osci CI job when group_vars osci changed
  playbooks/group_vars/osci/_firewall.yml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

manage-accounts: update tristanc ssh-key
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

logjuicer: use tls-ca-bundle.pem instead /etc/pki
  roles/sf/logjuicer/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Enable node-exporter and apache-exporter firewall rules on www.rdoproject.org
  playbooks/group_vars/osci/_firewall.yml
  playbooks/site_osci.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

Change systemd journald size
  playbooks/site_bridge.yaml
  playbooks/site_dlrn.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/journald/defaults/main.yaml
  roles/system/journald/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

observability: Grafana-related roles
  roles/sf/openshift/observability-stack/grafana/README.md
  roles/sf/openshift/observability-stack/grafana/defaults/main.yaml
  roles/sf/openshift/observability-stack/grafana/tasks/deploy-grafana.yaml
  roles/sf/openshift/observability-stack/grafana/tasks/install-operator.yaml
  roles/sf/openshift/observability-stack/grafana/tasks/loki-datasource.yaml
  roles/sf/openshift/observability-stack/grafana/tasks/prometheus-datasource.yaml
  roles/sf/openshift/observability-stack/grafana/templates/dataSource/loki/base-kustomization.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/dataSource/loki/loki.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/dataSource/loki/overlay-kustomization.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/dataSource/prometheus/prometheus.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/base-kustomization.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/grafana.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/overlay-kustomization.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/route.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: federate existing prometheuses
  roles/sf/openshift/observability-stack/promThanos/defaults/main.yaml
  roles/sf/openshift/observability-stack/promThanos/tasks/deploy-prometheus.yaml
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/scrapeconfig-federation.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability stack: enable loki alert rules as configMaps
  roles/sf/openshift/observability-stack/loki/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/defaults/main.yaml
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/scrapeconfig-federation.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Observability: deploy Thanos via Helm
  roles/sf/openshift/observability-stack/promThanos/defaults/main.yaml
  roles/sf/openshift/observability-stack/promThanos/tasks/deploy-prometheus.yaml
  roles/sf/openshift/observability-stack/promThanos/tasks/deploy-thanos.yaml
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/objstore.yml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/prometheus.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/thanos/chart-values.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/thanos/route.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Dump machineconfigpool before generating CRC bundle
  roles/next-gen/extracted-crc/tasks/bundle.yaml
  roles/next-gen/extracted-crc/tasks/modify.yaml
Due: sf-infra-ensure-fqcn

observability stack: Fix various typos
  roles/sf/openshift/observability-stack/install-prerequisites/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/files/servicemonitor.yaml
  roles/sf/openshift/observability-stack/loki/templates/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/files/kustomization.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-deployment.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-post-config.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-pv.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-scrapeconfig.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-service.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
  roles/sf/openshift/observability-stack/minio/templates/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/route-api.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/files/prometheus/route.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: further fixes related to gpc and minio
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/files/kustomization.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-deployment.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-namespace.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-post-config.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-prometheusrule.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-pv.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-scrapeconfig.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-service.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
  roles/sf/openshift/observability-stack/minio/templates/route-console.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zuul-weeder: Ensure zk is defined on /etc/hosts
  playbooks/group_vars/all.yaml
  roles/sf/zuul-weeder/defaults/main.yml
  roles/sf/zuul-weeder/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

prometheus: redeploy host on rhel-9.3
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

prometheus.monitoring: Add service/node-exporter
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix jsonnetfile.json error
  roles/sf/grafana/files/ng-ci-dashboard/Dockerfile
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/jsonnetfile.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

monitoring: remove pushprox role
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/service/node-exporter/defaults/main.yml
  roles/sf/pushprox/.yamllint
  roles/sf/pushprox/README.md
  roles/sf/pushprox/defaults/main.yml
  roles/sf/pushprox/handlers/main.yml
  roles/sf/pushprox/molecule/default/converge.yml
  roles/sf/pushprox/molecule/default/molecule.yml
  roles/sf/pushprox/tasks/client.yml
  roles/sf/pushprox/tasks/main.yml
  roles/sf/pushprox/tasks/proxy.yml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
  vars/infra-sf/rules/package.dhall
  vars/infra-sf/rules/push-prox.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Correct volume mounting flag in logjuicer task
  roles/sf/logjuicer/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zuul-weeder: Add playbook to ensure zuul config is synced
  ansible/hosts.yaml
  playbooks/site_sf.yaml
  playbooks/tasks/zuul-weeder-sync-zuul-config.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zuul-weeder-sync: Add condition when /etc/zuul/zuul.conf doesn't exist
  playbooks/tasks/zuul-weeder-sync-zuul-config.yaml
Due: sf-infra-ensure-fqcn

Improve the CRC promotion test to support OCP 4.15
  playbooks/crc/promote-crc-image.yaml
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: sf-infra-ensure-fqcn

Add condition to check if kubelet config.json exists in promotion
  playbooks/crc/promote-crc-image.yaml
Due: sf-infra-ensure-fqcn

logjuicer: ensure /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:ro
  roles/sf/logjuicer/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix logjuicer path for certs
  roles/sf/logjuicer/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Skip removing pods in pending state for promotion crc tests
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: sf-infra-ensure-fqcn

minio: fix kustomize auto-labeling
  roles/sf/openshift/observability-stack/minio/files/kustomization.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

minio: fix deployment label for service selector
  roles/sf/openshift/observability-stack/minio/files/minio-deployment.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Loki: fix default podSecurityContexts, do not check namespace
  roles/sf/openshift/observability-stack/loki/tasks/deploy-loki.yaml
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

loki: fix insecure tls config option
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Promtail: fix restart step, ensure config is reloaded
  roles/service/promtail/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

ansible_fqcn_fixer.sh: Skip files matching specific patterns
  roles/rdo/logserver/tasks/main.yaml
  roles/service/promtail/tasks/main.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-k8s-tools.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-logCLI.yaml
  scripts/ansible_fqcn_fixer.sh
  scripts/fqcn_fixer_exclude_patterns.txt
Due: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

ibm-instance: ensure zk in /etc/hosts
  playbooks/group_vars/all.yaml
  playbooks/site_sf.yaml
  roles/sf/zuul-weeder/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

ibm-instance: ensure zuul|nodepool services are restarted if /etc/hosts updated
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix minor grafana role issues
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/grafana.yaml.j2
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/route.yaml.j2
  roles/sf/openshift/observability-stack/minio/files/minio-deployment.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

logjuicer: disable security label
  roles/sf/logjuicer/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Refine sf-admin group: add abreeds, set ykarel as absent
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
