Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Add the OPENSHIFT_USER env to the command line
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Improve filtering ports status
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts-sf

alert-manager: Add bits to add extra route and receiver, refactoring
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
  roles/sf/alert-manager/defaults/main.yaml
  roles/sf/alert-manager/tasks/main.yaml
  roles/sf/alert-manager/templates/alertmanager.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Unlock issue on the bridge with psi role
  roles/system/psi/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

alert-manager: uncomment tasks used for testing, fix typo
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
  roles/sf/alert-manager/tasks/main.yaml
  roles/sf/alert-manager/templates/alertmanager.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add more debug info for openstack simply reporter script
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts-sf

alertmanager: fix matchers definition
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Set up the centos9-epoxy worker for RDO Trunk.
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Add improvements for CRC 2.48
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/post.yaml
  roles/extra/crc/tasks/setup.yaml
  roles/extra/crc/tasks/workarounds.yaml
  roles/next-gen/promote-image/tasks/configure_dnsmasq.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Install Go for the CentOS Infra
  ansible/ansible.cfg
  playbooks/site_centOSInfra.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Add a new microshift host for hosting the sf-on-centos executor
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Deploy SoftwareFactory on CentOS Infra
  ansible/hosts.yaml
  playbooks/files/centos-infra/networking.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

site_bridge: clear facts cache
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site_bridge.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Ensure microshift-ze fip for /etc/hosts
  playbooks/group_vars/all.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Disallow Blexbot in robots.txt
  roles/infra/robots-disallow/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

roles_path: use a relative path so that sf-infra can be performed locally
  ansible/ansible.cfg
Due: none

microshift-ze01: Add rhel group for registration
  ansible/hosts.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn

microshift-ze01: ensure rhel-9.4
  playbooks/host_vars/microshift-ze01.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Revert "roles_path: use a relative path so that sf-infra can be performed locally"
  ansible/ansible.cfg
Due: none

Use zuul job dependencies to perform site_bridge before centos infra
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site_centOSInfra.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Fix ansible fact cache poisining breaking ansible_user_dir on the bridge
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

centos Infra: create zookeeper, gitserver load balancers
  playbooks/files/centos-infra/networking.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

Add volume to microshift-ze01.softwarefactory-project.io
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

microshift-ze01: install microshift, k9s
  ansible/hosts.yaml
  playbooks/group_vars/centos-infra-zuul-executors.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
  roles/sf/setup-microshift/tasks/main.yaml
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

microshift-ze01: ensure k8s-client security-groups
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Enable normal operations for centos9-epoxy builder
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

microshift-ze: configure standalone executor(s)
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add IBM3 and IBM4 credentials into the clouds.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Temporary ignore CA cert verification for IBM cloud; add sf-operator.yaml match
  playbooks/group_vars/sf-operator.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

centos infra: Enable zuul configuration
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Open zuul-finger for microshift-ze01
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Enable normal operations for centos10-master-uc builder
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Add redirection links for Epoxy rdo-release RPM
  playbooks/host_vars/trunk-server-centos9.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo

Use the floating ip for the executor_plane on the centos infra
  playbooks/host_vars/microshift-ze01.softwarefactory-project.io.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zuul.d - update files matchers for the centos sf deployment job
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update the user to use by nodepool-builder on image-builder machine
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

centos Infra: various fixes for issues raised by cutoff
  playbooks/files/centos-infra/networking.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

centOS Infra deployment: add temporary SSO
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

deploy SF on centos infra with CA fix
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

Add node-exporter role for centos-infra-zuul-executors hosts
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn
