Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

install-software-factory: update to the new deploy command
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update zuul-merger to 1vcpu_4gb flavor
  doc/inventory.md
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Remove microshift instance for upstream infrastruture
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  playbooks/group_vars/microshift-sf.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/upstream-observability-stack.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
  roles/sf/openshift/observability-stack/promThanos/defaults/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

centos infra: deploy fluent bit on control plane, executors
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/upstream-observability-stack.yaml
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/tasks/deploy-fluentbit.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Add correlate-build-failure tool
  tools/correlate-build-failure/Main.hs
  tools/correlate-build-failure/README.md
  tools/correlate-build-failure/cabal.project
  tools/correlate-build-failure/correlate-build-failure.cabal
Due: none

Add full job-output decoder
  tools/correlate-build-failure/JobOutput.hs
  tools/correlate-build-failure/Main.hs
  tools/correlate-build-failure/correlate-build-failure.cabal
Due: none

Add kernel version decoder
  tools/correlate-build-failure/Main.hs
Due: none

Add full inventory decoder
  tools/correlate-build-failure/JobOutput.hs
  tools/correlate-build-failure/Main.hs
  tools/correlate-build-failure/ZuulInventory.hs
  tools/correlate-build-failure/correlate-build-failure.cabal
Due: none

centos infra: enable log forwarding on remote executors
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: add executor label for satellite deployments
  playbooks/upstream-observability-stack.yaml
Due: sf-infra-ensure-fqcn

Update the InventoryCSV tool to support Server State
  tools/InventoryCSV.hs
  zuul.d/haskell-jobs.yaml
Due: sf-infra-ensure-fqcn, cabal-test

Add etcd slower profile option in CRC; set default CRC version to 2.48
  playbooks/crc/crc-make-snapshot.yaml
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/slow_etcd.yaml
Due: sf-infra-ensure-fqcn

Fix crc_etcd_slow_profile variable parameter
  playbooks/crc/crc-make-snapshot.yaml
Due: sf-infra-ensure-fqcn

ansible_fqcn_fixer: correct FQCN for seport
  roles/extra/crc/tasks/console.yaml
  scripts/ansible_fqcn_fixer.sh
Due: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn

Update the logjuicer location
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  roles/sf/logjuicer/templates/vhost.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Set the image cache value
  playbooks/group_vars/sf-operator.yaml
  playbooks/zuul/templates/clouds.yaml.j2
  roles/next-gen/prepare-host/templates/clouds.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Switch master RDO Trunk builders to Flamingo rdoinfo tags
  playbooks/group_vars/dlrn-trunk.yaml
Due: sf-infra-ensure-fqcn

Refine several memory alerts descriptions
  monitoring/rules-node.yaml
  monitoring/rules.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add new Flamingo panels and layout in RDO dashboard
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

zm01.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/zm01.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zm02.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/zm02.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zm03.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/zm03.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

zm04.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/zm04.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ze01.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/ze01.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ze02.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/ze02.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ze03.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/ze03.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ze04.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/ze04.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Redirect rdo-release CS9 RPM to Epoxy Release
  playbooks/host_vars/trunk-server-centos9.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-rdo

centosinfra-prod: move related vars from bridge to sf-operator
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

centos infra: deploy prometheus on the control plane namespace
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/files/centos-infra/prometheus-resources.yaml
  playbooks/site_centOSInfra.yaml
  roles/sf/openshift/external-zuul-executor/defaults/main.yaml
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Disable etcd slow profile by default
  roles/extra/crc/defaults/main.yaml
Due: sf-infra-ensure-fqcn

Disable also etcd slow profile in main playbook
  playbooks/crc/crc-make-snapshot.yaml
Due: sf-infra-ensure-fqcn

Upgrade upstream ibm-bm3-ze.softwarefactory-project.io host to RHEL 9.4
  playbooks/host_vars/ibm-bm3-ze.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ibm-bm4-ze.sf.io: upgrade to rhel-9.4
  playbooks/host_vars/ibm-bm4-ze.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Upgrade upstream nodepool-builder.softwarefactory-project.io.yaml host to RHEL 9.4
  playbooks/host_vars/nodepool-builder.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Upgrade upstream ibm-bm3-zfgw.softwarefactory-project.io host to RHEL 9.4
  playbooks/host_vars/ibm-bm3-zfgw.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove unused role: install-sf-operator-route
  roles/sf/openshift/install-sf-operator-route/defaults/main.yaml
  roles/sf/openshift/install-sf-operator-route/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Upgrade upstream ibm-bm4-zfgw.softwarefactory-project.io host to RHEL 9.4
  playbooks/host_vars/ibm-bm4-zfgw.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add k1s06 instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

ze, zm: ensure rhel-9.4 image
  doc/inventory.md
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf
