Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell-ghc9

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

Adjust the review.rdoproject.org canonical hostname
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

Add missing builder key to crc image
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add missing public key comment
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Fix cloud-init user creation ssh key
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update centos-infra prod container limits
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

Remove nodepool-builder, ze and zm instances
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Upgrade k1s hosts to rhel-9.6 (except k1s06 for now)
  playbooks/group_vars/k1s-rhel.yaml
  playbooks/host_vars/k1s06.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Ensure group_vars/k1s.* for files in zuul jobs for infra-sf
  playbooks/group_vars/k1s-rhel.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Update k1s05 certificate
  playbooks/host_vars/k1s05.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

This change removes useless users definition in kubeconfig
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

rhel: Add EEUS repo
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rhel: remove temporary task used to setup EEUS repos
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

k1s06 upgrade to rhel-9.6
  playbooks/host_vars/k1s06.softwarefactory-project.io.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Revert "rhel: remove temporary task used to setup EEUS repos"
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

bridge: Ensure zuul-console security group
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Add sf-container-worker-1 cert for centosInfraProd
  playbooks/host_vars/sf-container-worker-1.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Bump sf-operator to v0.0.67
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Bump Go version for u/s to 1.25.10
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  roles/bridge/install-go/defaults/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

redirection of review.rdoproject.org/zuul to centOS infra
  playbooks/templates/review.rdoproject.org/gateway.common.j2
Due: none

monitoring: remove elasticsearch rule, update rhel and fedora versions
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-es-check.dhall
  monitoring/rules-es-check.yaml
  monitoring/rules-supported_OS.dhall
  monitoring/rules-supported_OS.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

sf.io, review.rdo: fix gateway.common for zuul redirection to centosInfraProd
  monitoring/prometheus.yaml
  playbooks/templates/review.rdoproject.org/gateway.common.j2
  playbooks/templates/softwarefactory-project.io/gateway.common.j2
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

monitoring: Remove osp-trunk from WillRunOutOfMemoryInThreeDays alert
  monitoring/node-exporter-ibm-instances.dhall
  monitoring/rules-node.yaml
  monitoring/rules.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Update zuul_gitlab_com_connection_api_token
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Increase ansible init playbook timeout on executors
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
Due: sf-infra-ensure-fqcn

sf: Remove sf.io legacy instances
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Remove sf.io legacy instances data
  doc/inventory.md
  playbooks/group_vars/private-afs-mirror.yaml
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/ibm-bm3-nodepool-launcher.softwarefactory-project.io.yaml
  playbooks/host_vars/ibm-bm3-ze.softwarefactory-project.io.yaml
  playbooks/host_vars/ibm-bm3-zfgw.softwarefactory-project.io.yaml
  playbooks/host_vars/ibm-bm4-nodepool-launcher.softwarefactory-project.io.yaml
  playbooks/host_vars/ibm-bm4-ze.softwarefactory-project.io.yaml
  playbooks/host_vars/ibm-bm4-zfgw.softwarefactory-project.io.yaml
  playbooks/host_vars/koji.softwarefactory-project.io.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm4-nodepool.rdoproject.org.yaml
  playbooks/host_vars/nodepool-builder.softwarefactory-project.io.yaml
  playbooks/host_vars/ze01.softwarefactory-project.io.yaml
  playbooks/host_vars/ze02.softwarefactory-project.io.yaml
  playbooks/host_vars/ze03.softwarefactory-project.io.yaml
  playbooks/host_vars/ze04.softwarefactory-project.io.yaml
  playbooks/host_vars/zm01.softwarefactory-project.io.yaml
  playbooks/host_vars/zm02.softwarefactory-project.io.yaml
  playbooks/host_vars/zm03.softwarefactory-project.io.yaml
  playbooks/host_vars/zm04.softwarefactory-project.io.yaml
  playbooks/host_vars/zs.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update the zuul_gitlab_com_connection_api_token re-encrypted with correct vault
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Remove pagure.io and src.fedoraproject.org connections
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  playbooks/files/centos-infra/extra-resources.yaml.j2
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add Zuul SSH keys to nodepool OpenStack projects
  playbooks/configure-tenants.yaml
  playbooks/tasks/configure-tenant.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants

Disable ssh access to leaving member
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove tino's admin group
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

removing nodepool-rdo tenant references
  Makefile
  README.md
  playbooks/configure-tenants.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  vars/nodepool-rdo/networking.dhall
  vars/tenants.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-configure-bridge, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

Bump go version 1.25.11
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

tools: fix sf-operator build command to set version properly
  tools/sf-operator
Due: none

Users management: remove "absent" users
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

logserver-lb: set idle timeout to 300
  playbooks/files/centos-infra/networking.yaml
Due: sf-infra-ensure-fqcn

logserver-lb: increase timeout to 900
  playbooks/files/centos-infra/networking.yaml
Due: sf-infra-ensure-fqcn

Monitoring: remove obsolete sources, change urls
  monitoring/package.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Remove obsolete dashboards
  roles/sf/grafana/files/infra/elasticsearch.json
  roles/sf/grafana/files/infra/zookeeper-exporter.json
  roles/sf/grafana/files/infra/zuul-summary.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Backport decrypt secret locally
  tools/decrypt-zuul-secret.py
Due: none

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
