Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Remove old RDO Trunk infra from monitoring and remove reference to trunk.r.o
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Set host network for test container
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: sf-infra-ensure-fqcn

Change qcow2 compression algorithm to zlib
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/tasks/compress.yaml
  roles/next-gen/extracted-crc/tasks/main.yaml
Due: sf-infra-ensure-fqcn

Move koji httpd configuration to separate role; improve backup-srv role
  Infra/Backup/Location/Type.dhall
  Infra/Backup/Server/Type.dhall
  Infra/Backup/Server/default.dhall
  Infra/Backup/Type.dhall
  Infra/Backup/default.dhall
  Infra/Backup/mkLocations.dhall
  Infra/Backup/mkServers.dhall
  Infra/Backup/package.dhall
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/rdo/backup-monitoring/defaults/main.yaml
  roles/rdo/backup-monitoring/tasks/main.yml
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/files/backup.yaml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/rdo/koji_httpd/files/options-ssl-apache.conf
  roles/rdo/koji_httpd/handlers/main.yml
  roles/rdo/koji_httpd/tasks/httpd_koji.yaml
  roles/rdo/koji_httpd/tasks/main.yaml
  roles/rdo/koji_httpd/templates/site.conf.j2
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-molecule

Comment pool_ids parameter for RHEL subscription; set path for squid file
  roles/rdo/ibm-redhat-subscription/tasks/main.yaml
  roles/rdo/ibm-shiftstack-squid/tasks/main.yaml
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move RDO Trunk infra to EL9 - mariadb
  ansible/hosts.yaml
  playbooks/group_vars/dlrn-centos9
  playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml
  playbooks/site_dlrn_centos9.yaml
  playbooks/vars/dlrn-db.yaml
  roles/infra-dlrn/mariadb-replicated/README.md
  roles/infra-dlrn/mariadb-replicated/files/run-xtrabackup.sh
  roles/infra-dlrn/mariadb-replicated/tasks/backup-mariadb.yml
  roles/infra-dlrn/mariadb-replicated/tasks/common.yml
  roles/infra-dlrn/mariadb-replicated/tasks/firewalld-mariadb.yml
  roles/infra-dlrn/mariadb-replicated/tasks/replica.yml
  roles/infra-dlrn/mariadb-replicated/tasks/secure-mariadb.yml
  roles/infra-dlrn/mariadb-replicated/templates/mariabackup.cnf.j2
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Switch RDO Trunk to EL9 - dlrn part
  playbooks/group_vars/dlrn-centos9
  playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml
  playbooks/host_vars/trunk-builder-centos9.rdoproject.org.yaml
  playbooks/host_vars/trunk-server-centos9.rdoproject.org.yaml
  playbooks/site_dlrn_centos9.yaml
  playbooks/vars/dlrn.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Add trunkbackup user to backup server
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/rdo/backup-srv/tasks/trunk.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Set temporary MTU to 1600 on Quay host
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Revert "Set temporary MTU to 1600 on Quay host"
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Fix condition for syncing CRC images
  roles/next-gen/sync-images/tasks/get_image.yaml
Due: sf-infra-ensure-fqcn

Add collect-zuul-config-errors.sh script
  scripts/collect-zuul-config-errors.sh
Due: none

Fix backupTooOld alert being fired incorrectly
  playbooks/host_vars/backup.rdoproject.org.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Install cert-manager for openshift routes on ms-infra
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Pin MicroShift and OLM versions to microshifts hosts
  playbooks/host_vars/microshift-infra.softwarefactory-project.io.yaml
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Move CI test job to use Centos 9 Stream instead of Centos 8 Stream
  playbooks/create-bridge.yaml
  roles/tests/grafana/tasks/pre-grafana-dash.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-create-bridge

msinfra.sf.io: install certmanager via role
  playbooks/site_sf.yaml
  roles/sf/openshift/install-cert-manager/defaults/main.yaml
  roles/sf/openshift/install-cert-manager/tasks/create-le-issuer.yaml
  roles/sf/openshift/install-cert-manager/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

anisble-microshift-role: pin version with override-checkout
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

ansible-microshift-role: use a tag for the pinning
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Add centos-new.sf.io instance for rhel-9 migration
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

install-server: Add bits to setup sf-config binary
  roles/infra/install-server/tasks/setup.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

remove centos-new instances following reinstall on rhel-9
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Add -new instances for sf-project.io infra
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Add -new instances for rdoproject.org infra
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

managesf instances on rhel-9: add setup tasks to install sf-config bits
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

observability: minor improvements to fluent bit role
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/tasks/deploy-fluentbit.yaml
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Update monitoring services; drop logscraper container image redefinition
  playbooks/group_vars/all.yaml
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update Grafana dashboards after upgrade to new version
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
  roles/sf/grafana/files/infra/apache-exporter.json
  roles/sf/grafana/files/infra/blackbox.json
  roles/sf/grafana/files/infra/downstream-dashboard.json
  roles/sf/grafana/files/infra/elasticsearch.json
  roles/sf/grafana/files/infra/node_exporter.json
  roles/sf/grafana/files/infra/zookeeper-exporter.json
  roles/sf/grafana/files/infra/zuul-summary.json
  roles/sf/grafana/files/opendev/afs.json
  roles/sf/grafana/files/vexxhost/downstream-dashboard-vexxhost.json
  roles/sf/grafana/files/vexxhost/node_exporter-vexxhost.json
  roles/sf/grafana/files/vexxhost/vexxhost-summary.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Temporary disable managesf-new.softwarefactory-project.io from play
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Bump node-exporter to 1.8.1
  playbooks/group_vars/all.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update Grafana datasources
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

sf rhel9 migration: rename -new instances with final fqdn
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/tasks/zuul-weeder-sync-zuul-config.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

infra-sf, infra-rdo: finalize rhel-9 migration for review.rdo and ansible.sf.io
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/infra/install-server/files/arch-managesf.review.rdoproject.org.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

infra-sf: remove koji and fedora-new.sf.io instances
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update node exporter dashboard
  roles/sf/grafana/files/infra/node_exporter.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Change Prometheus datasource scrape interval to 1m
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Tune Quay service parameters; change MTU to 1500
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/tasks/quay.yml
  roles/rdo/quay/templates/config.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Add permission to list /var/www/logs dir; remove ara entries
  roles/rdo/logserver/templates/vhost.j2
Due: sf-infra-configure-hosts-rdo

rdo/logserver: Ensure http packages
  roles/rdo/logserver/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

logserver: Allow to display the content of compressed files with gzip
  roles/rdo/logserver/templates/vhost.j2
Due: sf-infra-configure-hosts-rdo
