Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Change Prometheus regex for system_package_update
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Add tune-dnf role; add role to all infra hosts
  playbooks/site_osci.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/tune-dnf/defaults/main.yaml
  roles/system/tune-dnf/tasks/main.yaml
  roles/system/tune-dnf/tasks/tune.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Take created_at field instead of updated_at for cleaning DOWN ports
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
Due: none

Add retry to remove trunk network
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
Due: none

Observability stack: init project, add role to install dependencies
  roles/sf/openshift/observability-stack/README.md
  roles/sf/openshift/observability-stack/install-prerequisites/defaults/main.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-k8s-tools.yaml
  roles/sf/openshift/observability-stack/install-prerequisites/tasks/install-logCLI.yaml
  roles/sf/openshift/observability-stack/observability-stack-simplified-arch.svg
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add role to deploy minIO on microshift
  roles/sf/openshift/observability-stack/minio/README.md
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/files/kustomization.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-namespace.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-pod.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-post-config.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-pv.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-secrets.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-service.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
  roles/sf/openshift/observability-stack/minio/templates/job.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/pod.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/pvc.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add role to deploy Loki on microshift
  roles/sf/openshift/observability-stack/loki/README.md
  roles/sf/openshift/observability-stack/loki/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/files/kustomization.yaml
  roles/sf/openshift/observability-stack/loki/files/statefulset-backend.yaml
  roles/sf/openshift/observability-stack/loki/tasks/deploy-loki.yaml
  roles/sf/openshift/observability-stack/loki/templates/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
  roles/sf/openshift/observability-stack/loki/templates/route.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Comment gerrit_user parameter for centos9-caracal builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Address comments from a previous review
  roles/extra/crc/tasks/console.yaml
  roles/extra/kubernetes/tasks/firewall.yaml
  roles/extra/kubernetes/tasks/kubeadm.yaml
  roles/infra-dlrn/dlrn-server/molecule/default/gilt.yml
  roles/rdo/backup-srv/files/backup-koji.yaml
  roles/rdo/backup-srv/files/backup.yaml
  roles/rdo/backup-srv/handlers/main.yml
  roles/rdo/ibm-shiftstack-squid/tasks/main.yaml
  roles/rdo/logserver/tasks/main.yaml
  roles/rdo/opendev-system-config-kerberos-client/tasks/main.yaml
  roles/rdo/opendev-system-config-mirror/handlers/main.yaml
  roles/rdo/opendev-system-config-mirror/tasks/Debian.yaml
  roles/rdo/opendev-system-config-mirror/tasks/RedHat.yaml
  roles/rdo/opendev-system-config-mirror/tasks/main.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/main.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/CentOS.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/Debian.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/RedHat.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/default.yaml
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/handlers/main.yml
  roles/sf/monitoring-gateway/tasks/main.yaml
  roles/sf/openshift/install-cert-manager-openshift-routes/files/deploy-resources.yaml
  scripts/ansible_fqcn_fixer.sh
Due: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-quay-check

Enable normal operations for centos9-caracal builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

tasks/create-hosts: add when condition for attach additional volume
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-ensure-fqcn, sf-infra-create-hosts

Use virsh command instead of crc bundle generate
  playbooks/crc/crc-make-snapshot.yaml
  roles/next-gen/crc-snapshot/README.md
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/tasks/bundle.yaml
  roles/next-gen/extracted-crc/tasks/modify.yaml
Due: sf-infra-ensure-fqcn

arch rdo/sf.io: remove opensearch components
  roles/infra/install-server/files/arch-managesf.review.rdoproject.org.yaml
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add a role to install and configure promtail
  roles/service/promtail/defaults/main.yaml
  roles/service/promtail/tasks/main.yaml
  roles/service/promtail/templates/promtail.service.j2
  roles/service/promtail/templates/promtail.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

minio: turn into a deployment
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/files/kustomization.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-deployment.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-pod.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-post-config.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
  roles/sf/openshift/observability-stack/minio/templates/deployment.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/kustomization.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: add fluent bit deployment role
  roles/service/promtail/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/README.md
  roles/sf/openshift/observability-stack/fluent_bit/defaults/main.yaml
  roles/sf/openshift/observability-stack/fluent_bit/files/kustomization.yaml
  roles/sf/openshift/observability-stack/fluent_bit/tasks/deploy-fluentbit.yaml
  roles/sf/openshift/observability-stack/fluent_bit/templates/chart-values.yaml.j2
  roles/sf/openshift/observability-stack/fluent_bit/templates/kustomization.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

observability stack: configure loki retention policy
  roles/sf/openshift/observability-stack/loki/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/templates/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/loki/templates/loki-helm-values.yaml.j2
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-post-config.yaml
  roles/sf/openshift/observability-stack/minio/templates/kustomization.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add additional_datasources variable to render
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add condition to verify that the rc code is provided
  roles/system/epel-release/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

k1s03 on rhel-9.3
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/system/epel-release/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add missing variable to render recreate CRC image script
  roles/next-gen/crc-snapshot/defaults/main.yaml
Due: sf-infra-ensure-fqcn

monitoring - remove review.rdo's kibana from target
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Remove opensearch-monitoring role
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add a Github connection on microshift.softwarefactory.io/zuul
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

create-hosts: fix when condition to attach volume
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-ensure-fqcn, sf-infra-create-hosts

add rhel-9.3-x86_64-kvm image, redeploy k1s04
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/group_vars/k1s-rhel.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/common.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Switch master RDO Trunk builders to dalmatian rdoinfo tags
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

update github.com webhook token to remove trailing line
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

remove images.rdoproject.org
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

remove completly images.rdoprojects.org and few minor removals
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/images.rdoproject.org.yaml
  playbooks/host_vars/integrations.softwarefactory-project.io.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Observability stack: add "path" variable to loki route
  roles/service/promtail/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/templates/route.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Observability: add role to deploy prometheus + thanos sidecar
  roles/sf/openshift/observability-stack/promThanos/README.md
  roles/sf/openshift/observability-stack/promThanos/defaults/main.yaml
  roles/sf/openshift/observability-stack/promThanos/files/prometheus/kustomization.yaml
  roles/sf/openshift/observability-stack/promThanos/files/prometheus/kustomizeconfig.yaml
  roles/sf/openshift/observability-stack/promThanos/files/prometheus/prometheus.yaml
  roles/sf/openshift/observability-stack/promThanos/files/prometheus/route.yaml
  roles/sf/openshift/observability-stack/promThanos/tasks/deploy-prometheus.yaml
  roles/sf/openshift/observability-stack/promThanos/tasks/ensure-serviceaccount.yaml
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/kustomization.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/objstore.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/prometheus.yaml.j2
  roles/sf/openshift/observability-stack/promThanos/templates/prometheus/route.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: collect minio metrics, add alerting
  roles/sf/openshift/observability-stack/minio/files/kustomization.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-deployment.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-prometheusrule.yaml
  roles/sf/openshift/observability-stack/minio/files/minio-scrapeconfig.yaml
  roles/sf/openshift/observability-stack/minio/tasks/install-minio.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

observability: collect loki metrics, add default alerting
  roles/sf/openshift/observability-stack/loki/files/kustomization.yaml
  roles/sf/openshift/observability-stack/loki/files/prometheusrule.yaml
  roles/sf/openshift/observability-stack/loki/files/servicemonitor.yaml
  roles/sf/openshift/observability-stack/loki/tasks/deploy-loki.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

backup-srv: install ansible-core instead ansible package
  roles/rdo/backup-srv/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Add vhost configuration for zuul-weeder
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/zuul-weeder/defaults/main.yml
  roles/sf/zuul-weeder/tasks/vhost.yaml
  roles/sf/zuul-weeder/templates/vhost.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

roles/sf: Add logjuicer role
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/logjuicer/README.md
  roles/sf/logjuicer/defaults/main.yml
  roles/sf/logjuicer/tasks/main.yml
  roles/sf/logjuicer/tasks/vhost.yaml
  roles/sf/logjuicer/templates/vhost.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Trigger job to configure www.rdoproject.org
  playbooks/site_osci.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

RDO website: fix redirecting vhosts
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

Disable firewalld service
  playbooks/site_osci.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci
