Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell-ghc9

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

Send hardware-related alerts to rhos-dfg-pcinfra+hwmon
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
  roles/sf/alert-manager/templates/alertmanager.yml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

centosinfra-prod: import gerrit connections from sf.io
  playbooks/group_vars/sf-operator.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

centosinfra-prod: import legacy zuul key used when populating nodes
  playbooks/group_vars/sf-operator.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

centosinfra-prod: remove one-time tasks related to ssh key import
  playbooks/group_vars/sf-operator.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

centosinfra-prod: add SMTP connection
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

site_rdo: comment instance setup for quay and mirror-vexxhost
  ansible/hosts.yaml
  playbooks/site_rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo

infra-rdo: Add quay_public security group rules for pg and redis, set network to public
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo

centosinfra-prod: fix missing rodproject.org server param
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

mirror: fix timeout issue with openafs-client on mirror-vexxhost
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/RedHat.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

centosinfra-prod: add pagure-type connections
  playbooks/group_vars/sf-operator.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

centosinfra-prod: add gitlab connection
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

centosinfra-prod: add git-driver github connection
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

k1s: rename ansible group to "k1s-secrets"
  ansible/hosts.yaml
  playbooks/group_vars/k1s-secrets.yaml
  playbooks/site_sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

monitoring: remove alerting for dnf-makecache.service
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Prevent access to gitiles for all to avoid load surges
  roles/infra/robots-disallow/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove rdo-web-builder from our management
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/host_vars/rdo-web-builder.int.osci.io/builders.vault.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/planet.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/website.yml
  playbooks/site_osci.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo

centosinfra-prod: upgrade to v0.0.57
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

rhel-setup: ensure all available upgrades are installed
  roles/system/rhel-setup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add namespaces for podified master c10 - RDO quay
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

centosinfra-prod: add kube.config, k1s06
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Reduce InstanceOutOfSwap threshold to 10% to reduce alert noise
  monitoring/rules-node.yaml
  monitoring/rules.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Uncomment Quay RDO in playbooks; set require vars to configure host
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/site_rdo.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Add pruner token for podified-master-centos10
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

infra-sf: Add microshift-ze02 instance and remove ze01
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/microshift-ze01.softwarefactory-project.io.yaml
  playbooks/host_vars/microshift-ze02.softwarefactory-project.io.yaml
  playbooks/site_centOSInfra.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Add missing secret to be copied on external Zuul executor
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

cleanup: update Fedora Rawhide pattern and extend CentOS Stream cleanup
  roles/sf/builder-cleanup/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

centosinfra-prod: fix config branch for microzuul-config
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

centosinfra-prod: add nodepool-sf provider
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

centOSInfra: ensure service/hostname role for centos-infra-zuul-executors
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn

monitoring: exclude dnf-makecache.service from alert properly
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

system-config-mirror: fix htcacheclean command
  roles/rdo/opendev-system-config-mirror/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

accounts: remove access for dpawlik
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

updated evallesp ssh key
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Open port 5001 for nodepool-sf
  playbooks/vars/nodepool-sf.yaml
  vars/nodepool-sf/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts

Add system/secrets-metric role
  playbooks/site_bridge.yaml
  roles/system/secrets-metric/tasks/main.yaml
  tools/secret-age.py
  tox.ini
Due: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Improve secret-age to support nested list
  tools/secret-age.py
Due: none

logjuicer, httpd: use redirect instead of proxypass
  roles/sf/logjuicer/templates/vhost.j2
Due: sf-infra-configure-hosts-sf

Add missing metric type for secret-age
  tools/secret-age.py
Due: none

Add initial SecretToolOld monitoring
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  tools/secret-age.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Fix typo in secret age header name
  tools/secret-age.py
Due: none

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
