Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
  ...

Update rdo-release redirections links
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

Redirect rdo-release CS9 RPM to Caracal Release
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-osci

[quay] Add current-podified and podified-ci-testing to the whitelist
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Re-deploy OpenSearch RDO based on rhel-9.3
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-rdo

Change Grafana dashboard screenshoot test
  roles/tests/grafana/tasks/run-tests.yaml
  roles/tests/grafana/templates/grafana-screenshots.js.j2
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Create RHEL9 servers for RDO Trunk infra
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Add additional security groups for RDO Trunk RHEL9 servers
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts

logjuicer: switch to the latest version
  roles/sf/openshift/install-logjuicer/files/logjuicer_service.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Added osp-ci folder with new dashboards
  roles/sf/grafana/defaults/main.yaml
  roles/sf/grafana/files/osp-ci/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/osp-ci/ci-dashboard-overview.json
  roles/sf/grafana/files/osp-ci/ci-dashboard-zuul-upstream-promotions.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-ci-ops-overview.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-gh-workflows.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-zuul-upstream-promotions.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/common.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/zuul-common.jsonnet
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

observability stack: add tls config for grafana, loki
  roles/sf/openshift/observability-stack/grafana/defaults/main.yaml
  roles/sf/openshift/observability-stack/grafana/templates/grafanaInstance/route.yaml.j2
  roles/sf/openshift/observability-stack/loki/defaults/main.yaml
  roles/sf/openshift/observability-stack/loki/templates/route.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add dashboards and grafonnet dependency file
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-podified-promotion-zuul-jobs.json
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-podified-promotion-zuul-jobs.jsonnet
  roles/sf/grafana/files/osp-ci/ci-dashboard-ci-ops-overview.json
  roles/sf/grafana/files/osp-ci/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/osp-ci/ci-dashboard-zuul-upstream-promotions.json
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-ci-ops-overview.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-gh-workflows.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-zuul-upstream-promotions.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/common.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/jsonnetfile.json
  roles/sf/grafana/files/osp-ci/jsonnet/process_jsonnet_files.sh
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add new trunk hosts into rdo Ansible group
  ansible/hosts.yaml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

Switch Logscraper and Logsender image to be based on Centos 8 Stream
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Re-deploy Quay RDO based on rhel-9.3; change VM flavor
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/vars/infra-rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts

Update OpenSearch to 2.11.1
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Add retry count when Ansible Galaxy got troubles to fetch modules
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-ensure-fqcn

Set dedidated network for Quay
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/tasks/main.yml
  roles/rdo/quay/tasks/network.yml
  roles/rdo/quay/tasks/quay.yml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo, sf-infra-quay-check

Add Dalmatian panel to puppet promotion dashboard
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Configure logscraper02.openstack.org; drop logscraper01.openstack.org
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/service/node-exporter/defaults/main.yml
  vars/infra-sf/extra-instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Set absolute path to requirements.yml file
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-ensure-fqcn

Update tag adding upstream word to avoid conflict with downstream role
  roles/sf/grafana/files/osp-ci/ci-dashboard-ci-ops-overview.json
  roles/sf/grafana/files/osp-ci/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-ci-ops-overview.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/ci-dashboard-gh-workflows.jsonnet
  roles/sf/grafana/files/osp-ci/jsonnet/common.jsonnet
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Re-deploy Image Builder host based on rhel-9.3
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Improve image-builder role; uncomment Zuul Weeded sync tasks
  playbooks/site_sf.yaml
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add debug args for simply reporter
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts-sf

Remove all ports in the router
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
Due: none

Recreate trunk-builder-centos9.rdoproject.org host
  playbooks/create-hosts.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-ensure-fqcn, sf-infra-create-hosts

minIO: enable extra route labels
  roles/sf/openshift/observability-stack/minio/defaults/main.yaml
  roles/sf/openshift/observability-stack/minio/templates/route-api.yaml.j2
  roles/sf/openshift/observability-stack/minio/templates/route-console.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add zuul_container_user into sudoers
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

promtail: use fqdn, drop .*scope journal entries
  roles/service/promtail/templates/promtail.yaml.j2
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Reboot host when storage driver was changed
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add swap file for image-builder host
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Add mysqld and apache exporters monitoring to new RDO Trunk servers
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Mount data volume to the image-builder host; recreate host
  playbooks/create-hosts.yaml
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/zuul-weeder/tasks/main.yml
Due: sf-infra-ensure-fqcn, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Restore SELinux labels after mounting volume
  playbooks/site_sf.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove job to configure old RDO Trunk infra servers
  playbooks/site_dlrn.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn

Update the udp-multiplexer toolchain
  roles/sf/udp-multiplexer/files/udp-multiplexer.hs
  roles/sf/udp-multiplexer/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Disable udp-multiplexer service
  roles/sf/udp-multiplexer/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Remove the udp-multiplexer service
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/service/node-exporter/defaults/main.yml
  roles/sf/udp-multiplexer/Makefile
  roles/sf/udp-multiplexer/README.md
  roles/sf/udp-multiplexer/defaults/main.yaml
  roles/sf/udp-multiplexer/files/udp-multiplexer.hs
  roles/sf/udp-multiplexer/files/udp-multiplexer.py
  roles/sf/udp-multiplexer/tasks/main.yaml
  roles/sf/udp-multiplexer/tests/reply.sh
  zuul.d/haskell-jobs.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add sync jobs before bundle is generated; remove .crc dir before extract
  roles/next-gen/extracted-crc/tasks/bundle.yaml
Due: sf-infra-ensure-fqcn

Compress crc.qcow2 image before pull
  roles/next-gen/extracted-crc/tasks/bundle.yaml
  roles/next-gen/extracted-crc/tasks/compress.yaml
  roles/next-gen/extracted-crc/tasks/main.yaml
Due: sf-infra-ensure-fqcn

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
