Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-fqcn-fixer-script, sf-infra-ensure-fqcn, cabal-test, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, sf-infra-quay-check, sf-infra-test-custom-exporter

sf-infra-test-fqcn-fixer-script:
  parent: sf-infra-base-bash
  vars:
    infra_script: scripts/tests/test_ansible_fqcn_fixer.sh

sf-infra-ensure-fqcn:
  parent: dhall-diff
  vars:
    render_command: bash -c "source scripts/ansible_fqcn_fixer.sh && main"
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-fedora-stable

cabal-test:
  vars:
    ghc_version: 8.8
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-haskell-ghc9

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  nodeset:
    nodes:
  ...

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
  ...

sf-infra-configure-bridge:
  parent: sf-infra-configure
  description: Configure the bridge
  vars:
    sf_infra_play_name: site_bridge

sf-infra-configure-hosts-dlrn-centos9:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn_centos9

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  timeout: 7200
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool
  ...

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: ibm_bm4_nodepool
    secret: ibm-bm4-nodepool

Update centos-prod to the latest sf-operator release
  playbooks/apply-resources.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

finalize microshift-ze02 setup
  playbooks/site_bridge.yaml
  playbooks/site_centOSInfra.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge

Ensure rhel_release 9.4 for microshift-ze01
  playbooks/host_vars/microshift-ze01.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

ssh-auth-keys: Add centosInfra keys
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: sf-infra-configure-hosts-sf

Increase crc login t%meout
  roles/extra/crc/tasks/post.yaml
Due: sf-infra-ensure-fqcn

Add manage-executors.py tool
  tools/manage-executors.py
Due: none

Rotate Pagure, GitLab, and Fedora connection tokens
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Add legacy zuul-capacity to upstream monitoring
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

grafana: fix datasource for zuul graphs
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

grafana: Ensure all vexxhost-cloud in same graphs
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Apply extra resources on centos infra
  playbooks/apply-resources.yaml
Due: sf-infra-ensure-fqcn

Remove unused roles
  roles/sf/openshift/external-zuul-executor/tasks/main.yaml
  roles/sf/openshift/install-logjuicer/files/logjuicer_service.yaml
  roles/sf/openshift/install-logjuicer/tasks/main.yaml
  roles/sf/openshift/install-sf-operator/defaults/main.yaml
  roles/sf/openshift/install-sf-operator/tasks/main.yaml
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Ensure the GitHub webhook token matches the value in production
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Update sf-operator release
  playbooks/group_vars/sf-operator.yaml
  tools/sf-operator
Due: sf-infra-ensure-fqcn

Rotate GitHub api_token and app_key
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Rotate GitHub webhook token
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Add the Zuul ssh public key to the image-builder
  playbooks/apply-resources.yaml
Due: sf-infra-ensure-fqcn

remove fedora.sf.io instance and volume
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

remove fedora.sf.io data
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/host_vars/fedora.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Introducing run-centosinfra.sh
  playbooks/site-centosinfra-k8s.yaml
  playbooks/site-centosinfra-vms.yaml
  playbooks/site_centOSInfra.yaml
  roles/bridge/install_k8s_clients/tasks/main.yaml
  roles/sf/operator-backup/defaults/main.yaml
  roles/sf/operator-backup/tasks/main.yaml
  run-centosinfra.sh
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

update zuul ssh and spare keys for centosInfraProd and gpc
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: sf-infra-configure-hosts-sf

Fixed Go version for u/s
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site-centosinfra-bridge-go.yaml
  playbooks/site_bridge.yaml
  playbooks/site_centOSInfra.yaml
  roles/bridge/install-go/defaults/main.yaml
  roles/bridge/install-go/tasks/main.yaml
  run-centosinfra.sh
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

managesf.sf.io: Add opendkim service
  playbooks/site_sf.yaml
  roles/system/opendkim/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

managesf.review.rdoproject.org: Add opendkim service
  playbooks/site_rdo.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

Adding new zuul-ssh-spare key
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: sf-infra-configure-hosts-sf

ibm-bm: remove canary jobs
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn

upgrade monitoring.sf.io to rhel-9.6
  playbooks/host_vars/monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

mirror-ibm-bm3: validate rhel-9.6 update
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-rdo

IBM Cloud Zuul bm3 executor removal
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/node-exporter-ibm-instances.dhall
  monitoring/prometheus.yaml
  playbooks/group_vars/sf-operator.yaml
  playbooks/host_vars/monitoring.softwarefactory-project.io.yaml
  playbooks/templates/softwarefactory-project.io/gateway.common.j2
  playbooks/vars/infra-sf.yaml
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/group_vars/all.yaml
  playbooks/zuul/templates/clouds.yaml.j2
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
  roles/infra/ssh/tasks/main.yaml
  vars/infra-rdo/baremetals/baremetal03.dhall
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-sf/rules/prometheus-statsd.dhall
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-dlrn-centos9, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone

Add microshift-ze03 and microshift-ze04
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Add github.com-legacy connection from sf-config
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  playbooks/files/centos-infra/extra-resources.yaml.j2
  playbooks/files/software-factory-control-plane.dhall
  playbooks/files/software-factory-control-plane.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

bridge: Add profile file to add /usr/local/bin in $PATH
  playbooks/site_bridge.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-bridge

Fix for namespace on executors
  roles/sf/setup-microshift/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Import nodepool provider secrets from legacy sf-config
  monitoring/rules-secrets.dhall
  monitoring/rules-secrets.yaml
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-hosts-sf

Updated jobs.yaml and added 5th executor.
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-bridge, sf-infra-configure-hosts-sf

Set the privileged scc to the zuul executor namespace
  roles/sf/setup-microshift/tasks/main.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

k1s: fix users for k1s0{3,4,5} and sf-container-worker
  playbooks/group_vars/sf-operator.yaml
Due: sf-infra-ensure-fqcn

Enable k1s access from the centos-infra control plane
  playbooks/host_vars/k1s03.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s04.softwarefactory-project.io.yaml
  playbooks/host_vars/k1s05.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Update next gen crc image public key
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: sf-infra-ensure-fqcn, sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-fqcn-fixer-script: any of: tox.ini, scripts/ansible_fqcn_fixer.sh, scripts/tests/test_ansible_fqcn_fixer.sh
  sf-infra-ensure-fqcn: any of: .*.yaml, .*.yml
  cabal-test: any of: tools/InventoryCSV.hs, sf-infra.cabal
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-bridge: any of: playbooks/site_bridge.yaml, playbooks/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml, playbooks/group_vars/all, ^roles/bridge/.*$, ^roles/service/.*$, ^roles/system/.*$
  sf-infra-configure-hosts-dlrn-centos9: any of: playbooks/site_dlrn_centos9.yaml, playbooks/host_vars/dlrn-db-centos9.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*centos9.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn-centos9, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/infra-dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/dashboards.rdoproject.org/.*$, ^playbooks/group_vars/osci/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, vars/infra-rdo/instances.dhall, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, playbooks/vars/infra-sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$, ^roles/next-gen/.*$, ^vars/infra-sf/.*.yaml$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.*, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$, roles/rdo/ibm-redhat-subscription, roles/rdo/ibm-baremetal-setup
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/standalone-configure.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, roles/rdo/ibm-shiftstack-squid
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/infra-dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^roles/tests/grafana/.*$, ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$, playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
