Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-quay:
  parent: sf-infra-base
  description: Configure the Quay host
  semaphore: sf-infra
  run: playbooks/zuul/configure-quay-host.yaml
  required-projects:
  - name: software-factory/sf-infra
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: vault
  ...

sf-infra-quay-check:
  description: Deploy Quay service and check basic functionality
  run: tests/check-quay-tool.yml
  required-projects:
  - name: software-factory/python-quay-tool
  timeout: 1800
  nodeset:
    nodes:
    - name: quay.dev
      label: cloud-centos-8-stream

Move Grafana dashboard to dedicated directories
  roles/sf/grafana/files/vexxhost/node_exporter-vexxhost.json
  roles/sf/grafana/files/vexxhost/vexxhost-summary.json
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add alternative dashboard for node exporter metrics
  roles/sf/grafana/files/vexxhost/downstream-dashboard.json
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Extend next-gen roles to support multiple clouds
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  roles/next-gen/cleanup-openstack-resources/defaults/main.yaml
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/extracted-crc/tasks/create-image.yaml
  roles/next-gen/prepare-host/defaults/main.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Change crc snapshot name, change task name for workaround crc
  playbooks/crc-make-snapshot.yaml
  roles/extra/crc/tasks/workarounds.yaml
Due: none

Add default value for crc_sync_extracted_qcow2_dir var
  roles/next-gen/crc-snapshot/defaults/main.yaml
Due: none

Update default values for next-gen sync-images role
  roles/next-gen/sync-images/defaults/main.yaml
  roles/next-gen/sync-images/templates/pull-crc-image.sh.j2
Due: none

Update site_logreduce and move to a dedicated group_vars
  playbooks/group_vars/all
  playbooks/logreduce/group_vars/all
  playbooks/logreduce/site_logreduce.yaml
  playbooks/site_sf.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update logreduce versions
  playbooks/logreduce/group_vars/all
Due: none

Stop DLRN builders for centos8-[train|ussuri|victoria]
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Add support for multiple cloud on same host for creating scripts
  playbooks/crc-make-snapshot.yaml
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  playbooks/rebuild-crc-image.yaml
  roles/extra/crc/defaults/main.yaml
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/crc-image/README.md
  roles/next-gen/crc-image/tasks/find_image.yaml
  roles/next-gen/crc-image/tasks/make_snapshot.yaml
  roles/next-gen/crc-image/tasks/remove_image.yaml
  roles/next-gen/crc-image/tasks/rename_image.yaml
  roles/next-gen/crc-snapshot/tasks/configure.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
  roles/next-gen/crc-snapshot/templates/recreate-crc-snapshot.sh.j2
  roles/next-gen/prepare-host/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Change name for extracted crc image
  roles/next-gen/crc-image/defaults/main.yaml
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/tasks/create-image.yaml
Due: none

Add support for multiple cloud for sync images
  playbooks/sync-crc-images.yaml
  roles/next-gen/sync-images/README.md
  roles/next-gen/sync-images/defaults/main.yaml
  roles/next-gen/sync-images/tasks/main.yaml
  roles/next-gen/sync-images/tasks/prepare_host.yaml
  roles/next-gen/sync-images/tasks/share_image.yaml
  roles/next-gen/sync-images/templates/pull-crc-image.sh.j2
Due: none

Remove stream from nested crc image name
  playbooks/crc-make-snapshot.yaml
Due: none

standalone: Ensure we use ansible-playbook to fix openstack sdk issue
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/configure-tripleo-standalone.yaml
  playbooks/zuul/group_vars/baremetal.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/standalone-configure.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
  zuul.d/jobs.yaml
Due: sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

bridge: Ensure all projects are define in clouds.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/templates/clouds.yaml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

Export ANSIBLE_LOG_PATH and ANSIBLE_CONFIG var in scripts
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
  roles/next-gen/sync-images/templates/pull-crc-image.sh.j2
Due: none

Initial prometheus openstack collector
  pkg/go.mod
  pkg/go.sum
  pkg/openstack-collector.go
Due: none

Improve note comments for quay rdoproject host
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

manage_image: revert openstack.cloud.image* to os_image*
  roles/service/manage-image/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fix missing variable in next-gen sync images; enable log for OS keypair
  roles/next-gen/prepare-host/tasks/main.yaml
  roles/next-gen/sync-images/tasks/prepare_host.yaml
Due: none

Create infra dir in Grafana; port infra team dashboard for our cloud provider
  Makefile
  roles/sf/grafana/files/infra/DLRN.dhall
  roles/sf/grafana/files/infra/DLRN.json
  roles/sf/grafana/files/infra/Grafana.dhall
  roles/sf/grafana/files/infra/apache-exporter.json
  roles/sf/grafana/files/infra/blackbox.json
  roles/sf/grafana/files/infra/downstream-dashboard.json
  roles/sf/grafana/files/infra/elasticsearch.json
  roles/sf/grafana/files/infra/node_exporter.json
  roles/sf/grafana/files/infra/zookeeper-exporter.json
  roles/sf/grafana/files/infra/zuul-summary.json
  roles/sf/grafana/files/vexxhost/downstream-dashboard-vexxhost.json
  roles/sf/grafana/tasks/main.yaml
  tests/grafana-dash.yml
  tests/templates/grafana-screenshots.js.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Remove CRC image scripts; remove sf-infra-rebuild-crc-image job
  playbooks/site_sf.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

Fix crontab and log file name
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
Due: none

Switch master RDO Trunk builders to bobcat rdoinfo tags
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Finish playbook when non crc image type is set
  playbooks/crc-make-snapshot.yaml
  roles/next-gen/crc-snapshot/tasks/configure.yaml
Due: none

Add playbook to promote CRC image
  playbooks/crc/crc-make-snapshot.yaml
  playbooks/crc/promote-crc-image.yaml
  playbooks/crc/sync-crc-images.yaml
  playbooks/rebuild-crc-image.yaml
  roles/next-gen/crc-image/README.md
  roles/next-gen/crc-image/tasks/create_vm.yaml
  roles/next-gen/crc-image/tasks/find_image.yaml
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
  roles/next-gen/extracted-crc/README.md
  roles/next-gen/extracted-crc/files/ssh-auth-keys
  roles/next-gen/sync-images/README.md
  roles/next-gen/sync-images/templates/pull-crc-image.sh.j2
Due: none

Add redirection link for Bobcat
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Increase time for spawning CRC instance
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: none

Move condition for removing CRC VM from block to task
  playbooks/crc/crc-make-snapshot.yaml
Due: none

Add feature for sync-images role to synchronize newest images in same cloud
  playbooks/crc/sync-crc-images.yaml
  roles/next-gen/sync-images/README.md
  roles/next-gen/sync-images/tasks/get_image.yaml
  roles/next-gen/sync-images/tasks/main.yaml
  roles/next-gen/sync-images/tasks/share_image.yaml
Due: none

Microshift.sf.io: deploy companion Prometheus
  playbooks/site_sf.yaml
  vars/infra-sf/microshift_prometheus.yaml
Due: sf-infra-configure-hosts-sf

Create promote-image role and move content from playbook
  playbooks/crc/promote-crc-image.yaml
  roles/next-gen/promote-image/tasks/main.yaml
  roles/next-gen/promote-image/tasks/rename-images.yaml
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: none

microzuul: set up authentication
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: none

Simplificate CRC image creation process
  roles/next-gen/crc-snapshot/tasks/configure.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/promote-image/README.md
  roles/next-gen/promote-image/tasks/configure.yaml
  roles/next-gen/promote-image/tasks/prepare_host.yaml
  roles/next-gen/promote-image/templates/promote-crc-image.sh.j2
  roles/next-gen/sync-images/tasks/prepare_host.yaml
  roles/next-gen/sync-images/templates/sync-crc-images.sh.j2
Due: none

Move condition for removing crc instance on the end
  playbooks/crc/crc-make-snapshot.yaml
Due: none

image-builder: Add the microzuul's nodepool builder account
  roles/sf/image-builder/defaults/main.yaml
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add condition for promoting crc image script; improve README
  roles/next-gen/promote-image/README.md
  roles/next-gen/promote-image/tasks/configure.yaml
  roles/next-gen/promote-image/templates/promote-crc-image.sh.j2
Due: none

Use final image name as a base for creating image name with date
  roles/next-gen/promote-image/tasks/rename-images.yaml
Due: none

Rename CRC image when synchronized and not promoted
  roles/next-gen/sync-images/tasks/get_image.yaml
Due: none

Add net_id and flavor name for extra vars in promote-image
  roles/next-gen/promote-image/templates/promote-crc-image.sh.j2
Due: none

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
