Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

microshift.sf.io: redeploy using 8 vpcus and 16GB flavor
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Ignore sf-infra dir when zuul not defined
  roles/extra/crc/defaults/main.yaml
Due: none

Bump CRC to 2.19
  roles/extra/crc/defaults/main.yaml
Due: none

microshift.sf.io: ensure fedora user owns .kube/config
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-sf

Add workaround for libvirt stuck issue for CRC
  playbooks/crc-make-snapshot.yaml
Due: none

Exclude updating systemd package
  playbooks/crc-make-snapshot.yaml
Due: none

microshift.sf.io: Update fqdn
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: none

Exclude just systemd package in CRC
  playbooks/crc-make-snapshot.yaml
Due: none

Add ansible-core package when kubelet configuration is executed in CRC
  roles/extra/crc/tasks/kubelet.yaml
Due: none

Add Grafana datasource for Opensearch Software Factory tenant
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Change index name for softwarefactory_project_io in Grafana
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add redirection link for Antelope release identification
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Change CRC default password
  roles/extra/crc/defaults/main.yaml
Due: none

Add layout for CI NG dashboard
  roles/sf/grafana/files/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/ci-dashboard-overview.json
  roles/sf/grafana/files/ci-dashboard-prow-detail.json
  roles/sf/grafana/files/ci-dashboard-prow-success.json
  roles/sf/grafana/files/ci-dashboard-zuul-jobs.json
  roles/sf/grafana/files/doc/source/conf.py
  roles/sf/grafana/files/doc/source/dashboards.rst
  roles/sf/grafana/files/doc/source/goals.rst
  roles/sf/grafana/files/doc/source/implementation.rst
  roles/sf/grafana/files/doc/source/index.rst
  roles/sf/grafana/files/doc/source/intro.rst
  roles/sf/grafana/files/doc/source/technology.rst
  roles/sf/grafana/files/jsonnet/ci-dashboard-gh-worflows.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-overview.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-prow-detail.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-prow-success.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-zuul-jobs.jsonnet
  roles/sf/grafana/files/jsonnet/common.jsonnet
  roles/sf/grafana/files/jsonnetfile.json
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add the NG Github workflows dashboard
  roles/sf/grafana/files/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/ci-dashboard-overview.json
  roles/sf/grafana/files/doc/source/dashboards.rst
  roles/sf/grafana/files/jsonnet/ci-dashboard-gh-workflows.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-overview.jsonnet
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add kvm14 host for summary dashboard in Grafana
  roles/sf/grafana/files/vexxhost-summary.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Update Node Exporter Grafana dashboards
  roles/sf/grafana/files/node_exporter-vexxhost.json
  roles/sf/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Bump monitoring services
  playbooks/group_vars/all
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/host_vars/zk01.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

microshift.sf.io: Ensure config-location and gerritconns
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: none

Update host summary Grafana dashboards
  roles/sf/grafana/files/vexxhost-summary.json
  roles/sf/grafana/files/zuul-summary.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add unique IDs to each dashboard for generate the same link always
  roles/sf/grafana/files/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/ci-dashboard-overview.json
  roles/sf/grafana/files/ci-dashboard-prow-detail.json
  roles/sf/grafana/files/ci-dashboard-prow-success.json
  roles/sf/grafana/files/ci-dashboard-zuul-jobs.json
  roles/sf/grafana/files/jsonnet/ci-dashboard-gh-workflows.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-overview.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-prow-detail.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-prow-success.jsonnet
  roles/sf/grafana/files/jsonnet/ci-dashboard-zuul-jobs.jsonnet
  roles/sf/grafana/files/jsonnet/common.jsonnet
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Set up the centos9-bobcat worker for RDO Trunk.
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Create ng-ci-dashboard dir in Grafana; enable foldersFromFilesStructure
  roles/sf/grafana/files/dashboards.yml
  roles/sf/grafana/files/doc/source/implementation.rst
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-gh-workflows.json
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-overview.json
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-prow-detail.json
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-prow-success.json
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-zuul-jobs.json
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-gh-workflows.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-overview.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-prow-detail.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-prow-success.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-zuul-jobs.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/common.jsonnet
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Adding tcalanch new infra team member
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add afs3 openstack.org; sync csdb hosts
  roles/rdo/opendev-system-config-openafs-client/templates/CellServDB
Due: sf-infra-configure-hosts-rdo

Install kernel-headers for openafs-client; enable openfas kernel module
  roles/rdo/opendev-system-config-openafs-client/tasks/main.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/CentOS.yaml
Due: sf-infra-configure-hosts-rdo

Create mirror.regionone.vexxhost host; port patch
  playbooks/vars/infra-rdo.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/main.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/CentOS.yaml
  roles/service/manage-networking/tasks/main.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Improve CRC playbook
  roles/extra/crc/tasks/cleanup.yaml
  roles/extra/crc/tasks/local-storage.yaml
  roles/extra/crc/tasks/post.yaml
Due: none

Uncomment task for creating routers
  roles/service/manage-networking/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Ensure webroot directory exists for setup-ssl role
  roles/service/setup-ssl/tasks/ssl_create_cert.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[ng-ci-dashboard] Cleanup file structure
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/conf.py
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/dashboards.rst
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/goals.rst
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/implementation.rst
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/index.rst
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/intro.rst
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/technology.rst
  roles/sf/grafana/files/ng-ci-dashboard/jsonnetfile.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add playbook to configure next-gen host
  playbooks/site_sf.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
  roles/next-gen/prepare-host/templates/clouds.yaml.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

Add crontab job for creating weekly CRC snapshot
  playbooks/crc-make-snapshot.yaml
  playbooks/site_sf.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add next-gen cleaner for cleaning OpenStack resources
  playbooks/site_sf.yaml
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Improve next-gen roles
  playbooks/zuul/configure-hosts.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/prepare-host/files/ansible.cfg
  roles/next-gen/prepare-host/tasks/main.yaml
  roles/next-gen/prepare-host/templates/ansible_crc_vars.yaml.j2
Due: none

Enable normal operations for centos9-bobcat builder
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Add missing endpoints into Quay pruner script
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

Add Opendev Graphite datasource; add AFS dashboard
  roles/sf/grafana/files/opendev/afs.json
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add condition to verify if crc_secret is defined
  roles/next-gen/prepare-host/tasks/main.yaml
Due: none

Refactor common zuul jsonnet code. Add data plane dashboard code and model.
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-data-plane-zuul-jobs.json
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-data-plane-zuul-jobs.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/common.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/zuul-common.jsonnet
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards
