Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Add grafana password to the vault
  playbooks/group_vars/all
Due: sf-infra-configure-hosts

Remove the centos-[queens|rocky|stein] workers
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Remove the centos-master* workers on c7
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Update default ansible interpreter for centos-stream
  ansible/hosts.yaml
  vars/common.dhall
Due: sf-infra-configure-hosts

Fix hostname role for generating hosts entries
  roles/hostname/tasks/main.yml
Due: sf-infra-configure-hosts

Uncomment alpine updaters sets in Clair config
  roles/quay/templates/clair_config.yml.j2
Due: sf-infra-configure-hosts

centos.sf-project.io - enable volume role
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts

centos.sf-project.io - ensure volume mounted
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Add credentials for Quay registry for zuul user
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Fix typo in mariadb-replicated role
  roles/mariadb-replicated/tasks/common.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Set up the centos8-xena worker for RDO Trunk
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Change quay postgresql data path; change flag for mounted volumes
  roles/quay/tasks/db.yml
  roles/quay/tasks/redis.yml
Due: sf-infra-configure-hosts

Enable normal operations for centos8-xena builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Propose removal of ara.softwarefactory-project.io
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Propose removal of logreduce-mqtt-01.softwarefactory-project.io
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Set become on renew cert for quay host
  playbooks/quay-renew-certificates.yml
Due: sf-infra-configure-hosts

Remove become param from molecule tests
  tests/tox-molecule.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Monitor centos8-xena builds
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Recreate Clair service config
  roles/quay/templates/clair_config.yml.j2
Due: sf-infra-configure-hosts

Add opensearch.rdoproject.org host
  ansible/ansible.cfg
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  tests/tox-molecule.yml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-molecule

Add python3-passlib package into bridge_packages
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-configure-hosts

Add fqdn parameter for opensearch host
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Migrate ML to Mailman 3
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/lists-ng.rdoproject.org/credentials.vault.yml
  playbooks/host_vars/lists-ng.rdoproject.org/system.yml
  playbooks/host_vars/lists.rdoproject.org/system.yml
  playbooks/site_rdo.yaml
  requirements.yml
  roles/generate-etc-hosts/files/sshconfig
  roles/mailing_lists/tasks/main.yml
  roles/mailing_lists/vars/main.yml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

Improve Quay role; add quay mirror service
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay/README.md
  roles/quay/tasks/clair.yml
  roles/quay/tasks/db.yml
  roles/quay/tasks/main.yml
  roles/quay/tasks/mirror.yml
  roles/quay/tasks/quay.yml
  roles/quay/templates/clair_config.yml.j2
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts

Change name for cronjob that renew SSL cert for Quay
  playbooks/zuul/configure-quay-host.yaml
Due: sf-infra-configure-hosts

Update old RDO registry renew cert job
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Fix sf-infra-configure-hosts-rdo required-projects
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add RDO Trunk builder centos9-master-uc
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Fixes for centos9-master builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Add DLRN API Prometheus endpoint to scrape configs
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/scrape-configs.dhall
Due: sf-infra-configure-hosts

Enable periodic execution of centos9-master-uc builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Increase dlrn scrape interval to 5m
  monitoring/prometheus.yaml
  monitoring/scrape-configs.dhall
Due: sf-infra-configure-hosts

Configure rdoproject.org with opensearch.rdoproject.org
  playbooks/host_vars/elk.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/log-gearman/files/get-last-job-logs.py
  roles/log-gearman/tasks/main.yml
  roles/log-gearman/templates/config-client.j2
  roles/log-gearman/templates/config-worker.j2
  roles/log-gearman/templates/service-client.j2
  roles/log-gearman/templates/service-worker.j2
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Use new Prometheus build metrics for DLRN alarms
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
Due: sf-infra-configure-hosts

Remove rdo-ci-cloudslave* nodes from automation
  ansible/hosts.yaml
  doc/engineer_on_duty/troubleshooting/WillRunOutOfDiskInThreeDays.md
  doc/inventory.md
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/group_vars/ci-centos-org.yaml
  playbooks/host_vars/rdo-ci-cloudslave01.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave02.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave03.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave04.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave05.ci.centos.org.yaml
  playbooks/site_rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

Add DLRN custom grafana dashboard
  Makefile
  roles/grafana/files/DLRN.dhall
  roles/grafana/files/DLRN.json
  roles/grafana/files/Grafana.dhall
  roles/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts

Setup SSL for opensearch.rdoproject.org
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Change datetime.fromisoformat to time.strptime
  roles/log-gearman/files/get-last-job-logs.py
  roles/log-gearman/tasks/main.yml
Due: sf-infra-configure-hosts

Remove node-exporter-based Prometheus metrics
  playbooks/site_rdo.yaml
  roles/grafana/files/rdo_trunk_metrics.json
  roles/grafana/tasks/main.yaml
  roles/rdotrunk-checks/defaults/main.yml
  roles/rdotrunk-checks/files/get-dlrn-status-date.sh
  roles/rdotrunk-checks/molecule/default/Dockerfile.j2
  roles/rdotrunk-checks/molecule/default/INSTALL.rst
  roles/rdotrunk-checks/molecule/default/converge.yml
  roles/rdotrunk-checks/molecule/default/molecule.yml
  roles/rdotrunk-checks/tasks/main.yml
  roles/rdotrunk-checks/templates/check-dlrn-dates.sh.j2
  roles/rdotrunk-checks/templates/check-dlrn-metrics.sh.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add SECRET_KEY param to Quay configuration
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts
