Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, shake-factory-docs, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-dlrn: any of: ^playbooks/vars/dlrn.yaml$, ^playbooks/vars/dlrn-db.yaml$, ^playbooks/host_vars/dlrn-db.rdoproject.org.yaml$, ^playbooks/host_vars/trunk-centos8.rdoproject.org.yaml$, ^playbooks/host_vars/trunk.rdoproject.org.yaml$, ^playbooks/group_vars/dlrn$, ^playbooks/site_dlrn.yaml$, ^roles/dlrn-server.*, ^monitoring/rules-dlrn.yaml
  sf-infra-configure-hosts-rdo: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-sf: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-grafana-dashboards: any of: ^roles/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  shake-factory-docs: any of: ^Infra/.*$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Add Karolina Kula to DLRN servers and bridge
  roles/bridge-accounts/vars/main.yaml
  roles/dlrn-server/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Increase wait time for logscraper and logsender; decrease zuul query
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update vexxhost auth url
  playbooks/zuul/templates/clouds.yaml.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Split SystemOutdatedPackages into RDO and SF Infra
  Makefile
  monitoring/package.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-system-package-count-rdo.dhall
  monitoring/rules-system-package-count-rdo.yaml
  monitoring/rules-system-package-count-sf.dhall
  monitoring/rules-system-package-count-sf.yaml
  monitoring/rules-system-package-count.dhall
  monitoring/rules-system-package-count.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kind] Increase limits for kind server
  roles/kind/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[prometheus] Add for parameter to system-package-count alerts
  monitoring/rules-system-package-count-rdo.dhall
  monitoring/rules-system-package-count-rdo.yaml
  monitoring/rules-system-package-count-sf.dhall
  monitoring/rules-system-package-count-sf.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Kubernetes role
  roles/kubernetes/defaults/main.yml
  roles/kubernetes/tasks/calico.yaml
  roles/kubernetes/tasks/crio.yaml
  roles/kubernetes/tasks/firewall.yaml
  roles/kubernetes/tasks/ingress.yaml
  roles/kubernetes/tasks/kubeadm.yaml
  roles/kubernetes/tasks/local-storage.yaml
  roles/kubernetes/tasks/main.yaml
  roles/kubernetes/tasks/post.yaml
  roles/kubernetes/tasks/pre.yaml
  roles/kubernetes/tasks/selinux.yaml
  roles/kubernetes/tasks/setup_kubeadm.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[alertmanager] Increase time for sending notification
  roles/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Improve Kubernetes role
  roles/kubernetes/defaults/main.yml
  roles/kubernetes/tasks/calico.yaml
  roles/kubernetes/tasks/firewall.yaml
  roles/kubernetes/tasks/ingress.yaml
  roles/kubernetes/tasks/local-storage.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal02: Add lvm to enable extra storage for nova
  playbooks/host_vars/baremetal02.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/volume/defaults/main.yaml
  roles/volume/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[node-exporter] Exclude tap network devices; ignore some mount points
  roles/node-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal02: Add data for bind mount nova lv
  playbooks/host_vars/baremetal02.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

bm2: Add ibm-zfgw instance
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Fix sf-infra-grafana-dashboards CI
  tests/grafana-dash.yml
  tests/pre-grafana-dash.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Set interval value for node exporter grafana dashboard; fix CI
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add ibm-zfgw in vars/infra-rdo/ibm-baremetal.dhall
  ansible/hosts.yaml
  doc/inventory.md
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/ibm-baremetal.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update services that should be monitored by node-exporter
  roles/node-exporter/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[grafana] Add cloud provider node exporter dashboard
  roles/grafana/files/node_exporter-vexxhost.json
  roles/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Revert "Set interval value for node exporter grafana dashboard; fix CI"
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Apply fix to node-exporter grafana dashboard missing data
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add RDO folks as ML admins
  roles/mailing_lists/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change flavor disk size on baremetal02.rdoproject.org
  playbooks/host_vars/baremetal02.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

tripleo-standalone: Add rules to forward fingergw port to ibm-zfgw
  playbooks/create-tripleo-standalone.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add ibm-zuul-zfgw in sf-ssh
  roles/sf-ssh/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Set up the centos9-zed worker for RDO Trunk.
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

setup-ssl-self-signed: ensure httpd and cronie packages and httpd service
  roles/setup-ssl-self-signed/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Bump Grafana to 8.5.11
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  tests/grafana-dash.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[blackbox] Improve blackbox configuration
  monitoring/prometheus.yaml
  roles/blackbox-exporter/files/blackbox.yml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Enable normal operations for centos9-zed builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change zookeeper exporter host
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/host_vars/zk01.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/zookeeper-exporter/tasks/main.yml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add elastic exporter; change elasticsearch role to opensearch-monitoring
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  roles/node-exporter/defaults/main.yml
  roles/opensearch-monitoring/files/check-elasticsearch.py
  roles/opensearch-monitoring/tasks/check_es.yaml
  roles/opensearch-monitoring/tasks/elk_exporter.yaml
  roles/opensearch-monitoring/tasks/main.yaml
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
  vars/infra-sf/rules/prometheus.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Revert "Apply fix to node-exporter grafana dashboard missing data"
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[apache-exporter] Add more node to get metrics
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Set static inveral value to 1m when time_series
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[elasticsearch-exporter] Enable exporter in Prometheus
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  vars/infra-sf/rules/prometheus.dhall
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[grafana] Set interval to 1m when empty; port changes to vexxhost dash
  roles/grafana/files/node_exporter-vexxhost.json
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[grafana] Add elasticsearch Grafana dashboard
  roles/grafana/files/elasticsearch.json
  roles/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[grafana] Set interval in each place where intervalFactor is Set
  roles/grafana/files/node_exporter-vexxhost.json
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Revert "Bump Grafana to 8.5.11"
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  tests/grafana-dash.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[kubernetes] Cat always kubeadm.log; force disable swap; improve crio
  roles/kubernetes/tasks/crio.yaml
  roles/kubernetes/tasks/kubeadm.yaml
  roles/kubernetes/tasks/pre.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
