Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: fedora-latest-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  vars:
    sf_infra_play_name: site
  secrets:
  - name: cloud
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  - name: github.com/rdo-infra/openshift-ansible
  ...

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  timeout: 3600
  nodeset:
    nodes:
    - name: primary
      label: cloud-fedora-30

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/custom-exporter/files/exporter.py

Enable statsd_exporter
  roles/statsd-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

Allow blackbox to check the elasticsearch host
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-rdo/networking.dhall
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

ara: update tag for default image
  roles/ara-api-container/defaults/main.yaml
Due: sf-infra-configure-hosts

prometheus: manage host-var with dhall
  Makefile
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

prometheus: manage firewalld rules from openstack security rules
  conf/functions.dhall
  conf/schemas.dhall
  conf/schemas/Firewall.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  vars/common.dhall
  vars/infra-sf/networking.dhall
  vars/infra-sf/rules/monitoring.dhall
  vars/infra-sf/rules/prometheus-statsd.dhall
  vars/infra-sf/rules/prometheus.dhall
  vars/infra-sf/rules/push-prox.dhall
Due: sf-infra-configure-hosts

prometheus: fix udp-multiplexer unit file
  roles/udp-multiplexer/tasks/main.yaml
Due: sf-infra-configure-hosts

elk.sf.io: add bind mount for /var/www/logs
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Disable web monitoring for www.rdoproject.org
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

dns: do not write /etc/hosts entry for www.rdoproject.org
  playbooks/group_vars/all
  roles/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-configure-hosts

Sync the src directory when running configure-registry-host
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Ensure puppet < 6.0 is installed on DLRN hosts
  roles/dlrn-server/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Move sf-infra-molecule to a more recent Fedora
  roles/custom-ssh-port/molecule/default/Dockerfile.j2
  roles/custom-ssh-port/molecule/default/molecule.yml
  roles/custom-ssh-port/molecule/default/prepare.yml
  roles/elasticsearch/molecule/default/Dockerfile.j2
  roles/elasticsearch/molecule/default/molecule.yml
  roles/mariadb-replicated/molecule/default/molecule.yml
  roles/pushprox/molecule/default/molecule.yml
  roles/repoxplorer-gateway/handlers/main.yml
  roles/repoxplorer-gateway/molecule/default/Dockerfile.j2
  roles/repoxplorer-gateway/tasks/main.yaml
  roles/repoxplorer/handlers/main.yml
  roles/repoxplorer/molecule/default/Dockerfile.j2
  roles/repoxplorer/tasks/main.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

acme-tiny: add initial role
  Makefile
  conf/scripts/yaml-prettifier.py
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/acme-tiny/README.md
  roles/acme-tiny/defaults/main.dhall
  roles/acme-tiny/defaults/main.yaml
  roles/acme-tiny/role.dhall
  roles/acme-tiny/tasks/main.dhall
  roles/acme-tiny/tasks/main.yaml
  roles/acme-tiny/templates/acme-tiny-refresh.sh
  roles/acme-tiny/templates/acme-tiny-refresh.sh.dhall
  roles/acme-tiny/templates/vhost.conf
  roles/acme-tiny/templates/vhost.conf.dhall
Due: sf-infra-configure-hosts

Setup Prometheus service with defined image sha256 digest
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  roles/container-service/tasks/main.yaml
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts

Start monitoring ara service; fix ssl regeneration issue
  monitoring/prometheus.yaml
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
  roles/setup-ssl/tasks/ssl_create_cert.yml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Updated container base images
  playbooks/group_vars/all
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  roles/alert-manager/tasks/main.yaml
  roles/blackbox-exporter/tasks/main.yaml
  roles/grafana/tasks/main.yaml
  roles/node-exporter/tasks/main.yaml
  roles/statsd-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

monitoring: update blackbox url
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

prometheus: update binding to latest version
  monitoring/binding.dhall
Due: sf-infra-configure-hosts

logserver: add an index page to avoid 503 or white page
  roles/logserver/tasks/main.yaml
Due: sf-infra-configure-hosts

logserver: ensure ara-report are rendered
  roles/logserver/templates/vhost.j2
Due: sf-infra-configure-hosts

Configure Prometheus Blackbox to ignore http_auth
  conf/schemas/Instance.dhall
  monitoring/README.md
  monitoring/prometheus-config.dhall
  monitoring/prometheus.yaml
  monitoring/scrape-configs.dhall
  roles/blackbox-exporter/files/blackbox.yml
  roles/blackbox-exporter/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Add base roles to install packages on all hosts, add chrony
  playbooks/site.yaml
  roles/sf-infra-base/defaults/main.yaml
  roles/sf-infra-base/tasks/configure_service.yaml
  roles/sf-infra-base/tasks/main.yaml
  roles/sf-infra-base/templates/chrony.conf.j2
Due: sf-infra-configure-hosts

Added cloud provider horizon to the monitoring
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

blackbox: fix url for rdo.vexxhost.com
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

redhat-oss-git-stats: fix issue with certbot cert renewal
  roles/repoxplorer-gateway/templates/site.conf.j2
Due: sf-infra-configure-hosts, sf-infra-molecule

blackbox: update http_version for http 2
  roles/blackbox-exporter/files/blackbox.yml
Due: sf-infra-configure-hosts

Use CentOS 8 for molecule tests
  tests/pre-tox-molecule.yml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add afs-mirror-new role and forked roles from system-config
  roles/afs-mirror-new/README.md
  roles/afs-mirror-new/defaults/main.yml
  roles/afs-mirror-new/tasks/main.yml
  roles/opendev-system-config-kerberos-client/README.rst
  roles/opendev-system-config-kerberos-client/defaults/main.yaml
  roles/opendev-system-config-kerberos-client/tasks/main.yaml
  roles/opendev-system-config-kerberos-client/templates/etc/krb5.conf.j2
  roles/opendev-system-config-kerberos-client/vars/Debian.yaml
  roles/opendev-system-config-kerberos-client/vars/RedHat.yaml
  roles/opendev-system-config-kerberos-client/vars/default.yaml
  roles/opendev-system-config-mirror/README.rst
  roles/opendev-system-config-mirror/defaults/main.yaml
  roles/opendev-system-config-mirror/files/apache-connection-tuning
  roles/opendev-system-config-mirror/files/robots.txt
  roles/opendev-system-config-mirror/handlers/main.yaml
  roles/opendev-system-config-mirror/tasks/Debian.yaml
  roles/opendev-system-config-mirror/tasks/RedHat.yaml
  roles/opendev-system-config-mirror/tasks/main.yaml
  roles/opendev-system-config-mirror/templates/mirror.vhost.j2
  roles/opendev-system-config-mirror/vars/CentOS.7.yaml
  roles/opendev-system-config-mirror/vars/CentOS.8.yaml
  roles/opendev-system-config-mirror/vars/Debian.yaml
  roles/opendev-system-config-mirror/vars/default.yaml
  roles/opendev-system-config-openafs-client/README.rst
  roles/opendev-system-config-openafs-client/defaults/main.yaml
  roles/opendev-system-config-openafs-client/files/99-afs-udp.conf
  roles/opendev-system-config-openafs-client/tasks/main.yaml
  roles/opendev-system-config-openafs-client/tasks/openafs-client/CentOS.yaml
  roles/opendev-system-config-openafs-client/tasks/openafs-client/Debian.yaml
  roles/opendev-system-config-openafs-client/tasks/openafs-client/default.yaml
  roles/opendev-system-config-openafs-client/templates/.pydistutils.cfg.j2
  roles/opendev-system-config-openafs-client/templates/CellServDB
  roles/opendev-system-config-openafs-client/templates/ThisCell.j2
  roles/opendev-system-config-openafs-client/templates/afs.conf.client
  roles/opendev-system-config-openafs-client/templates/cacheinfo.j2
  roles/opendev-system-config-openafs-client/vars/CentOS.yaml
  roles/opendev-system-config-openafs-client/vars/Debian.yaml
Due: sf-infra-configure-hosts

Create dlrn-server-new role, migrate first server
  ansible/ansible.cfg
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  playbooks/site.yaml
  roles/dlrn-server-new/README.md
  roles/dlrn-server-new/defaults/main.yml
  roles/dlrn-server-new/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server-new/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server-new/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server-new/molecule/default/converge.yml
  roles/dlrn-server-new/molecule/default/gilt.yml
  roles/dlrn-server-new/molecule/default/molecule.yml
  roles/dlrn-server-new/tasks/main.yml
  roles/dlrn-server/templates/centos8-rpm-packaging-ci-common.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add SSL certificate setup for AFS mirror
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Improve statsd mapping and prometheus alerts for zuul and nodepool
  monitoring/rules-nodepool.yaml
  monitoring/rules-zuul.yaml
  roles/statsd-exporter/files/statsd_mapping.yml
Due: sf-infra-configure-hosts

Update ci.centos.org jump host IP and SSH user
  ansible/hosts.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  vars/infra-sf/rules/push-prox.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Bring rpm-packaging-ci.rdoproject.org under Ansible control
  playbooks/host_vars/rpm-packaging-ci.rdoproject.org.yaml
  playbooks/site.yaml
  roles/dlrn-server-new/files/centos7-rocky-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server-new/files/centos7-stein-rpm-packaging-dlrn-deps.repo
Due: sf-infra-configure-hosts

Migrate trunk-centos[7|8] to the dlrn-server-new role
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/site.yaml
  roles/dlrn-server/templates/trunk-centos7-common.yaml
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Migrate trunk.rdo to dlrn-server-new, remove dlrn-server role
  playbooks/host_vars/trunk.rdoproject.org.yaml
  playbooks/site.yaml
  roles/dlrn-server/.yamllint
  roles/dlrn-server/README.md
  roles/dlrn-server/defaults/main.yml
  roles/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/hiera.yaml
  roles/dlrn-server/files/puppet-repo-centos7.repo
  roles/dlrn-server/files/puppet-repo-centos8.repo
  roles/dlrn-server/molecule/default/Dockerfile.j2
  roles/dlrn-server/molecule/default/INSTALL.rst
  roles/dlrn-server/molecule/default/converge.yml
  roles/dlrn-server/molecule/default/gilt.yml
  roles/dlrn-server/molecule/default/molecule.yml
  roles/dlrn-server/tasks/main.yml
  roles/dlrn-server/templates/site.pp.j2
  roles/dlrn-server/templates/test-common.yaml
  roles/dlrn-server/templates/trunk-common.yaml
  tests/tox-molecule.yml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Rename dlrn-server-new role to dlrn-server
  playbooks/site.yaml
  roles/dlrn-server/README.md
  roles/dlrn-server/defaults/main.yml
  roles/dlrn-server/files/centos7-rocky-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos7-stein-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/molecule/default/converge.yml
  roles/dlrn-server/molecule/default/gilt.yml
  roles/dlrn-server/molecule/default/molecule.yml
  roles/dlrn-server/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

logserver: remove purge-logs installation
  roles/logserver/files/purge-logs.py
  roles/logserver/tasks/main.yaml
Due: sf-infra-configure-hosts

Remove sf-release role
  playbooks/site.yaml
  roles/sf-install-server/tasks/main.yaml
  roles/sf-release/README.rst
  roles/sf-release/files/sf-release.repo
  roles/sf-release/tasks/main.yaml
Due: sf-infra-configure-hosts

Deploy test instance to validate openstack resize on vexxhost
  README.md
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

fix rules-zuul for prometheus
  monitoring/rules-zuul.yaml
Due: sf-infra-configure-hosts

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, package.dhall, playbooks/vars/.*.dhall, conf/.*
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry-vexxhost.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^tox.ini$, ^tests/.*molecule.yml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py
