Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, package.dhall, playbooks/vars/.*.dhall, conf/.*
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry-vexxhost.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^tox.ini$, ^tests/.*molecule.yml$

Add zuul queue collector
  roles/custom-exporter/defaults/main.yaml
  roles/custom-exporter/files/exporter.py
  roles/custom-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts

custom-exporter: add --journald-config argument
  roles/custom-exporter/files/exporter.py
  roles/custom-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts

custom-exporter: also export max change age
  roles/custom-exporter/files/exporter.py
Due: sf-infra-configure-hosts

Add alerting rules for Zuul blocked changes
  roles/prometheus/files/rules-zuul.yaml
  roles/prometheus/tasks/main.yaml
Due: prometheus-lint, sf-infra-configure-hosts

ansible: replace module_default statement
  playbooks/configure-tenants.yaml
  playbooks/create-hosts.yaml
  playbooks/tasks/configure-tenant.yaml
  playbooks/tasks/create-hosts.yaml
  roles/manage-image/tasks/main.yaml
  roles/manage-networking/tasks/main.yaml
  roles/manage-networking/tasks/security_group_rule.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

ansible: set default(omit) for project_name auth param
  playbooks/tasks/configure-tenant.yaml
  playbooks/tasks/create-hosts.yaml
  roles/manage-image/tasks/main.yaml
  roles/manage-networking/tasks/main.yaml
  roles/manage-networking/tasks/security_group_rule.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

ansible: add default for include_vars tenant.yaml, add when condition for networking
  playbooks/tasks/configure-tenant.yaml
  playbooks/tasks/create-hosts.yaml
  roles/manage-networking/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

nodepool-tripleo: remove private network, subnet and router.
  playbooks/vars/nodepool-tripleo.yaml
  vars/nodepool-tripleo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

prometheus: extract configuration files from the role
  Makefile
  monitoring/binding.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-afs.yaml
  monitoring/rules-backup.yaml
  monitoring/rules-dlrn.yaml
  monitoring/rules-http.yaml
  monitoring/rules-node.dhall
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.dhall
  monitoring/rules-node_proxy.yaml
  monitoring/rules-nodepool.yaml
  monitoring/rules-systemd.yaml
  monitoring/rules-zuul.yaml
  monitoring/rules.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts

prometheus: refactor config functions
  monitoring/README.md
  monitoring/binding.dhall
  monitoring/prometheus-config.dhall
  monitoring/prometheus.dhall
  monitoring/scrape-configs.dhall
Due: sf-infra-configure-hosts

prometheus: re-order configuration for followup change
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-configure-hosts

prometheus: manage blackbox url through instance schema
  conf/schemas/Instance.dhall
  monitoring/prometheus-config.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

prometheus: add demo
  monitoring/demo.dhall
Due: sf-infra-configure-hosts

Include rules-zuul.yaml in the Prometheus configuration
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-configure-hosts

Increase Zuul long running jobs to 8h instead of 4h.
  roles/custom-exporter/files/exporter.py
Due: sf-infra-configure-hosts

dhall: add ansible_host parameter
  conf/functions.dhall
  conf/schemas/Connection.dhall
Due: none

Rename centos8-train-components builder to centos8-train
  roles/dlrn-server/templates/trunk-centos8-common.yaml
  roles/dlrn-server/templates/trunk-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Complete rename of centos8-train builders
  roles/dlrn-server/templates/trunk-centos8-common.yaml
  roles/dlrn-server/templates/trunk-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable cron jobs for centos8-train and centos8-train-old
  roles/dlrn-server/templates/trunk-centos8-common.yaml
  roles/dlrn-server/templates/trunk-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

roles: ensure httpd package and service, add RedHad ansible_distribution
  roles/monitoring-gateway/tasks/main.yaml
  roles/node-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts

Fixed problems related to run registry-renew-certificates
  playbooks/registry-renew-certificates.yml
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Remove the centos-ocata and centos-pike workers
  roles/dlrn-server/templates/trunk-centos7-common.yaml
  roles/dlrn-server/templates/trunk-common.yaml
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

container-service: dump container creation command to a script
  roles/container-service/tasks/main.yaml
Due: sf-infra-configure-hosts

Add firewalld role to logreduce-mqtt
  playbooks/host_vars/logreduce-mqtt-01.softwarefactory-project.io.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

generate-etc-hosts: remove hardcoded hostname, make ssh_config optional
  roles/generate-etc-hosts/defaults/main.yaml
  roles/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-configure-hosts

Added another nodepool mappings
  roles/statsd-exporter/files/statsd_mapping.yml
Due: sf-infra-configure-hosts

grafana and prometheus: remove hardcoded url from config files
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  roles/container-service/README.rst
  roles/container-service/tasks/main.yaml
  roles/grafana/tasks/main.yaml
  roles/grafana/templates/datasource_prometheus.yml.j2
  roles/grafana/templates/grafana.ini.j2
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts

postfix: move hardcoded parameter in host_vars, remove role for brigde
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/postfix/tasks/main.yaml
Due: sf-infra-configure-hosts

monitoring: remove all hardcoded variables from multiple roles
  playbooks/group_vars/all
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/alert-manager/tasks/main.yaml
  roles/postfix/tasks/main.yaml
  roles/statsd-exporter/README.md
  roles/statsd-exporter/defaults/main.yml
  roles/udp-multiplexer/defaults/main.yaml
  roles/udp-multiplexer/tasks/main.yaml
Due: sf-infra-configure-hosts

Update to dhall v17
  conf/functions.dhall
Due: none

Add reformat change to the blame ingore list
  .git-blame-ignore-revs
Due: sf-infra-configure-hosts

Reformat the code base using dhall-1.33.1
  Makefile
  ansible/hosts.dhall
  conf/common.dhall
  conf/functions.dhall
  conf/schemas/Connection.dhall
  conf/schemas/Instance.dhall
  conf/schemas/Rule.dhall
  conf/schemas/Server.dhall
  conf/schemas/Tenant.dhall
  conf/types/Groups.dhall
  monitoring/prometheus-config.dhall
  monitoring/rules.dhall
  monitoring/scrape-configs.dhall
  vars/directory-tree.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
  vars/nodepool-tripleo/images.dhall
  vars/package.dhall
  vars/tenants.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

make: update rule to force YAML generation
  Makefile
  monitoring/prometheus.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-rdo.yaml
  playbooks/vars/nodepool-sf.yaml
  playbooks/vars/nodepool-tripleo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

dhall: move hardcoded dns_servernames in vars
  conf/functions.dhall
  vars/common.dhall
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
  vars/nodepool-rdo/networking.dhall
  vars/nodepool-sf/networking.dhall
Due: sf-infra-configure-hosts

Added new alarms for nodepool launcher
  monitoring/rules-nodepool.yaml
Due: sf-infra-configure-hosts

Remove nodepool deleting state alert
  monitoring/rules-nodepool.yaml
Due: sf-infra-configure-hosts

functions: expose the map function
  conf/functions.dhall
Due: none

Changing new workflow of replacing SSL certs in Openshift
  playbooks/host_vars/registry.rdoproject.org.yml
  playbooks/registry-cert-check.yml
  playbooks/registry-renew-certificates.yml
Due: sf-infra-configure-hosts

Add firewalld rules for Prometheus host
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/firewalld/README.md
  roles/firewalld/molecule/default/converge.yml
  roles/firewalld/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Limit access to elasticsearch
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts
