Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

[microshift] Small improvements in Microshift role; add README
  roles/extra/microshift/README.md
  roles/extra/microshift/defaults/main.yaml
  roles/extra/microshift/files/policy.json
  roles/extra/microshift/handlers/main.yaml
  roles/extra/microshift/tasks/crio.yaml
  roles/extra/microshift/tasks/firewall.yaml
  roles/extra/microshift/tasks/local-storage.yaml
  roles/extra/microshift/tasks/main.yaml
  roles/extra/microshift/tasks/microshift.yaml
  roles/extra/microshift/tasks/post.yaml
  roles/extra/microshift/tasks/post_crio.yaml
  roles/extra/microshift/tasks/post_microshift.yaml
  roles/extra/microshift/tasks/pre.yaml
  roles/extra/microshift/tasks/pv.yaml
  roles/extra/microshift/tasks/registry_login.yaml
  roles/extra/microshift/tasks/swap.yaml
  roles/extra/microshift/tasks/tools.yaml
Due: none

[microshift] Change condition to install OLM
  roles/extra/microshift/tasks/olm.yaml
Due: none

Enable apache-exporter on all servers with Apache
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_dlrn.yaml
  playbooks/site_osci.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[microshift] Port container policy from CRC
  roles/extra/microshift/defaults/main.yaml
  roles/extra/microshift/files/policy.json
  roles/extra/microshift/tasks/crio.yaml
Due: none

[microshift] Change way to verify if OLM was deployed
  roles/extra/microshift/tasks/olm.yaml
Due: none

[microshift] Change pv data directory owner and set proper SELinux label
  roles/extra/microshift/tasks/pv.yaml
Due: none

[microshift] Add standard-user config
  roles/extra/microshift/README.md
  roles/extra/microshift/defaults/main.yaml
  roles/extra/microshift/tasks/main.yaml
  roles/extra/microshift/tasks/pre.yaml
  roles/extra/microshift/tasks/standard-user.yaml
Due: none

Change storageclass to standard; drop local-storage-provisioner in kubernetes
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/tasks/ingress.yaml
  roles/extra/kubernetes/tasks/local-storage.yaml
  roles/extra/kubernetes/tasks/main.yaml
  roles/extra/kubernetes/tasks/metallb.yaml
  roles/extra/kubernetes/tasks/pv.yaml
  roles/extra/microshift/defaults/main.yaml
Due: none

[microshift, kubernetes] Move repo configuration to template; copy kube config
  roles/extra/kubernetes/tasks/main.yaml
  roles/extra/kubernetes/tasks/post.yaml
  roles/extra/microshift/tasks/repo.yaml
  roles/extra/microshift/templates/microshift-deps.repo.j2
  roles/extra/microshift/templates/microshift.repo.j2
Due: none

[kubernetes] Apply PV manifest as privileged user
  roles/extra/kubernetes/tasks/pv.yaml
Due: none

[microshift] Remove microshift role
  roles/extra/microshift/README.md
  roles/extra/microshift/defaults/main.yaml
  roles/extra/microshift/files/policy.json
  roles/extra/microshift/handlers/main.yaml
  roles/extra/microshift/tasks/cleanup.yaml
  roles/extra/microshift/tasks/crio.yaml
  roles/extra/microshift/tasks/firewall.yaml
  roles/extra/microshift/tasks/main.yaml
  roles/extra/microshift/tasks/microshift.yaml
  roles/extra/microshift/tasks/olm.yaml
  roles/extra/microshift/tasks/post.yaml
  roles/extra/microshift/tasks/pre.yaml
  roles/extra/microshift/tasks/pv.yaml
  roles/extra/microshift/tasks/registry_login.yaml
  roles/extra/microshift/tasks/repo.yaml
  roles/extra/microshift/tasks/selinux.yaml
  roles/extra/microshift/tasks/standard-user.yaml
  roles/extra/microshift/tasks/swap.yaml
  roles/extra/microshift/tasks/tools.yaml
  roles/extra/microshift/templates/microshift-deps.repo.j2
  roles/extra/microshift/templates/microshift.repo.j2
Due: none

Enable normal operations for centos9-antelope builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

acme-tiny-refresh: improve delaying, add no-delay option
  roles/service/acme-tiny/templates/acme-tiny-refresh.sh
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Comment www.rdoproject.org host and mysql replication user creation
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/site_osci.yaml
  roles/infra-dlrn/mariadb-replicated/tasks/master.yml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

roles: add redirect to /dev/null for crontab
  playbooks/zuul/configure-quay-host.yaml
  roles/rdo/afs-monitoring/tasks/main.yml
  roles/rdo/backup-monitoring/tasks/main.yml
  roles/rdo/backup-srv/tasks/httpd_koji.yaml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/rdo/quay/tasks/prune.yml
  roles/service/acme-tiny/tasks/main.yaml
  roles/service/opensearch-monitoring/tasks/check_es.yaml
  roles/service/setup-ssl/tasks/ssl_create_cert.yml
  roles/sf/builder-cleanup/tasks/main.yaml
  roles/sf/k1s/tasks/main.yaml
  roles/sf/manage-upstream-config-project/tasks/main.yaml
  roles/sf/openstack-simply-reporter/tasks/main.yml
  roles/sf/podman-pruner/tasks/main.yaml
  roles/system/update-host/tasks/main.yml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check

Use tls_requires when creating mariadb user for replication
  roles/infra-dlrn/mariadb-replicated/tasks/master.yml
Due: none

Change nodeset label for sf-infra-molecule job
  zuul.d/jobs.yaml
Due: none

Remove integrations node
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/infra-dlrn/mariadb-replicated/tasks/master.yml
  roles/sf/integrations/defaults/main.yaml
  roles/sf/integrations/handlers/main.yaml
  roles/sf/integrations/molecule/default/Dockerfile.j2
  roles/sf/integrations/molecule/default/INSTALL.rst
  roles/sf/integrations/molecule/default/molecule.yml
  roles/sf/integrations/molecule/default/playbook.yml
  roles/sf/integrations/molecule/default/tests/test_default.py
  roles/sf/integrations/tasks/main.yaml
  roles/sf/integrations/templates/default.yaml.j2
  roles/system/generate-etc-hosts/files/sshconfig
  tox.ini
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Fix Soeru's SSH key
  playbooks/zuul/configure-hosts.yaml
Due: none

Revert "Comment www.rdoproject.org host"
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/site_osci.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Force os keypairs replacement
  playbooks/tasks/configure-tenant.yaml
Due: none

Re-enable expected behavior with os keypair management
  playbooks/tasks/configure-tenant.yaml
Due: none

Revert "Force os keypairs replacement"
  playbooks/tasks/configure-tenant.yaml
Due: none

Switch source branch name to stable/2023.1 for centos9-antelope
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Remove DLRN rpm-packaging servers
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  playbooks/host_vars/rpm-packaging-ci.rdoproject.org.yaml
  playbooks/site_dlrn.yaml
  playbooks/vars/infra-rdo.yaml
  roles/infra-dlrn/dlrn-server/files/centos7-rocky-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos7-stein-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-victoria-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-wallaby-rpm-packaging-dlrn-deps.repo
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change zookeeper_exporter port to use SSL; install exporter on zs host
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/zs.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/sf/zookeeper-exporter/README.md
  roles/sf/zookeeper-exporter/defaults/main.yml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Adds namespaces for podified antelope c9 for quay.rdoproject.org
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

Add pruner token for podified-antelope-centos9
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

Switch master RDO Trunk builders to bobcat rdoinfo tags
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

[crc] Set CRC version
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/download.yaml
Due: none

[apache-exporter] Allow Prometheus to read apache exporter
  playbooks/host_vars/images.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

[crc] Add strip-components parameter to unarchive client archive
  roles/extra/crc/tasks/download.yaml
Due: none

Remove zookeeper exporter leftovers
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-sf

Add users to centos.sf.io
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/system/users/README
  roles/system/users/defaults/main.yaml
  roles/system/users/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add c9-antelope DLRN API Prometheus endpoint
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

arch.yaml sf.io: remove gerritbot service
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: Improve WillRunOutOfDiskInThreeDays rule
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: prometheus-lint, sf-infra-configure-hosts-sf

Add the systemd_unit_inactive rule
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
  zuul.d/jobs.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

Ensure jpena and weshay account absent
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Move default parameter from playbook to defaults
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/local-storage.yaml
  roles/extra/crc/tasks/start.yaml
Due: none
