Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: fedora-latest-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: ara_api
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: ara_api
    secret: bridge_ara_api

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
      label: rdo-centos-8

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/custom-exporter/files/exporter.py

Added nodepool-builder-02 firewall rule
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/rules/prometheus-statsd.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Switch CentOS 7 worker in rpm-packaging to use Python 3
  playbooks/host_vars/rpm-packaging-ci.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Switch workers in trunk-centos7 to use Python 3
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Switch workers in trunk.rdoproject.org to use Python 3
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Update container images; move statsd_exporter to container
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  roles/statsd-exporter/defaults/main.yml
  roles/statsd-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

Move mock config to centos8stream.cfg for centos8-victoria builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Dummy commit on create-hosts.yaml to recreate lists.rdo
  playbooks/create-hosts.yaml
Due: sf-infra-create-hosts, sf-infra-configure-hosts

Move mock config to centos8stream.cfg for centos8-ussuri builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Move mock config to centos8stream.cfg for centos8-train builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

dlrn: improve alerts and troubleshoot documentation
  doc/engineer_on_duty/troubleshooting/RDOTrunkRepoTooOld.md
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
Due: sf-infra-configure-hosts

Added zone parameter to firewalld role
  roles/firewalld/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

backup-monitoring: rewrite shellscript in python
  roles/backup-monitoring/files/check-bup-backups.py
  roles/backup-monitoring/files/get-bup-backup-age.sh
  roles/backup-monitoring/tasks/main.yml
  roles/backup-monitoring/templates/check-bup-backups.sh.j2
Due: sf-infra-configure-hosts, sf-infra-molecule

Added private, public network and Nodepool launcher ip to the security group
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/rules/prometheus-statsd.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

mailing-lists: enable TLS while switching new host to production
  roles/mailing_lists/vars/main.yml
Due: sf-infra-configure-hosts

doc: add grafana no data troubleshooting
  doc/engineer_on_duty/troubleshooting/GrafanaNoData.md
Due: sf-infra-configure-hosts

Added new services to monitoring by node exporter
  roles/node-exporter/defaults/main.yml
Due: sf-infra-configure-hosts

dev-spice: add initial role
  playbooks/site.yaml
  roles/dev-spice/README.md
  roles/dev-spice/tasks/main.yaml
Due: sf-infra-configure-hosts

Openstack simply reporter: fix file content
  roles/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts

Count ports per provided networks; count floating ips
  roles/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts

Add main package to simplify importing sf-infra definition
  Infra/OpenShift/package.dhall
  Infra/Router/package.dhall
  monitoring/demo.dhall
  monitoring/package.dhall
  package.dhall
  vars/infra-rdo/package.dhall
  vars/infra-sf/package.dhall
  vars/infra-sf/rules/package.dhall
  vars/package.dhall
Due: none

Add backup host pub key to lists server
  playbooks/host_vars/lists.rdoproject.org/system.yml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Split configure hosts to sf and rdo
  playbooks/site.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Move lambda host to sf site group
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts

Do not set cloud images to public for now
  roles/manage-image/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-configure-hosts

Add a Fedora 33 image to infra-sf
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

monitoring: Add Swap in alerting
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

Trigger sf-infra-configure-registry job
  playbooks/host_vars/registry.rdoproject.org.yml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Added backup-server role to backup host
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Add access to Misc
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

Bridge: allocate current IP to bridge
  playbooks/create-bridge.yaml
  zuul.d/jobs.yaml
Due: sf-infra-create-bridge, sf-infra-configure-hosts, sf-infra-molecule

Change statsd_exporter log to info
  roles/statsd-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

Rebuild bridge using Fedora 33
  playbooks/create-bridge.yaml
  playbooks/tasks/create-hosts.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-registry-host.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-create-bridge, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry

Remove RDO Cloud AFS mirror
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/mirror.regionone.rdo-cloud.rdoproject.org.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Add 100GB volume for logs to fedora.sf-project.io
  playbooks/host_vars/fedora.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Post-rebuild fixes for bridge
  playbooks/create-bridge.yaml
  playbooks/tasks/create-hosts.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-registry-host.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-create-bridge, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule

fedora.sf-project.io: enable bind mount
  playbooks/host_vars/fedora.softwarefactory-project.io
Due: sf-infra-configure-hosts

Pin some OSAS roles to pre-ansible 3.0.0 version
  requirements.yml
Due: sf-infra-configure-hosts

Simplify role path in Ansible configuration
  ansible/ansible-registry.cfg
  ansible/ansible.cfg
Due: sf-infra-configure-hosts

Add acme-tiny role for fedora.sf.io
  playbooks/host_vars/fedora.softwarefactory-project.io
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts

Get last timestamp from elasticsearch
  Makefile
  doc/engineer_on_duty/troubleshooting/ElasticsearchOutdatedMetrics.md
  monitoring/rules-es-check.dhall
  monitoring/rules-es-check.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/elasticsearch/files/check-elasticsearch.py
  roles/elasticsearch/tasks/check_es.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py
