Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, shake-factory-docs, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-dlrn: any of: ^playbooks/vars/dlrn.yaml$, ^playbooks/vars/dlrn-db.yaml$, ^playbooks/host_vars/dlrn-db.rdoproject.org.yaml$, ^playbooks/host_vars/trunk-centos8.rdoproject.org.yaml$, ^playbooks/host_vars/trunk.rdoproject.org.yaml$, ^playbooks/group_vars/dlrn$, ^playbooks/site_dlrn.yaml$, ^roles/dlrn-server.*, ^monitoring/rules-dlrn.yaml
  sf-infra-configure-hosts-rdo: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-sf: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-grafana-dashboards: any of: ^roles/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  shake-factory-docs: any of: ^Infra/.*$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Add crc role - openshift devstack
  roles/crc/defaults/main.yaml
  roles/crc/tasks/download.yaml
  roles/crc/tasks/main.yaml
  roles/crc/tasks/post.yaml
  roles/crc/tasks/secret.yaml
  roles/crc/tasks/setup.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add performance.json and subunit files to the Opensearch
  playbooks/host_vars/elk.review.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[apache-exporter] Add server status configuration; enable service on rdo infra
  playbooks/site_rdo.yaml
  roles/apache-exporter/handlers/main.yml
  roles/apache-exporter/tasks/main.yml
  roles/apache-exporter/templates/server-status.conf.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kind] Increase system parameters for inode
  roles/kind/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Configure kubeconfig and install kubectl; change no_log param
  roles/crc/defaults/main.yaml
  roles/crc/tasks/post.yaml
  roles/crc/tasks/secret.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[apache_exporter] Disable rewrite rule; change apache host
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  roles/acme-tiny/templates/vhost.conf
  roles/apache-exporter/defaults/main.yml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[apache-exporter] Add apache_exporter security group for RDO tenant
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

arch sf.io: Add field for ibm instances
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Switch to antelope tag for RDO Trunk master builders
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
  roles/dlrn-server/molecule/default/converge.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Add missing flavors; add extra_specs for flavor definition
  playbooks/create-tripleo-standalone.yaml
  playbooks/host_vars/baremetal02.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Enrique Vallespi account in DLRN RDO servers
  roles/dlrn-server/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Start DLRN builder for centos9-master (head)
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

jobs: change the way jobs defined to improve hosts configuration
  ansible/ansible-registry.cfg
  ansible/ansible.cfg
  ansible/hosts.yaml
  playbooks/create-bridge.yaml
  playbooks/group_vars/rdocloud-data-fetcher
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
  playbooks/site.yaml
  playbooks/site_bridge.yaml
  playbooks/site_dlrn.yaml
  playbooks/site_osci.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-registry-host.yaml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-create-bridge, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-molecule

Remove shake-factory CI
  Infra/README.md
  Infra/package.dhall
  Shakefile.hs
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule, shake-factory-docs

osci: activate osci/mailing_lists role
  playbooks/site_osci.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move CRC role to extra
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/download.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/post.yaml
  roles/extra/crc/tasks/secret.yaml
  roles/extra/crc/tasks/setup.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

zuul jobs: activate sf-infra-quay-check
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Add dashboards for Vexxhost hosts and Zuul VMs
  roles/sf/grafana/README.md
  roles/sf/grafana/files/vexxhost-summary.json
  roles/sf/grafana/files/zuul-summary.json
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove dhall-format linter
  Makefile
Due: none

Add sample summary dashboard
  monitoring/summary-dashboard.dhall
Due: prometheus-lint

Add c9-zed DLRN API Prometheus endpoint
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Add workaround for pulling k8s images when cri-o enabled
  roles/extra/kubernetes/tasks/kubeadm.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Change local-path-provisioner container images url
  roles/extra/kubernetes/tasks/local-storage.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes][crc] Improve local storage provisioning
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/local-storage.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/setup.yaml
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/tasks/local-storage.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add baremetal03.rdoproject.org
  ansible/hosts.yaml
  doc/how-to-add-ibm-bm-standalone.md
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/create-tripleo-standalone.yaml
  playbooks/group_vars/baremetal.yaml
  playbooks/host_vars/baremetal03.rdoproject.org.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site_rdo.yaml
  playbooks/tasks/standalone-setup.yaml
  playbooks/tasks/templates/local-overrides.yaml.j2
  playbooks/vars/infra-sf.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  roles/system/volume/tasks/delete_partition.yaml
  roles/system/volume/tasks/main.yaml
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-sf/networking.dhall
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

[crc] Improve local storage tasks
  roles/extra/crc/tasks/local-storage.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

host_vars bridge
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/tasks/standalone-setup.yaml
  playbooks/tasks/templates/local-overrides.yaml.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move create-tripleo-standalone.yaml in playbooks/zuul
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/create-tripleo-standalone.yaml
  playbooks/group_vars/baremetal.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/create-tripleo-standalone.yaml
  playbooks/zuul/group_vars/baremtal.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/tasks/standalone-setup.yaml
  playbooks/zuul/templates/local-overrides.yaml.j2
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

[crc] Remove additional local PV; pin install_yamls to commit
  roles/extra/crc/tasks/local-storage.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

create-tripleo-standalone: Move cloud config part in a separate play
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/create-tripleo-standalone.yaml
  playbooks/zuul/group_vars/baremetal.yaml
  playbooks/zuul/tasks/standalone-setup.yaml
  playbooks/zuul/templates/clouds.yaml.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

jobs: fix files matchine for create-tripleo-standalone
  playbooks/zuul/group_vars/baremetal.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

create-tripleo-standalone: fix typo in file matching
  playbooks/zuul/group_vars/baremetal.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

refactor configure-tripleo-standalone
  playbooks/configure-tripleo-standalone.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/configure-tripleo-standalone.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

baremetal03: add mirror, ze, zfgw and nodepool-launcher instances
  ansible/hosts.yaml
  doc/how-to-add-ibm-bm-standalone.md
  doc/inventory.md
  playbooks/group_vars/private-afs-mirror.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
  roles/service/apache-exporter/tasks/main.yml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
  vars/infra-rdo/ibm-baremetal.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal03: Add instances on arch and ssh config
  doc/how-to-add-ibm-bm-standalone.md
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
  roles/infra/ssh/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

infra-sf: Add fedora 36 image
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add cert for ibm-bm3, refactor ca_trust role
  ansible/hosts.yaml
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
  playbooks/group_vars/ibm-bm2-nodepool.yaml
  playbooks/site_sf.yaml
  roles/sf/ca-trust/defaults/main.yaml
  roles/sf/ca-trust/tasks/main.yaml
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Change ingress provider; bind ingress to hostNetwork
  roles/extra/kubernetes/tasks/ingress.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

how-to-ibm-bm-standalone: add doc to update /etc/software-factory/clouds.yaml
  doc/how-to-add-ibm-bm-standalone.md
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
