Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

quay_tag_pruner: Ensure the base URL is treated consistently
  roles/rdo/quay/files/quay_tag_pruner.py
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Remove legacy logreduce cli installation
  playbooks/group_vars/logreduce-mqtt
  playbooks/host_vars/logreduce-mqtt-01.softwarefactory-project.io.yaml
  playbooks/logreduce/group_vars/all
  playbooks/logreduce/site_logreduce.yaml
  playbooks/site_sf.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

microzuul - update SoftwareFactory CR
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: none

Create RDO dir and new dashboard in Grafana
  roles/sf/grafana/files/RDO/rdo-puppet-promotions-pipeline.json
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

microzuul - align with current config
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: none

Add baremetal03 and ensure rhel-9.2 in roles/rdo/ibm-redhat-subscription
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
  playbooks/site_rdo.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/tasks/standalone-setup-centos-8.yaml
  playbooks/zuul/tasks/standalone-setup-rhel-9.2.yaml
  playbooks/zuul/tasks/standalone-setup.yaml
  playbooks/zuul/templates/local-overrides-centos-8.yaml.j2
  playbooks/zuul/templates/local-overrides.yaml.j2
  roles/rdo/ibm-baremetal-setup/tasks/main.yaml
  roles/rdo/ibm-redhat-subscription/tasks/main.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/ibm-baremetal.dhall
Due: prometheus-lint, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

sf.io arch.yaml: Add ibm-bm3 instances
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

squid: ensure htpasswd file will be populated
  playbooks/zuul/configure-hosts.yaml
  roles/rdo/ibm-shiftstack-squid/tasks/main.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-rdo

Add "JSON API" Grafana plugin
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add GraphQL plugin
  roles/sf/grafana/tasks/main.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Do not download same crc.qcow2 image when already present
  roles/next-gen/sync-images/tasks/get_image.yaml
Due: none

Add script for pruning old CRC images
  roles/next-gen/promote-image/defaults/main.yaml
  roles/next-gen/promote-image/tasks/configure.yaml
  roles/next-gen/promote-image/templates/prune-crc-image.sh.j2
Due: none

configure-tenant: use ansible 2.9 compatible module
  playbooks/tasks/configure-tenant.yaml
Due: none

configure-tenant: replace is not a valid choice for os_keypair
  playbooks/tasks/configure-tenant.yaml
Due: none

Add DLRN Centos 9 Antelope GraphQL datasource
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Ensure that latest image exists on remote cloud; fix debug message
  roles/next-gen/sync-images/tasks/get_image.yaml
Due: none

Move GraphQL DLRN releases into a var
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

role volume: Add variables to create lv and partition
  roles/system/volume/defaults/main.yaml
  roles/system/volume/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add tenant_configuration parameter into opensearch.rdoproject.org
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

volume: simplify when bind_mounts condition
  roles/system/volume/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

microshift.sf.io - refactor plays/roles
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  requirements.yml
  roles/sf/openshift/install-logjuicer/files/logjuicer_service.yaml
  roles/sf/openshift/install-logjuicer/tasks/main.yaml
  roles/sf/openshift/install-prometheus/files/microshift_prometheus.yaml
  roles/sf/openshift/install-prometheus/tasks/main.yaml
  roles/sf/openshift/install-sf-operator/defaults/main.yaml
  roles/sf/openshift/install-sf-operator/tasks/main.yaml
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
  roles/sf/setup-microshift/defaults/main.yaml
  roles/sf/setup-microshift/tasks/main.yaml
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: sf-infra-configure-hosts-sf

alertmanager: configure slack notifications
  monitoring/rules-zuul.dhall
  monitoring/rules-zuul.yaml
  playbooks/site_sf.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/templates/slack_api_url.yaml.j2
  roles/sf/alert-manager/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

Add Ansible collections to install
  requirements.yml
Due: none

microzuul - provide nodepool-providers-secrets
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

enable let's encrypt for prometheus Route on microshift.sf.ignored
  playbooks/site_sf.yaml
  roles/sf/openshift/install-cert-manager-openshift-routes/files/deploy-resources.yaml
  roles/sf/openshift/install-cert-manager-openshift-routes/tasks/main.yaml
  roles/sf/openshift/install-prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Improve Quay role
  roles/rdo/quay/tasks/clair.yml
  roles/rdo/quay/templates/clair_config.yaml.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Enable slack notification when slack_api_url is provided
  roles/sf/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add cloud_name variable into the error message when CRC VM exists
  roles/next-gen/crc-image/tasks/check_vm.yaml
Due: none

Print more information when spawn an CRC instance
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: none

remove ara, replace os_keypair with openstack.cloud.keypair
  playbooks/tasks/configure-tenant.yaml
  playbooks/zuul/configure-hosts.yaml
Due: none

Install python3-pip package when not available
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: none

configure-private-clouds: Ensure tripleo ssh keys are added
  playbooks/zuul/configure-private-clouds.yaml
Due: sf-infra-create-tripleo-standalone

nodepool instances: Ensure services are reloaded if crt are updated
  playbooks/site_sf.yaml
  roles/sf/ca-trust/tasks/main.yaml
  roles/sf/nodepool-self-signed-crt/defaults/main.yaml
  roles/sf/nodepool-self-signed-crt/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

baremetal: ensure the system won't be unregister at the end of shiftstack/dev-install
  playbooks/zuul/templates/local-overrides.yaml.j2
Due: sf-infra-create-tripleo-standalone

Add support to create images with CRC version
  playbooks/crc/crc-make-snapshot.yaml
  roles/next-gen/crc-snapshot/README.md
  roles/next-gen/crc-snapshot/tasks/configure.yaml
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
  roles/next-gen/promote-image/tasks/configure.yaml
  roles/next-gen/promote-image/templates/promote-crc-image.sh.j2
Due: none

Increase min_free_kbytes on logserver
  roles/rdo/logserver/tasks/main.yaml
Due: sf-infra-configure-hosts-rdo

Inject SSH authorized keys in new CRC deployment
  roles/next-gen/extracted-crc/tasks/modify.yaml
Due: none

Add summary script to perform CRC image process
  roles/next-gen/summary-script/tasks/main.yaml
  roles/next-gen/summary-script/templates/do-crc-images.sh.j2
Due: none

Make a symlink to .ssh/authorized_keys.d/ignition file
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
Due: none

Add condition to verify that crc_version and crc_cloud_name are set
  roles/next-gen/summary-script/templates/do-crc-images.sh.j2
Due: none
