Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, shake-factory-docs, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: ara_api
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: ara_api
    secret: bridge_ara_api

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure-hosts
  description: Configure the DLRN hosts
  dependencies:
  - name: sf-infra-configure-hosts
    soft: true
  timeout: 3600
  vars:
    sf_infra_play_name: site_dlrn
    fetch_galaxy_role: true

sf-infra-configure-hosts-rdo:
  parent: sf-infra-base
  description: Configure the RDO infra hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-hosts-sf:
  parent: sf-infra-base
  description: Configure the sf.io hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 3600
  vars:
    sf_infra_play_name: site_sf
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/sf/custom-exporter/files/exporter.py

mariadb-replication: rerun setup step
  playbooks/site_dlrn.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

mariadb: revert server_id
  roles/dlrn/mariadb-replicated/tasks/replica.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

mariadb: revert server_id value to 2
  roles/dlrn/mariadb-replicated/tasks/replica.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

site_dlrn: test if running setup of mysql-replica breaks replication
  playbooks/site_dlrn.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Improve opensearch-monitoring script
  monitoring/rules-es-check.dhall
  monitoring/rules-es-check.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  roles/service/opensearch-monitoring/files/check-opensearch.py
  roles/service/opensearch-monitoring/tasks/check_es.yaml
  roles/service/opensearch-monitoring/tasks/elk_exporter.yaml
  roles/service/opensearch-monitoring/tasks/main.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove unnecessary double quotes
  roles/service/opensearch-monitoring/tasks/check_es.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Port latest changes from base-crc job; add console address info
  roles/extra/crc/tasks/cleanup.yaml
  roles/extra/crc/tasks/console.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

site_dlrn: comment mariadb-replicated play for it breaks replication
  playbooks/site_dlrn.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add openstack-k8s-operators project; add more info
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change token for openstack-k8s-operators pruner app
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove EOL Fedora nodesets
  playbooks/test-python.yaml
  zuul.d/python-jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[quay] Add debug option
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/tasks/quay.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update monitoring related service container images
  playbooks/group_vars/all
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[prometheus] Switch blackbox exporter probe to https_2xx
  monitoring/prometheus.yaml
  monitoring/scrape-configs.dhall
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[grafana] Set editable var to true for all datasource
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[grafana] Set :Z flag for configuration volume
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[afs] Port configs from upstream; use httpd-scl; disable apache exporter
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/rdo/opendev-system-config-mirror/files/wheel_header.html
  roles/rdo/opendev-system-config-mirror/handlers/main.yaml
  roles/rdo/opendev-system-config-mirror/tasks/RedHat.yaml
  roles/rdo/opendev-system-config-mirror/tasks/main.yaml
  roles/rdo/opendev-system-config-mirror/templates/mirror.vhost.j2
  roles/rdo/opendev-system-config-mirror/vars/CentOS.7.yaml
  roles/service/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Enable apache-exporter on AFS mirror
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/rdo/setup-ssl-self-signed/defaults/main.yaml
  roles/rdo/setup-ssl-self-signed/tasks/main.yaml
  roles/service/apache-exporter/defaults/main.yml
  roles/service/apache-exporter/handlers/main.yml
  roles/service/apache-exporter/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[mirror] Enable Apache2 service
  roles/rdo/opendev-system-config-mirror/handlers/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[opensearch-monitoring] Add certificate directory user mapping
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  roles/service/opensearch-monitoring/defaults/main.yml
  roles/service/opensearch-monitoring/tasks/elk_exporter.yaml
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove registry.rdoproject.org
  monitoring/prometheus.yaml
  playbooks/host_vars/registry.rdoproject.org.yml
  playbooks/rdo-registry.yaml
  playbooks/registry-cert-check.yml
  playbooks/registry-renew-certificates.yml
  playbooks/vars/infra-rdo.yaml
  playbooks/zuul/configure-registry-host.yaml
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-molecule

infra-sf: Add f37 image, remove unsupported fedora images
  Infra/Image/Type.dhall
  Infra/Image/default.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-tripleo.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, shake-factory-docs

sf.io/review.rdo: update sf arch files
  roles/infra/install-server/files/arch-managesf.review.rdoproject.org.yaml
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

remove unused registry.rdoproject.org data
  ansible/hosts.yaml
  doc/engineer_on_duty/troubleshooting/regenerate_registry_token.md
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Set up the centos9-antelope worker for RDO Trunk.
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Acme-tiny-refresh: introduce random delay to avoid "server busy" error
  roles/service/acme-tiny/tasks/main.yaml
  roles/service/acme-tiny/templates/acme-tiny-refresh.sh
  roles/sf/image-builder/tasks/main.yaml
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

dlrn: fake commit to trigger site_drln playbook
  playbooks/site_dlrn.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

monitoring: simplify packages need to be updated rules
  Makefile
  monitoring/package.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-system-package-count-rdo.dhall
  monitoring/rules-system-package-count-rdo.yaml
  monitoring/rules-system-package-count-sf.dhall
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

dlrn-server: rename roles/dlrn roles/infra-dlrn
  playbooks/site_dlrn.yaml
  roles/infra-dlrn/dlrn-server/README.md
  roles/infra-dlrn/dlrn-server/defaults/main.yml
  roles/infra-dlrn/dlrn-server/files/centos7-rocky-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos7-stein-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-victoria-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/files/centos8-wallaby-rpm-packaging-dlrn-deps.repo
  roles/infra-dlrn/dlrn-server/molecule/default/converge.yml
  roles/infra-dlrn/dlrn-server/molecule/default/gilt.yml
  roles/infra-dlrn/dlrn-server/molecule/default/molecule.yml
  roles/infra-dlrn/dlrn-server/tasks/main.yml
  roles/infra-dlrn/mariadb-replicated/.yamllint
  roles/infra-dlrn/mariadb-replicated/README.md
  roles/infra-dlrn/mariadb-replicated/files/limits.conf
  roles/infra-dlrn/mariadb-replicated/handlers/main.yml
  roles/infra-dlrn/mariadb-replicated/molecule/default/converge.yml
  roles/infra-dlrn/mariadb-replicated/molecule/default/molecule.yml
  roles/infra-dlrn/mariadb-replicated/tasks/common.yml
  roles/infra-dlrn/mariadb-replicated/tasks/master.yml
  roles/infra-dlrn/mariadb-replicated/tasks/replica.yml
  roles/infra-dlrn/mariadb-replicated/tasks/secure-mariadb.yml
  roles/infra-dlrn/mariadb-replicated/templates/my.cnf.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Add new organizations for podified main and zed c9
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

prometheus: ensure old files are deleted during sync
  roles/sf/prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add new tripleO organization pruner tokens
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Makefile: fix typo in MANAGED file name for rules-system-updates
  Makefile
  monitoring/rules-system-updates.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

backup: Add python3-pyxattr package
  roles/rdo/backup-srv/tasks/install.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Create fedora-37 bridge
  playbooks/create-bridge.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/tasks/create-hosts.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-quay-host.yaml
  playbooks/zuul/configure-tripleo-standalone.yaml
  playbooks/zuul/create-tripleo-standalone.yaml
Due: sf-infra-create-bridge, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-quay

bridge: ensure node-exporter service and update-host roles
  playbooks/site_bridge.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[container-builder] Add prune image crontab job; fix linter issues
  roles/sf/image-builder/tasks/main.yaml
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Microshift role
  roles/extra/microshift/defaults/main.yaml
  roles/extra/microshift/files/policy.json
  roles/extra/microshift/tasks/cleanup.yaml
  roles/extra/microshift/tasks/crio.yaml
  roles/extra/microshift/tasks/firewall.yaml
  roles/extra/microshift/tasks/local-storage.yaml
  roles/extra/microshift/tasks/main.yaml
  roles/extra/microshift/tasks/microshift.yaml
  roles/extra/microshift/tasks/olm.yaml
  roles/extra/microshift/tasks/post.yaml
  roles/extra/microshift/tasks/post_crio.yaml
  roles/extra/microshift/tasks/post_microshift.yaml
  roles/extra/microshift/tasks/pre.yaml
  roles/extra/microshift/tasks/pv.yaml
  roles/extra/microshift/tasks/registry_login.yaml
  roles/extra/microshift/tasks/repo.yaml
  roles/extra/microshift/tasks/selinux.yaml
  roles/extra/microshift/tasks/swap.yaml
  roles/extra/microshift/tasks/tools.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add sf-infra-configure-bridge
  playbooks/site_bridge.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Change zuul_api_url to list
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-dlrn: any of: ^playbooks/vars/dlrn.yaml$, ^playbooks/vars/dlrn-db.yaml$, ^playbooks/host_vars/dlrn-db.rdoproject.org.yaml$, ^playbooks/host_vars/trunk-centos8.rdoproject.org.yaml$, ^playbooks/host_vars/trunk.rdoproject.org.yaml$, ^playbooks/group_vars/dlrn$, ^playbooks/site_dlrn.yaml$, ^roles/dlrn-server.*, ^monitoring/rules-dlrn.yaml
  sf-infra-configure-hosts-rdo: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-sf: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-grafana-dashboards: any of: ^roles/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  shake-factory-docs: any of: ^Infra/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
