Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: fedora-latest-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: ara_api
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: ara_api
    secret: bridge_ara_api

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
      label: rdo-centos-8

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/custom-exporter/files/exporter.py

Revert "Run sf-infra-configure-hosts rdo and sf in same time"
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Remove ci-centos-org group from site_sf.yaml
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts

centos8-rpm-packaging: enable cron for wallaby
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
Due: sf-infra-configure-hosts

backup: Add dhall schemas and functions to generate host_vars for backup.rdo
  Infra/Backup/Location/Type.dhall
  Infra/Backup/Location/default.dhall
  Infra/Backup/Location/package.dhall
  Infra/Backup/Server/Type.dhall
  Infra/Backup/Server/default.dhall
  Infra/Backup/Server/package.dhall
  Infra/Backup/Type.dhall
  Infra/Backup/default.dhall
  Infra/Backup/mkCron.dhall
  Infra/Backup/mkLocations.dhall
  Infra/Backup/mkServers.dhall
  Infra/Backup/package.dhall
  Infra/Instance/Type.dhall
  Infra/Instance/default.dhall
  Infra/Instance/getBackup.dhall
  Infra/Instance/getBackups.dhall
  Infra/Instance/package.dhall
  Infra/package.dhall
  Makefile
  playbooks/group_vars/dlrn
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  roles/backup-monitoring/defaults/main.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts, sf-infra-molecule

Remove elk instance from backup host; added koji_host
  playbooks/host_vars/backup.rdoproject.org.yaml
  roles/backup-srv/templates/backup.yaml.j2
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

Change storage driver to overlay; use fuse-overlays as mount program
  roles/image-builder/tasks/main.yaml
Due: sf-infra-configure-hosts

Create a centos9-master-preview RDO Trunk builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Update prometheus and prometheus exporter container images
  playbooks/group_vars/all
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Update vexxhost host horizon checking according to mnaser
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

RDO Trunk: fixes to all releases and centos9-master-preview
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Updated node_exporter systemd units parameter
  roles/node-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts

Change Grafana container image
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Allow TripleO monitoring VM access to Kibana and Elasticsearch API
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Trigger sf-infra-create-hosts to recreate image-builder host
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-create-hosts, sf-infra-configure-hosts

Remove node-exporter-rpm role; run node-exporter in container
  roles/elasticsearch/tasks/check_es.yaml
  roles/node-exporter-rpm/README.md
  roles/node-exporter-rpm/handlers/main.yml
  roles/node-exporter-rpm/tasks/main.yaml
  roles/node-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Reduce max-server to 15 as the node suffers from lot of oom
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Propose removal of redhat-oss-git-stats.softwarefactory-project.io
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/redhat-oss-git-stats.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Stop builder cron for centos9-master-preview
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Revert "Stop builder cron for centos9-master-preview"
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

sf: change flavor for elk.sf.io
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add port 8766 to tripleo security group
  playbooks/vars/nodepool-tripleo.yaml
  vars/nodepool-tripleo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Fix Grafana dashboard job
  tests/pre-grafana-dash.yml
Due: sf-infra-configure-hosts

Added Joel account to the bridge
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

Add the centos9-master-preview worker to DLRN monitoring
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add apache-exporter role, apply it to trunk.rdo
  playbooks/group_vars/all
  playbooks/host_vars/trunk.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/apache-exporter/README.md
  roles/apache-exporter/defaults/main.yml
  roles/apache-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

Add Prometheus config to poll Apache exporter
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-configure-hosts

Add zookeeper exporter
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/host_vars/zs.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/grafana/files/zookeeper-exporter.json
  roles/grafana/tasks/main.yaml
  roles/zookeeper-exporter/README.md
  roles/zookeeper-exporter/defaults/main.yml
  roles/zookeeper-exporter/tasks/main.yml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
  vars/infra-sf/rules/prometheus.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

[image-builder] Install git which is required to build some image
  roles/image-builder/tasks/main.yaml
Due: sf-infra-configure-hosts

Add Grafana dashboard for the Apache exporter
  roles/grafana/files/apache-exporter.json
  roles/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts

Added guide how to regenerate registry token
  doc/engineer_on_duty/troubleshooting/regenerate_registry_token.md
Due: sf-infra-configure-hosts

Added quay rdo host; fix centos stream ansible user
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/common.dhall
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Added Quay cert renew job
  playbooks/quay-renew-certificates.yml
  playbooks/zuul/configure-quay-host.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable zookeeper exporter in Prometheus; change zookeeper host
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/zookeeper-exporter/defaults/main.yml
  roles/zookeeper-exporter/tasks/main.yml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add volume for centos log storage
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add quay registry host
  ansible/hosts.yaml
  doc/how-to-vault-secret.md
  monitoring/prometheus.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  roles/quay/defaults/main.yml
  roles/quay/tasks/clair.yml
  roles/quay/tasks/db.yml
  roles/quay/tasks/gen_certs.yml
  roles/quay/tasks/get_user_pass.yml
  roles/quay/tasks/main.yml
  roles/quay/tasks/quay.yml
  roles/quay/tasks/redis.yml
  roles/quay/tasks/setup.yml
  roles/quay/templates/clair_config.yml.j2
  roles/quay/templates/config.yaml.j2
  roles/setup-ssl/tasks/main.yml
  roles/setup-ssl/tasks/ssl_create_cert.yml
  vars/common.dhall
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Fix sf-infra-molecule requirements
  tox.ini
Due: sf-infra-configure-hosts, sf-infra-molecule

Disable building new commits for RDO Trunk queens,rocky and stein
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Stop monitoring RDO Trunk Queens/Rocky/Stein
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add admin and tripleo user to quay.rdoproject.org
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts

Enable DLRN API for the centos9-master-preview worker
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py
