Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-quay:
  parent: sf-infra-base
  description: Configure the Quay host
  semaphore: sf-infra
  run: playbooks/zuul/configure-quay-host.yaml
  required-projects:
  - name: software-factory/sf-infra
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: vault
  ...

sf-infra-quay-check:
  description: Deploy Quay service and check basic functionality
  run: tests/check-quay-tool.yml
  required-projects:
  - name: software-factory/python-quay-tool
  timeout: 1800
  nodeset:
    nodes:
    - name: quay.dev
      label: cloud-centos-8-stream

image-builder: add missing libguestfs-tools to get virt-customize command
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Revert "Uncomment task for creating routers"
  roles/service/manage-networking/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

microshift: add logeduce service deployment
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/logreduce_service.yaml
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Revert "Revert "Uncomment task for creating routers""
  roles/service/manage-networking/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add feature to extracted CRC images that will add ssh keys from magic IP
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: none

Install the latest logreduce version
  playbooks/logreduce/group_vars/all
  playbooks/logreduce/site_logreduce.yaml
Due: none

Ensure site_sf triggered when SoftwareFactory CR is updated
  vars/infra-sf/sf_v1_softwarefactory.yaml
  zuul.d/jobs.yaml
Due: none

Add c9-bobcat DLRN API Prometheus endpoint
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

Redirect rdo-release CS9 RPM to Bobcat Release
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Add logrotate config files
  roles/next-gen/cleanup-openstack-resources/defaults/main.yaml
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/cleanup-openstack-resources/templates/cleanup-ports-logrotate.j2
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/crc-snapshot/templates/crc-snapshot.j2
Due: none

Add variable to mount extracted qcow2 image in different dir
  roles/next-gen/extracted-crc/README.md
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/tasks/modify.yaml
  roles/next-gen/extracted-crc/tasks/mount.yaml
  roles/next-gen/extracted-crc/tasks/umount.yaml
Due: none

baremetal: Add baremetal04 and ibm-redhat-subscription role
  ansible/hosts.yaml
  doc/how-to-add-ibm-bm-standalone.md
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/create-bridge.yaml
  playbooks/host_vars/baremetal04.rdoproject.org.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm4-nodepool.rdoproject.org.yaml
  playbooks/logreduce/site_logreduce.yaml
  playbooks/site_rdo.yaml
  playbooks/tasks/configure-tenant.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/files/prepare_stack.yaml
  playbooks/zuul/group_vars/baremetal.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
  playbooks/zuul/tasks/standalone-setup-centos-8.yaml
  playbooks/zuul/tasks/standalone-setup-rhel-9.2.yaml
  playbooks/zuul/tasks/standalone-setup.yaml
  playbooks/zuul/templates/clouds.yaml.j2
  playbooks/zuul/templates/local-overrides-centos-8.yaml.j2
  playbooks/zuul/templates/rhel_secrets.yaml.j2
  roles/rdo/ibm-baremetal-setup/defaults/main.yaml
  roles/rdo/ibm-baremetal-setup/tasks/main.yaml
  roles/rdo/ibm-redhat-subscription/defaults/main.yaml
  roles/rdo/ibm-redhat-subscription/tasks/main.yaml
  roles/service/manage-networking/tasks/main.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
  vars/infra-rdo/ibm-baremetal.dhall
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: prometheus-lint, sf-infra-create-bridge, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

baremetal: Add role to configure squid service
  playbooks/zuul/configure-private-clouds.yaml
  roles/rdo/ibm-shiftstack-squid/defaults/main.yaml
  roles/rdo/ibm-shiftstack-squid/files/squid.conf
  roles/rdo/ibm-shiftstack-squid/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts-rdo, sf-infra-create-tripleo-standalone

Change variable name in promotion script
  roles/next-gen/promote-image/templates/promote-crc-image.sh.j2
Due: none

baremetal: Add shiftstack dev authorized_keys, add when for squid container
  playbooks/zuul/templates/local-overrides.yaml.j2
  roles/rdo/ibm-shiftstack-squid/tasks/main.yaml
Due: sf-infra-configure-hosts-rdo, sf-infra-create-tripleo-standalone

Replace ssh pub key validation with grep; use latest metadata dir
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
Due: none

Fix a typo
  doc/how-to-manage-instance.md
Due: none

Add back ssh-keygen to verify pub key; add SELinuxContext for pre service
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
  roles/next-gen/extracted-crc/files/crc-pre.service
Due: none

Add docker image to avoid installing jsonnet dependencies in local
  roles/sf/grafana/files/ng-ci-dashboard/Dockerfile
  roles/sf/grafana/files/ng-ci-dashboard/README.rst
  roles/sf/grafana/files/ng-ci-dashboard/generate_json.sh
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

logreduce: finish the configuration
  playbooks/site_sf.yaml
  vars/infra-sf/logreduce_service.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

Triggering re-configuration on microshift host
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-sf

Increase zram swap size in k1s role
  roles/sf/k1s/defaults/main.yaml
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add more systemd services to be monitored by node-exporter
  roles/service/node-exporter/defaults/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal: Add shiftstack openstack secret
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/templates/local-overrides.yaml.j2
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

baremetal: move nodepool tenant creation in a dedicated play
  playbooks/zuul/files/nodepool-tenant.yaml
  playbooks/zuul/group_vars/baremetal.yaml
  playbooks/zuul/tasks/standalone-setup-rhel-9.2.yaml
Due: sf-infra-create-tripleo-standalone

bm4: Add bits to configure services on sf.io
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
  roles/infra/ssh/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

logjuicer: use the new project name
  playbooks/site_sf.yaml
  vars/infra-sf/logreduce_service.yaml
Due: sf-infra-configure-hosts-sf

baremetal: Add security group rule for zookeeper, improve documentation
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

logjuicer: fix environment configuration
  vars/infra-sf/logreduce_service.yaml
Due: none

baremetal: Fix security groups, firewall and doc
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
Due: sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

jobs: Add file matchers for bm deployment
  zuul.d/jobs.yaml
Due: none

standalone-configure: simplify security rule creation
  playbooks/zuul/tasks/standalone-configure.yaml
Due: sf-infra-configure-tripleo-standalone

Remove T,U and V DLRN workers definition
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: prometheus-lint, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

bridge: ensure we use f38 openstack packages
  playbooks/zuul/configure-hosts.yaml
Due: none

baremetal: Add flavors needed for crc jobs
  playbooks/zuul/group_vars/baremetal.yaml
Due: sf-infra-create-tripleo-standalone

arch.yaml sf.io: remove bm3 instances
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add --api-url argument
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/files/quay_tag_pruner.py
  roles/rdo/quay/templates/quay_registry_pruner.sh.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

remove baremetal03 to avoid gate issue
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/ibm-baremetal.dhall
Due: prometheus-lint, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Use quay_pruner_log_directory var in logrotate config file
  roles/rdo/quay/tasks/prune.yml
  roles/rdo/quay/templates/quay_pruner.logrotate.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Enable deletion of all older images with empty extended keeplist
  roles/rdo/quay/README.md
  roles/rdo/quay/defaults/main.yml
  roles/rdo/quay/files/quay_tag_pruner.py
  roles/rdo/quay/templates/quay_registry_pruner.sh.j2
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
