Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

site_dlrn.yaml: ansible namespaces for playbooks and roles
  playbooks/site_dlrn.yaml
  roles/infra-dlrn/dlrn-server/tasks/main.yml
  roles/infra-dlrn/mariadb-replicated/tasks/common.yml
  roles/infra-dlrn/mariadb-replicated/tasks/master.yml
  roles/infra-dlrn/mariadb-replicated/tasks/replica.yml
  roles/infra-dlrn/mariadb-replicated/tasks/secure-mariadb.yml
  roles/service/apache-exporter/tasks/main.yml
  roles/service/firewalld/tasks/main.yml
  roles/service/hostname/tasks/main.yml
  roles/service/mysqld-exporter/tasks/main.yml
  roles/sf/check-dlrn/tasks/main.yaml
  roles/system/swap/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Create image_build_date as a root for extracted
  roles/next-gen/extracted-crc/tasks/modify.yaml
Due: none

inventory.md - update the list with image and flavor
  Infra/Instance/inventory.dhall
  Infra/Instance/package.dhall
  Infra/Instance/show.dhall
  Infra/Server/package.dhall
  Infra/Server/show.dhall
  doc/inventory.md
  vars/directory-tree.dhall
Due: none

Move next-gen download logs to separate file
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  roles/next-gen/logscraper-config/templates/download-list.yaml.j2
Due: sf-infra-configure-hosts-rdo

image-builder - extract cloud image builder in a dedicated role
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/cloud-image-builder/defaults/main.yaml
  roles/sf/cloud-image-builder/tasks/main.yaml
  roles/sf/image-builder/defaults/main.yaml
  roles/sf/image-builder/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Install Openstack libraries via pip
  roles/next-gen/prepare-host/defaults/main.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
Due: none

create-hosts: remove when condition to attach volume
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-create-hosts

Change hardcoded path for default user in NextGen role
  roles/next-gen/prepare-host/tasks/main.yaml
Due: none

system/volumes - fix wrong condition for the bind mount task
  roles/system/volume/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

site_osci.yaml: ansible namespaces for playbooks and roles
  playbooks/site_osci.yaml
  roles/osci/websites/tasks/builders.yml
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Don't use env variable for HOME dir; change owner and group to ansible_user
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
Due: none

Set openstacksdk to be lower or equal than <= 0.98.999
  roles/next-gen/prepare-host/defaults/main.yaml
Due: none

site_rdo.yaml: ansible namespaces for playbooks and roles
  playbooks/site_rdo.yaml
  roles/infra/base/tasks/configure_service.yaml
  roles/infra/base/tasks/logrotate.yaml
  roles/infra/base/tasks/main.yaml
  roles/infra/install-server/tasks/main.yaml
  roles/infra/ssh/tasks/main.yaml
  roles/rdo/afs-mirror/tasks/main.yml
  roles/rdo/afs-monitoring/tasks/main.yml
  roles/rdo/backup-monitoring/tasks/main.yml
  roles/rdo/backup-srv/tasks/httpd_koji.yaml
  roles/rdo/backup-srv/tasks/install.yaml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/rdo/ibm-redhat-subscription/tasks/main.yaml
  roles/rdo/quay-project-creation/tasks/create_organization.yml
  roles/rdo/quay-project-creation/tasks/main.yml
  roles/rdo/quay-project-creation/tasks/read_token.yml
  roles/rdo/quay/tasks/bootstrap.yml
  roles/rdo/quay/tasks/clair.yml
  roles/rdo/quay/tasks/db.yml
  roles/rdo/quay/tasks/gen_certs.yml
  roles/rdo/quay/tasks/get_user_pass.yml
  roles/rdo/quay/tasks/main.yml
  roles/rdo/quay/tasks/mirror.yml
  roles/rdo/quay/tasks/prune.yml
  roles/rdo/quay/tasks/quay.yml
  roles/rdo/quay/tasks/redis.yml
  roles/rdo/quay/tasks/setup.yml
  roles/rdo/setup-ssl-self-signed/tasks/main.yaml
  roles/service/backup-client/tasks/main.yaml
  roles/service/manage-accounts/tasks/main.yaml
  roles/service/opensearch-monitoring/tasks/check_es.yaml
  roles/service/opensearch-monitoring/tasks/elk_exporter.yaml
  roles/service/opensearch-monitoring/tasks/main.yaml
  roles/service/setup-ssl/tasks/main.yml
  roles/service/setup-ssl/tasks/ssl_create_cert.yml
  roles/system/podman/tasks/main.yaml
  roles/system/volume/tasks/bind_mounts.yaml
  roles/system/volume/tasks/delete_partition.yaml
  roles/system/volume/tasks/main.yaml
  roles/system/volume/tasks/mount_partition.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule, sf-infra-quay-check

Add role disable-ipv6
  roles/system/disable-ipv6/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Install ansible-core from the pip repository to the venv; fix scripts
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
  roles/next-gen/prepare-host/defaults/main.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
  roles/next-gen/promote-image/defaults/main.yaml
  roles/next-gen/promote-image/templates/promote-crc-image.sh.j2
  roles/next-gen/summary-script/defaults/main.yaml
  roles/next-gen/summary-script/templates/do-crc-images.sh.j2
  roles/next-gen/sync-images/templates/sync-crc-images.sh.j2
Due: none

Improve system/swap role; add swap to quay.rdoproject.org
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/system/swap/defaults/main.yaml
  roles/system/swap/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Fix condition when the qcow2 image is not present on the disk
  roles/next-gen/sync-images/tasks/get_image.yaml
Due: none

Remove leftovers from image-builder host
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-sf

Ensure correct syntax for privilege escalation in playbooks
  playbooks/recreate-executor.yaml
  playbooks/recreate-merger.yaml
Due: none

Rename variable for -Xms and -Xmx for OpenSearch rdoproject
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

EodBackstage: use a better datasource for zuul build results
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

infra-sf: add fedora 39 image
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

bridge.sf.io: fix fedora version
  playbooks/create-bridge.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-create-bridge

Move cleanup openstack resource role script to use CRC_VENV_DIR
  roles/next-gen/cleanup-openstack-resources/defaults/main.yaml
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
Due: none

Increase crc venv libraries version to higher
  roles/next-gen/prepare-host/defaults/main.yaml
Due: none

Add HTTP/1.0 to valid_http_version for https_2xx
  roles/sf/blackbox-exporter/files/blackbox.yml
Due: sf-infra-configure-hosts-sf

Fix the checksum for Fedora 39
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Remove centos-release-openstack-victoria; change ansible to ansible-core
  tests/pre-grafana-dash.yml
Due: sf-infra-grafana-dashboards

Avoid code duplication in the gate section
  zuul.d/jobs.yaml
Due: none

directory-tree.dhall - remove unused function
  vars/directory-tree.dhall
Due: none

Make sf Grafana role more simply; change playbook path
  roles/sf/grafana/defaults/main.yaml
  roles/sf/grafana/tasks/main.yaml
  tests/grafana-dash.yml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Move test Grafana to dedicated role; set dashboard test dir as variable
  roles/tests/grafana/defaults/main.yaml
  roles/tests/grafana/tasks/grafana-dash.yaml
  roles/tests/grafana/tasks/main.yaml
  roles/tests/grafana/tasks/pre-grafana-dash.yaml
  roles/tests/grafana/tasks/run-tests.yaml
  roles/tests/grafana/templates/grafana-screenshots.js.j2
  tests/grafana-dash.yml
  tests/grafana.yaml
  tests/post-grafana-dash.yml
  tests/pre-grafana-dash.yml
  zuul.d/jobs.yaml
Due: sf-infra-grafana-dashboards

Add SELinux libraries to use seport
  roles/next-gen/prepare-host/defaults/main.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
Due: none

Add CI Vote Aggs dashboards
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-ci-vote-aggs-dlrn.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

generate-etc-hosts: move from system to bridge directory
  doc/how-to-manage-instance.md
  playbooks/site_bridge.yaml
  playbooks/site_sf.yaml
  roles/bridge/generate-etc-hosts/defaults/main.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/bridge/generate-etc-hosts/tasks/main.yaml
  vars/directory-tree.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

Add microshift-infra.sf.io instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/microshift-infra.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

generate-etc-hosts: change the way we collect instances ips
  playbooks/create-hosts.yaml
  playbooks/group_vars/all.yaml
  playbooks/tasks/create-hosts.yaml
  roles/bridge/generate-etc-hosts/tasks/main.yaml
  roles/sf/dnsmasq/tasks/main.yaml
Due: sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

create-hosts.yaml: change how host are created
  Infra/Server/Type.dhall
  Infra/Server/default.dhall
  playbooks/tasks/create-hosts.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-create-hosts

Disable cron jobs for yoga
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Change podman maximum logsize to 250MB
  roles/system/podman/defaults/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
