Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: fedora-latest-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: ara_api
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: ara_api
    secret: bridge_ara_api

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
      label: rdo-centos-8

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/custom-exporter/files/exporter.py

Remove references to puppet-dlrn
  tests/tox-molecule.yml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

cleanup validate_resize instance
  README.md
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Run dlrn-server role in parallel
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Add instance to validate instance are not redeployed if flavor is updated
  README.md
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Change flavor of the test instance validate_resize
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

monitoring: update value for nodepool_dib_image_status_last_build to 2 days
  monitoring/rules-nodepool.yaml
Due: sf-infra-configure-hosts

Ensure registry certificate renewal works
  playbooks/host_vars/registry.rdoproject.org.yml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Remove validate_resize test node
  README.md
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Use 2vcpus_8gb flavor for review.rdoproject.org
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add ssh key for ansible-role-dlrn project
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

rdo-infra: Add the internal net rules to logserver
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Monitoring add a alerting rule InstanceOutOfDisk
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

Improve InstanceOutOfDisk rule, replace \" with '
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

Bring the RDO Cloud AFS mirror under sf-infra control
  README.md
  ansible/hosts.yaml
  playbooks/host_vars/mirror.regionone.rdo-cloud.rdoproject.org.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

monitoring: remove calculation in description
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

prometheus: run the linter when the new monitoring directory changes
  playbooks/prometheus-lint.yaml
  zuul.d/jobs.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-molecule

Set up the centos8-victoria builder for RDO Trunk
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable normal operations for centos8-victoria
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

monitoring: convert all rules in dhall
  Makefile
  monitoring/rules-afs.dhall
  monitoring/rules-afs.yaml
  monitoring/rules-backup.dhall
  monitoring/rules-backup.yaml
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
  monitoring/rules-http.dhall
  monitoring/rules-http.yaml
  monitoring/rules-nodepool.dhall
  monitoring/rules-nodepool.yaml
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
  monitoring/rules-zuul.dhall
  monitoring/rules-zuul.yaml
Due: sf-infra-configure-hosts

Move the AFS mirror server to use afs-mirror-new
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Remove old afs-mirror role, rename -new one
  playbooks/site.yaml
  roles/afs-mirror/README.md
  roles/afs-mirror/defaults/main.yaml
  roles/afs-mirror/defaults/main.yml
  roles/afs-mirror/tasks/main.yaml
  roles/afs-mirror/tasks/main.yml
  roles/afs-mirror/templates/site.pp.j2
Due: sf-infra-configure-hosts

volume: move mount and bind mount tasks outside partition creation
  roles/volume/tasks/bind_mounts.yaml
  roles/volume/tasks/main.yaml
  roles/volume/tasks/mount_partition.yaml
Due: sf-infra-configure-hosts

softwarefactory: remove runc host
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

rules-http: Send alert only if certs will be expired in 6 days
  monitoring/rules-http.dhall
  monitoring/rules-http.yaml
Due: sf-infra-configure-hosts

Add documentation about group management
  README.md
  vars/directory-tree.dhall
Due: sf-infra-configure-hosts

mysqld_exporter: support self-signed SSL certificates
  roles/mysqld-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

Create mysqld-exporter role
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/host_vars/dlrn-db.rdoproject.org.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  roles/mysqld-exporter/README.md
  roles/mysqld-exporter/defaults/main.yml
  roles/mysqld-exporter/tasks/main.yml
  roles/mysqld-exporter/templates/mysqld_exporter.j2
  vars/infra-rdo/networking.dhall
  vars/infra-sf/rules/prometheus.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add Prometheus configuration for mysql_exporter instances
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-configure-hosts

Update mysqld_exporter container image
  playbooks/group_vars/all
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  roles/mysqld-exporter/tasks/main.yml
Due: sf-infra-configure-hosts

mysqld-exporter: use its own SSL certificates
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/host_vars/dlrn-db.rdoproject.org.yaml
  roles/mysqld-exporter/README.md
  roles/mysqld-exporter/tasks/main.yml
  roles/mysqld-exporter/templates/mysqld_exporter.j2
Due: sf-infra-configure-hosts

Open port 5001 for tripleo nodepool
  playbooks/vars/nodepool-tripleo.yaml
  vars/nodepool-tripleo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

mysqld_exporter: add container image creation instructions
  roles/mysqld-exporter/README.md
Due: sf-infra-configure-hosts

monitoring: use humanize1024 for free disk and mem alerts
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

Add firewalld rules for images.rdoproject.org
  playbooks/host_vars/images.rdoproject.org.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Add firewalld rules for koji.softwarefactory-project.io
  playbooks/host_vars/koji.softwarefactory-project.io.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Improve registry renew SSL cert process
  playbooks/registry-renew-certificates.yml
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Add alerting rules for mysqld_exporter
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-mysqld.dhall
  monitoring/rules-mysqld.yaml
Due: sf-infra-configure-hosts

bind_mount: add owner and group management.
  playbooks/host_vars/elk.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/nodepool-builder.softwarefactory-project.io.yaml
  roles/volume/tasks/bind_mounts.yaml
Due: sf-infra-configure-hosts

monitoring: improve elk blackbox-exporter check
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

monitoring: use public url for elasticsearch blackbox
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py
