Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-quay:
  parent: sf-infra-base
  description: Configure the Quay host
  semaphore: sf-infra
  run: playbooks/zuul/configure-quay-host.yaml
  required-projects:
  - name: software-factory/sf-infra
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: vault
  ...

sf-infra-quay-check:
  description: Deploy Quay service and check basic functionality
  run: tests/check-quay-tool.yml
  required-projects:
  - name: software-factory/python-quay-tool
  timeout: 1800
  nodeset:
    nodes:
    - name: quay.dev
      label: cloud-centos-8-stream

Retry spawning CRC VM when quota reached
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: none

Use get-pip.py script to install pip package
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: none

Change playbook variables name to be more proper
  playbooks/crc/crc-make-snapshot.yaml
  roles/next-gen/crc-image/tasks/make_snapshot.yaml
  roles/next-gen/extracted-crc/tasks/create-image.yaml
Due: none

Replace snapshot_name variable with nested_crc_snapshot_image_name
  roles/next-gen/crc-image/README.md
  roles/next-gen/crc-image/tasks/make_snapshot.yaml
Due: none

Disable PowerTools repo
  roles/rdo/backup-srv/tasks/install.yaml
  roles/service/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update Quay and related services
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/rdo/quay/defaults/main.yml
Due: sf-infra-configure-hosts-rdo, sf-infra-quay-check

Add '-' to the extracted image name; add extracted name into task name
  playbooks/crc/crc-make-snapshot.yaml
  roles/next-gen/extracted-crc/tasks/create-image.yaml
Due: none

Add new disallow rules into the robots.txt file
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Revert "Disable PowerTools repo"
  roles/rdo/backup-srv/tasks/install.yaml
  roles/service/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move extracted CRC image name to the end of the command
  playbooks/crc/crc-make-snapshot.yaml
  roles/next-gen/extracted-crc/tasks/create-image.yaml
Due: none

Extract k9s installation from setup-microshift role
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/k9s/defaults/main.yaml
  roles/sf/k9s/tasks/main.yaml
  roles/sf/setup-microshift/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

generate-etc-hosts: add variable for sshconfig file
  roles/system/generate-etc-hosts/defaults/main.yaml
  roles/system/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

install-sf-operator: ensure python3-kubernetes is present
  playbooks/site_sf.yaml
  roles/sf/openshift/install-sf-operator/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

install-software-factory: add when condition for nodepool secret
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Run tests inside the podman container
  roles/next-gen/promote-image/tasks/test-crc.yaml
Due: none

sf/openshift - sf-operator - move sf ns creation in install-softwarefactory-role
  roles/sf/openshift/install-sf-operator/tasks/main.yaml
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add next gen logs to be downloaded by logscraper
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/next-gen/logscraper-config/tasks/main.yaml
  roles/next-gen/logscraper-config/templates/download-list.yaml.j2
Due: sf-infra-configure-hosts-rdo

microshift: add support for Zuul connection secrets
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

RHEL & Centos DLRN GraphQL
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Drop the crontab functionality to create CRC images
  roles/next-gen/summary-script/tasks/main.yaml
Due: none

Remove RHEL DLRN GraphQL endpoints
  playbooks/group_vars/monitoring.yaml
Due: none

Logserver: increase storage, reduce retention
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-sf

Add tlsSkipVerify to avoid Bad gateway error in RHEL GraphQL datasource
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

install-software-factory role - Add support for sf-ssl-cert secret
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Fix template for alertmanager
  roles/sf/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

alertmanager: add one '-' char for '-%}'
  roles/sf/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

alertmanager: Ensure slack are not configured if slack_api_url is not defined
  roles/sf/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Update server state to an union
  Infra/Instance/keepPresent.dhall
  Infra/Instance/package.dhall
  Infra/Server/State.dhall
  Infra/Server/Type.dhall
  Infra/Server/default.dhall
  Infra/Server/keepPresent.dhall
  Infra/Server/package.dhall
  ansible/hosts.dhall
  monitoring/prometheus.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts

Add Zuul Microshift API to logscraper config; increase max_skipped to 500
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-sf

Add prometheus-statsd rules for ibm-bm3 and ibm-bm4
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/rules/prometheus-statsd.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

baremetal04: firewall set zuul finger gw port, disable tripleo user ssh keys setup
  playbooks/zuul/configure-private-clouds.yaml
Due: sf-infra-create-tripleo-standalone

install-sf-operator - add support for corporate-ca-certs ConfigMap
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add new IBM baremetal hosts to the blackbox exporter
  monitoring/prometheus.yaml
  vars/infra-rdo/ibm-baremetal.dhall
Due: prometheus-lint, sf-infra-configure-hosts-sf

sf.io arch.yaml: remove k1s02
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move baremetal hosts to new blackbox probe
  Infra/Instance/Type.dhall
  Infra/Instance/default.dhall
  doc/how-to-manage-instance.md
  monitoring/prometheus-config.dhall
  monitoring/prometheus.yaml
  monitoring/scrape-configs.dhall
  roles/sf/blackbox-exporter/files/blackbox.yml
  vars/infra-rdo/ibm-baremetal.dhall
Due: prometheus-lint, sf-infra-configure-hosts-sf

Fix https_2xx_skip_verify blackbox probe
  roles/sf/blackbox-exporter/files/blackbox.yml
Due: sf-infra-configure-hosts-sf

Recreate exporter container when config changed
  roles/service/mysqld-exporter/tasks/main.yml
  roles/sf/blackbox-exporter/tasks/main.yaml
  roles/sf/statsd-exporter/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add RHEL 9.3 image
  vars/common.dhall
Due: none

Add missing netmask for IBM BM hosts
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/rules/prometheus-statsd.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Remove k1s02 host; fix generating /etc/hosts when server is removed
  ansible/hosts.yaml
  doc/inventory.csv
  monitoring/prometheus.yaml
  playbooks/tasks/create-hosts.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
