Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: fedora-latest-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: ara_api
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: ara_api
    secret: bridge_ara_api

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
      label: rdo-centos-8

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/custom-exporter/files/exporter.py

[monitoring] Setup critical rules for priority alerts
  Makefile
  monitoring/binding.dhall
  monitoring/rules-backup.dhall
  monitoring/rules-backup.yaml
  monitoring/rules-es-check.dhall
  monitoring/rules-http.dhall
  monitoring/rules-http.yaml
  monitoring/rules-mysqld.dhall
  monitoring/rules-mysqld.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules-systemd.dhall
  monitoring/rules-systemd.yaml
  monitoring/rules-zuul.dhall
  monitoring/rules-zuul.yaml
  monitoring/rules.dhall
  roles/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts

[Quay] Change PowerTools repository to config-manager command
  roles/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts

Skip dlrn-server when it is not necessary
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Add k1s03 and fedora 35 image to infra-sf
  Infra/Server/FloatingIp.dhall
  Infra/Server/Type.dhall
  Infra/Server/package.dhall
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/common.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Deploy the k1s service on the new host using a user scope
  ansible/hosts.yaml
  playbooks/host_vars/k1s03.softwarefactory-project.io.yaml
  roles/k1s/defaults/main.yaml
  roles/k1s/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Prune backups older than 6 months
  roles/backup-srv/tasks/main.yaml
Due: sf-infra-configure-hosts

image-builder: update volume size to 1000G
  Infra/AnsibleInventory/createGroup.dhall
  Infra/Network/create.dhall
  Infra/Router/create.dhall
  Infra/Rule/createTcpHost.dhall
  Infra/Rule/createTcpPort.dhall
  doc/dhall-onboarding/optional-list.dhall
  monitoring/rules.dhall
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

k1s03 - Deploys an extra k1s service for the centos service.
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/k1s/defaults/main.yaml
  roles/k1s/tasks/main.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add instructions to start the spice service
  roles/dev-spice/README.md
Due: sf-infra-configure-hosts

Check if Postgresql data dir exists to reduce flakyness
  roles/quay/tasks/db.yml
Due: sf-infra-configure-hosts

Fix typo for log gearman variable
  playbooks/host_vars/elk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

DibImageBuildFailed.md: add restart statsd_exporter command
  doc/engineer_on_duty/troubleshooting/DibImageBuildFailed.md
Due: sf-infra-configure-hosts

Cleanup after ML migration
  playbooks/host_vars/lists.rdoproject.org/system.yml
  requirements.yml
  roles/mailing_lists/tasks/main.yml
Due: sf-infra-configure-hosts

[blackbox exporter] Add custom ca cert to be trusted
  roles/blackbox-exporter/defaults/main.yml
  roles/blackbox-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts

Remove call to builders tasks for rdo-web-builder
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Provide an image pruner for podman and enable for image-builder host
  playbooks/site_sf.yaml
  roles/podman-pruner/README.md
  roles/podman-pruner/defaults/main.yaml
  roles/podman-pruner/tasks/main.yaml
Due: sf-infra-configure-hosts

Revert "Remove call to builders tasks for rdo-web-builder"
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Set up the centos8-yoga worker for RDO Trunk
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Set up the centos9-yoga worker for RDO Trunk.
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Increase Xms and Xmx flag for opensearch rdo; increase container memory
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Add k1s04 to enable running cs9 stream pod for centos
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  roles/k1s/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add k1s04 ip address
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Change sf-infra-molecule job nodeset to centos-stream; update molecule images
  roles/custom-ssh-port/molecule/default/molecule.yml
  roles/dlrn-server/molecule/default/molecule.yml
  roles/elasticsearch/molecule/default/molecule.yml
  roles/mariadb-replicated/molecule/default/molecule.yml
  roles/pushprox/molecule/default/molecule.yml
  tests/tox-molecule.yml
  tox.ini
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add sf-infra-configure-hosts-dlrn to split jobs
  playbooks/site_dlrn.yaml
  playbooks/site_rdo.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add no log when copying k1s configuration
  roles/k1s/tasks/main.yaml
Due: sf-infra-configure-hosts

Update the k1s token
  playbooks/group_vars/k1s.yaml
  roles/k1s/tasks/main.yaml
Due: sf-infra-configure-hosts

Bump monitoring services to new release
  playbooks/group_vars/all
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  roles/alert-manager/tasks/main.yaml
Due: sf-infra-configure-hosts

k1s: enable linger to persist rootless xdg session
  roles/k1s/tasks/main.yaml
Due: sf-infra-configure-hosts

k1s: run the services as unprivileged users by default
  playbooks/host_vars/k1s03.softwarefactory-project.io.yaml
  playbooks/host_vars/sf-container-worker-1.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/k1s/defaults/main.yaml
Due: sf-infra-configure-hosts

Update sec group for k1s04 incoming 9023/TCP from centos.sf.io
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Remove repoxplorer role
  playbooks/site_sf.yaml
  roles/repoxplorer-gateway/defaults/main.yml
  roles/repoxplorer-gateway/files/cauth.site
  roles/repoxplorer-gateway/handlers/main.yml
  roles/repoxplorer-gateway/molecule/default/INSTALL.rst
  roles/repoxplorer-gateway/molecule/default/converge.yml
  roles/repoxplorer-gateway/molecule/default/molecule.yml
  roles/repoxplorer-gateway/tasks/main.yaml
  roles/repoxplorer-gateway/templates/config.py.j2
  roles/repoxplorer-gateway/templates/login.html.j2
  roles/repoxplorer-gateway/templates/site-le-ssl.conf.j2
  roles/repoxplorer-gateway/templates/site.conf.j2
  roles/repoxplorer-rh-config/defaults/main.yml
  roles/repoxplorer-rh-config/files/install-config.yaml
  roles/repoxplorer-rh-config/files/refresh-fedora.yaml
  roles/repoxplorer-rh-config/tasks/main.yaml
  roles/repoxplorer/defaults/main.yml
  roles/repoxplorer/handlers/main.yml
  roles/repoxplorer/molecule/default/INSTALL.rst
  roles/repoxplorer/molecule/default/converge.yml
  roles/repoxplorer/molecule/default/molecule.yml
  roles/repoxplorer/tasks/main.yaml
  roles/repoxplorer/templates/config.py.j2
  tox.ini
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

infra-sf: remove ovirt and ovirt-staging instances
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/host_vars/ovirt-staging.softwarefactory-project.io.yaml
  playbooks/host_vars/ovirt.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Enable normal operations for cs9 and cs8 yoga builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Clone openshift-ansible when registry cert renew
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

add Gomathi's account
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

[prometheus] Add custom ca cert to be trusted
  roles/prometheus/defaults/main.yml
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts

[quay] Parametrize enabling Clair service
  roles/quay/defaults/main.yml
  roles/quay/tasks/main.yml
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts

Stop temporary Clair service on quay.rdoproject.org
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

add evacuate-executor script
  scripts/evacuate-executor.py
  scripts/get_build_info.jq
Due: sf-infra-configure-hosts

infra-sf: Ensure udp-multiplexer can reach elk.sf.io
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py
