Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-quay:
  parent: sf-infra-base
  description: Configure the Quay host
  semaphore: sf-infra
  run: playbooks/zuul/configure-quay-host.yaml
  required-projects:
  - name: software-factory/sf-infra
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: vault
  ...

sf-infra-quay-check:
  description: Deploy Quay service and check basic functionality
  run: tests/check-quay-tool.yml
  required-projects:
  - name: software-factory/python-quay-tool
  timeout: 1800
  nodeset:
    nodes:
    - name: quay.dev
      label: cloud-centos-8-stream

Add feature to install custom packages
  playbooks/crc/crc-make-snapshot.yaml
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
Due: none

Revert "Disable cron jobs for yoga"
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Create synchronizing directories as privileged user
  roles/next-gen/extracted-crc/tasks/bundle.yaml
  roles/next-gen/sync-images/tasks/get_image.yaml
Due: none

Change argument name for checking gpg key on installing packages
  playbooks/crc/crc-make-snapshot.yaml
Due: none

generate-etc-hosts: Add instances state in all.yaml
  playbooks/group_vars/all.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

logjuicer: bump to the latest release
  roles/sf/openshift/install-logjuicer/files/logjuicer_service.yaml
Due: sf-infra-configure-hosts-sf

Change way to configure DNSMasq service; add support for CRC 2.32.0
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
Due: none

bridge: bump fedora version to 39 after upgrade
  playbooks/create-bridge.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-create-bridge

update openshift/install-software-factory role to support standonalone mode
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Added lastRefHash param in the ci-vote-aggs-dlrn
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-ci-vote-aggs-dlrn.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add script to ensure FQCN in playbooks and roles
  playbooks/test-fqcn-script.yaml
  scripts/ansible_fqcn_fixer.sh
  scripts/tests/test_ansible_fqcn_fixer.sh
  tox.ini
  zuul.d/bash-jobs.yaml
  zuul.d/jobs.yaml
Due: sf-infra-molecule

create-hosts.yaml: change how fip are attached to server
  Infra/Server/FloatingIp.dhall
  Infra/Server/Ip.dhall
  Infra/Server/Type.dhall
  Infra/Server/default.dhall
  Infra/Server/package.dhall
  playbooks/tasks/create-hosts.yaml
  playbooks/tasks/manage-server.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

afs mirror: change needed for setup on centos-9-stream and rhel-9
  roles/rdo/opendev-system-config-mirror/vars/CentOS.9.yaml
  roles/rdo/opendev-system-config-mirror/vars/RedHat.9.yaml
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/RedHat.yaml
  roles/rdo/opendev-system-config-openafs-client/vars/RedHat.yaml
Due: sf-infra-configure-hosts-rdo

ADRs: observability stack "where" and "how"
  ADR/0001-sf-observability-stack-project.md
  ADR/0002-sf-observability-stack-format.md
Due: none

standalone-configure: ensure cloud.openstack is used instead os_*
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/zuul/group_vars/all.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
Due: sf-infra-configure-tripleo-standalone

Extend module detection for openstack.cloud prefixed modules
  scripts/ansible_fqcn_fixer.sh
Due: none

Set up the centos9-caracal worker for RDO Trunk.
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Add some more modules, substitution pattern
  scripts/ansible_fqcn_fixer.sh
  scripts/tests/test_ansible_fqcn_fixer.sh
Due: none

Ensure processing of YAML files with .yml extension
  scripts/ansible_fqcn_fixer.sh
Due: none

mirror-bm3: add rhel-subscription role
  ansible/hosts.yaml
  monitoring/node-exporter-ibm-instances.dhall
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/zuul/group_vars/all.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  roles/rdo/opendev-system-config-openafs-client/tasks/openafs-client/RedHat.yaml
  roles/system/rhel-subscription/tasks/main.yaml
  vars/infra-rdo/baremetals/baremetal04.dhall
  vars/infra-rdo/baremetals/mkOldInstances.dhall
  vars/infra-rdo/ibm-baremetal.dhall
Due: prometheus-lint, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Print base_image name when searching newest image or create vm
  roles/next-gen/crc-image/tasks/create_vm.yaml
  roles/next-gen/crc-image/tasks/find_image.yaml
Due: none

install-software-factory role - extend use of kubeconfig var
  roles/sf/openshift/install-software-factory/defaults/main.yaml
  roles/sf/openshift/install-software-factory/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Add ADR for eod-backstage
  ADR/0002-eod-backstage.md
Due: none

Change kubernetes repo URL
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/post.yaml
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/tasks/setup_kubeadm.yaml
Due: none

Increase permissions for removing crc.qcow2 image
  roles/next-gen/extracted-crc/tasks/pull-image.yaml
Due: none

fqcn: add job to ensure FQCN are set
  zuul.d/bash-jobs.yaml
  zuul.d/jobs.yaml
Due: none

Move creating nested and extracted CRC images to shell variable
  roles/next-gen/crc-snapshot/templates/recreate-crc-images.sh.j2
Due: none

generate-etc-hosts: Add when condition to populate /etc/hosts
  roles/bridge/generate-etc-hosts/tasks/main.yaml
Due: none

bm4: redeploy mirror-bm4 on rhel-9
  ansible/hosts.yaml
  playbooks/group_vars/private-afs-mirror.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm3-nodepool.rdoproject.org.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm4-nodepool.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/bridge/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/baremetals/baremetal04.dhall
  vars/infra-rdo/baremetals/mkOldInstances.dhall
Due: sf-infra-configure-hosts-rdo

Fix openstack.cloud.server arguments
  roles/next-gen/crc-image/tasks/create_vm.yaml
Due: none

Do not replace meta module
  scripts/ansible_fqcn_fixer.sh
Due: none

Temporarily set sf-infra-ensure-fqcn job as non voting
  zuul.d/bash-jobs.yaml
Due: none

tasks/create-hosts.yaml: remove when condition for server creation
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-create-hosts

Use centos9stream.cfg.j2 config for master builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo

Enable httpd24 environment to run htcacheclean command
  roles/rdo/opendev-system-config-mirror/tasks/main.yaml
Due: sf-infra-configure-hosts-rdo

Fix counted_update_packages probe
  roles/system/update-host/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change grep condition for trunk ports and networks
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
Due: none

Change hour for executing OpenStack simply reporter
  roles/sf/openstack-simply-reporter/tasks/main.yml
Due: sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
