Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

[log gearman] Change systemd unit name
  roles/log-gearman/templates/service-client.j2
  roles/log-gearman/templates/service-worker.j2
Due: sf-infra-configure-hosts

[Quay] Change services ip address; remove firewall rules
  roles/quay/tasks/quay.yml
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts

Add become true to 'Ensure Clair service is stopped'
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Enable fm-gateway on fedora.sf.io
  playbooks/site_sf.yaml
  roles/fm-gateway/tasks/main.yml
Due: sf-infra-configure-hosts

Disable push to the opensearch.rdoproject.org tripleO jobs
  playbooks/host_vars/elk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Switch RDO Trunk builders to zed tags
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

sf-container-worker: redeploy using unprivileged account
  playbooks/host_vars/sf-container-worker-1.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

[quay] Set lowercase value when Clair disabled
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts

[quay] Change network type for container and set port mapping
  roles/quay/README.md
  roles/quay/tasks/get_user_pass.yml
  roles/quay/tasks/quay.yml
Due: sf-infra-configure-hosts

Disable gleboude and gomathiselvis account
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

Fix Quay certificate renew
  playbooks/quay-renew-certificates.yml
Due: sf-infra-configure-hosts

Remove post tasks for quay.rdoproject.org
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

[quay] Move default values to default; bump Quay to 3.6.2
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay/defaults/main.yml
  roles/quay/tasks/clair.yml
  roles/quay/tasks/db.yml
  roles/quay/tasks/mirror.yml
  roles/quay/tasks/quay.yml
  roles/quay/tasks/redis.yml
Due: sf-infra-configure-hosts

Update evacuate-executor script for zuul 5.2
  scripts/create-zuul-token.py
  scripts/evacuate-executor.py
  scripts/get_build_info.jq
  scripts/sfinfra_lib.py
Due: sf-infra-configure-hosts

[quay] Initialize user instead of insert data into DB
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay/README.md
  roles/quay/defaults/main.yml
  roles/quay/tasks/bootstrap.yml
  roles/quay/tasks/main.yml
  roles/quay/templates/bootstrap.json.j2
  roles/quay/templates/config.yaml.j2
Due: sf-infra-configure-hosts

[quay] Tune PostgreSQL parameters
  roles/quay/defaults/main.yml
  roles/quay/tasks/db.yml
Due: sf-infra-configure-hosts

sshconfig: fix issue with ControlPath
  roles/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
Due: sf-infra-configure-hosts

[quay] Use certbot renew instead of certonly; always restart quay
  playbooks/quay-renew-certificates.yml
Due: sf-infra-configure-hosts

sf: add zk instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Update sf.io arch
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Change ownership for opensearch after upgrade SF to 3.7; disable web-builder
  playbooks/host_vars/elk.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Add c9- and c8-yoga DLRN API Prometheus endpoint
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: sf-infra-configure-hosts

[quay] Do not restart service after initialize
  roles/quay/handlers/main.yml
  roles/quay/tasks/main.yml
  roles/quay/tasks/quay.yml
Due: sf-infra-configure-hosts

Remove elasticsearch role
  roles/elasticsearch/defaults/main.yml
  roles/elasticsearch/files/elasticsearch.repo
  roles/elasticsearch/handlers/main.yml
  roles/elasticsearch/molecule/default/INSTALL.rst
  roles/elasticsearch/molecule/default/converge.yml
  roles/elasticsearch/molecule/default/molecule.yml
  roles/elasticsearch/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Change elasticsearch check script cert path
  roles/elasticsearch/tasks/check_es.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add DLRN c9-xena and c9-wallaby graphana dashboard
  roles/grafana/files/DLRN.dhall
  roles/grafana/files/DLRN.json
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

[quay] Add logrotate config file for quay pruner
  roles/quay/files/quay_pruner.logrotate
  roles/quay/tasks/prune.yml
Due: sf-infra-configure-hosts

[graphana] Add required dirs and template update
  tests/grafana-dash.yml
  tests/templates/grafana-screenshots.js.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

[quay] Move user creation to use API call
  roles/quay/tasks/get_user_pass.yml
  roles/quay/templates/user.json.j2
Due: sf-infra-configure-hosts

[quay] Automatize project creation
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay-project-creation/defaults/main.yml
  roles/quay-project-creation/tasks/create_organization.yml
  roles/quay-project-creation/tasks/main.yml
  roles/quay-project-creation/tasks/read_token.yml
  roles/quay/README.md
  roles/quay/defaults/main.yml
  roles/quay/tasks/bootstrap.yml
  roles/quay/tasks/get_user_pass.yml
  roles/quay/templates/bootstrap.json.j2
  roles/quay/templates/quay_registry_pruner.sh.j2
Due: sf-infra-configure-hosts

[quay] Enable quay-project-creation role
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

[quay] Add missing informations
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/quay/templates/quay_registry_pruner.sh.j2
Due: sf-infra-configure-hosts

Add DLRN c9-yoga and c8-yoga graphana dashboard
  roles/grafana/files/DLRN.dhall
  roles/grafana/files/DLRN.json
Due: sf-infra-configure-hosts

[quay] Parametrize no_log attribute; wait for service after restart
  roles/quay-project-creation/defaults/main.yml
  roles/quay-project-creation/tasks/create_organization.yml
  roles/quay-project-creation/tasks/read_token.yml
  roles/quay/defaults/main.yml
  roles/quay/tasks/bootstrap.yml
  roles/quay/tasks/clair.yml
  roles/quay/tasks/db.yml
  roles/quay/tasks/get_user_pass.yml
  roles/quay/tasks/redis.yml
Due: sf-infra-configure-hosts

Add zuul-weeder on image-builder instance
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  roles/zuul-weeder/README.md
  roles/zuul-weeder/defaults/main.yml
  roles/zuul-weeder/tasks/main.yml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add zuul recreation playbook
  playbooks/recreate-executor.yaml
  playbooks/recreate-merger.yaml
  scripts/create-zuul-token.py
Due: sf-infra-configure-hosts

zuul-weeder: fix podman port argument
  roles/zuul-weeder/tasks/main.yml
Due: sf-infra-configure-hosts

zuul-weeder: disable SELinux label to mount the config read-only
  roles/zuul-weeder/tasks/main.yml
Due: sf-infra-configure-hosts

job molecule: remove file matcher for jobs.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Change elk.rdoproject.org server name to elk.review.rdoproject.org
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts
