Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Added Centos 8.3 and Centos 8 stream image
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Use OSPO postfix role
  playbooks/site.yaml
  requirements.yml
  roles/postfix/handlers/main.yml
  roles/postfix/tasks/main.yaml
Due: sf-infra-configure-hosts

site.yaml: Remove unused task prior to 3.5 upgrade
  playbooks/site.yaml
Due: sf-infra-configure-hosts

site.yaml: changes hosts def to include nodepool-builder-02
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Set the images to be public
  roles/manage-image/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-configure-hosts

Added image-builder host
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Fix setup ssl on ara host; add node-exporter role to that host
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/ara-api-container/templates/apache-vhost.conf.j2
Due: sf-infra-configure-hosts

Port and adapt mailing-lists deployment from the old repo
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/lists.rdoproject.org/credentials.vault.yml
  playbooks/host_vars/lists.rdoproject.org/system.yml
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  requirements.yml
  roles/generate-etc-hosts/files/sshconfig
  roles/mailing_lists/files/recipients_access
  roles/mailing_lists/files/sa_rdo_mls.cf
  roles/mailing_lists/files/users/privacy.yml
  roles/mailing_lists/tasks/main.yml
  roles/mailing_lists/vars/main.yml
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add port checking for Openstack simply reporter
  roles/stack-checks/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts

acme-tiny: remove other lets encrypt tools before acme-tiny installed
  roles/acme-tiny/tasks/main.yaml
Due: sf-infra-configure-hosts

Added Software Factory domain to acme-tiny refresh script
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Change text format of openstack simply reporter mertic file
  roles/stack-checks/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts

Added alert for old undeleted neutron ports
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-openstack-check.dhall
  monitoring/rules-openstack-check.yaml
  monitoring/rules-stack-check.dhall
  monitoring/rules-stack-check.yaml
Due: sf-infra-configure-hosts

Add nodepool-builder-02 for zookeeper sec group, fix regexp
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/site.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

nodepool-builder: add nodepool-builder group to manage volume
  ansible/hosts.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/site.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Re-enable sf-install-server role and install patched managesf
  playbooks/group_vars/all
  playbooks/host_vars/managesf.review.rdoproject.org
  playbooks/site.yaml
  roles/sf-install-server/defaults/main.yaml
  roles/sf-install-server/files/arch-managesf.review.rdoproject.org.yaml
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
  roles/sf-install-server/tasks/main.yaml
Due: sf-infra-configure-hosts

infra-sf: remove unused rdocloud role and group now the migration is done
  ansible/hosts.yaml
  playbooks/site.yaml
  roles/setup-rdocloud-ssh-access/tasks/main.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Add doc to add ci project
  README.md
  doc/how-to-add-a-ci-project.md
Due: sf-infra-configure-hosts

Install rpm-build on the executor
  ansible/hosts.yaml
  playbooks/site.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Added repoxplorer logrorate file
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Changed OutOfMemory alert ; added OOMKiller alert
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

Set max-severs to 25 for k1s02 instead of 10 (defaults)
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

image-builder: adds a floating ip
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

image-builder: configure the host
  playbooks/site.yaml
  roles/image-builder/defaults/main.yaml
  roles/image-builder/tasks/main.yaml
Due: sf-infra-configure-hosts

image-builder: add zuul-console security-group
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Switch ansible.sf.io to acme-tiny for SSL certificates
  playbooks/host_vars/ansible.softwarefactory-project.io.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Remove centos8-train-old from RDO Trunk
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Change order of nodepool builders in sf.io arch file
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Added new troubleshooting for Prometheus alerts
  doc/engineer_on_duty/troubleshooting/AFSTooOld.md
  doc/engineer_on_duty/troubleshooting/BackupTooOld.md
  doc/engineer_on_duty/troubleshooting/DibImageBuildFailed.md
  doc/engineer_on_duty/troubleshooting/DibImageOutdated.md
  doc/engineer_on_duty/troubleshooting/MariaDBDown.md
  doc/engineer_on_duty/troubleshooting/MariaDBReplicationFailed.md
  doc/engineer_on_duty/troubleshooting/NeutronUndeletedPorts.md
  doc/engineer_on_duty/troubleshooting/RDOTrunkRepoTooOld.md
  doc/engineer_on_duty/troubleshooting/README.md
  doc/engineer_on_duty/troubleshooting/SSLCertExpiringSoon.md
  doc/engineer_on_duty/troubleshooting/StackCheckDeleteFailed.md
  doc/engineer_on_duty/troubleshooting/WebDown.md
  doc/engineer_on_duty/troubleshooting/template.md
Due: sf-infra-configure-hosts

Infra: make Subnet.cidr attribute optional
  Infra/Subnet/Type.dhall
  Infra/Subnet/create.dhall
  Infra/Subnet/createWithMask.dhall
  Infra/Subnet/default.dhall
Due: none

Infra: add IPv6 attributes for subnet
  Infra/Subnet/IPV6AddressMode.dhall
  Infra/Subnet/IPVersion.dhall
  Infra/Subnet/Type.dhall
  Infra/Subnet/default.dhall
  Infra/Subnet/package.dhall
Due: none

Rename stack-check role to openstack-simply-reporter; added n/a state
  playbooks/site.yaml
  roles/openstack-simply-reporter/defaults/main.yml
  roles/openstack-simply-reporter/files/openstack-simply-reporter.py
  roles/openstack-simply-reporter/tasks/main.yml
Due: sf-infra-configure-hosts

managesf: add tech-preview-sf-config role
  roles/tech-preview-sf-config/files/tech-preview-sfconfig.repo
  roles/tech-preview-sf-config/tasks/main.yaml
Due: sf-infra-configure-hosts

Move mock config to centos8stream.cfg for centos8-master builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Move centos8-master in rpm-packaging to use C8S buildroot
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Run molecule in sf-infra-molecule as root
  tests/tox-molecule.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add NFV SIG repo to CentOS 8 rpm-packaging deps
  roles/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-victoria-rpm-packaging-dlrn-deps.repo
Due: sf-infra-configure-hosts, sf-infra-molecule

Move mock config to centos8stream.cfg for centos8-master-uc builder
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Infra: add new OpenShift deployWithEnv function
  Infra/OpenShift/Import.dhall
  Infra/OpenShift/deploy.dhall
  Infra/OpenShift/deploySimple.dhall
  Infra/OpenShift/deployWithEnv.dhall
  Infra/OpenShift/package.dhall
Due: none

image-builder: update the zuul project ssh keys
  roles/image-builder/defaults/main.yaml
Due: sf-infra-configure-hosts
