Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Add grafana dashboard for RDO Trunk metrics
  roles/grafana/files/rdo_trunk_metrics.json
  roles/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts

dhall: move security group afs-rules in common
  vars/common.dhall
  vars/infra-rdo/networking.dhall
Due: none

ara-api-container: default to image from quay.io
  roles/ara-api-container/defaults/main.yaml
Due: sf-infra-configure-hosts

Added www.sf.io to acme-tiny
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Enable RepoXplorer service on review.rdoproject.org
  roles/sf-install-server/files/arch-managesf.review.rdoproject.org.yaml
Due: sf-infra-configure-hosts

connection: add support for setting ansible_become_method
  Infra/AnsibleInventory/createHosts.dhall
  Infra/Connection/Type.dhall
  Infra/Connection/default.dhall
Due: none

rdo: add mirror.regionone.psi-public-nodepool-tripleo instance
  README.md
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/host_vars/mirror.regionone.psi-public-nodepool-tripleo.rdoproject.org.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

setup-ssl: Ensure httpd package and service for cerbot
  roles/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts

Added stack check role
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-stack-check.dhall
  monitoring/rules-stack-check.yaml
  playbooks/host_vars/zs.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/stack-checks/defaults/main.yml
  roles/stack-checks/files/openstack-simply-reporter.py
  roles/stack-checks/tasks/main.yml
Due: sf-infra-configure-hosts

stack-checks: fix typo cron job usage
  roles/stack-checks/tasks/main.yml
Due: sf-infra-configure-hosts

Change exception type
  roles/stack-checks/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts

stack-check: replace virtualenv by system packaging
  roles/stack-checks/defaults/main.yml
  roles/stack-checks/tasks/main.yml
Due: sf-infra-configure-hosts

Port and adapt websites deployment from the old repo
  .gitignore
  README.md
  ansible/hosts.dhall
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  playbooks/group_vars/all
  playbooks/group_vars/osci_internal_zone/README.md
  playbooks/group_vars/osci_internal_zone/connection.yml
  playbooks/group_vars/osci_zone/README.md
  playbooks/group_vars/osci_zone/_firewall.yml
  playbooks/group_vars/osci_zone/connection.yml
  playbooks/group_vars/osci_zone/services.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/builders.vault.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/planet.yml
  playbooks/host_vars/rdo-web-builder.int.osci.io/website.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/builders.vault.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/osci_params.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/planet.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/website.yml
  playbooks/host_vars/www.rdoproject.org/builder_sync.yml
  playbooks/host_vars/www.rdoproject.org/monitoring.yml
  playbooks/host_vars/www.rdoproject.org/planet_builder_sync.yml
  playbooks/host_vars/www.rdoproject.org/rdo_dashboards.vault.yml
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/zuul/configure-hosts.yaml
  requirements.yml
  roles/generate-etc-hosts/files/sshconfig
  roles/node-exporter/defaults/main.yml
  roles/node-exporter/tasks/main.yaml
  roles/websites/tasks/builders.yml
  roles/websites/tasks/vhosts.yml
  roles/websites/vars/main.yml
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-molecule

Improve documentation
  README.md
  doc/how-to-add-server.md
  doc/how-to-vault-secret.md
  doc/inventory.md
  vars/directory-tree.dhall
Due: sf-infra-configure-hosts

Add the cico-agent role to the ci-centos-org machines
  playbooks/host_vars/rdo-ci-cloudslave01.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave02.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave03.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave04.ci.centos.org.yaml
  playbooks/host_vars/rdo-ci-cloudslave05.ci.centos.org.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

manage-networking: Add port_security_enabled param
  roles/manage-networking/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-configure-hosts

Dhall: improve auth_urls and urls Type
  Infra/Instance/Type.dhall
  Infra/Instance/default.dhall
  monitoring/prometheus-config.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: none

ara: disable setup-ssl
  playbooks/site.yaml
Due: sf-infra-configure-hosts

doc: Add documentation to manage instance
  README.md
  doc/how-to-add-server.md
  doc/how-to-manage-instance.md
Due: sf-infra-configure-hosts

Configure certbot with nginx
  playbooks/site.yaml
  roles/setup-ssl/defaults/main.yml
  roles/setup-ssl/tasks/main.yml
  roles/setup-ssl/tasks/ssl_create_cert.yml
Due: sf-infra-configure-hosts

Switch to using OSPO web builder as before
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/builders.vault.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/osci_params.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/planet.yml
  playbooks/host_vars/rdo-web-builder.rdoproject.org/website.yml
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add compression to logrotate config on sf-infra-base
  roles/sf-infra-base/tasks/logrotate.yaml
  roles/sf-infra-base/tasks/main.yaml
Due: sf-infra-configure-hosts

doc: add how to for networking configuration
  README.md
  doc/how-to-networking.md
Due: sf-infra-configure-hosts

doc: Add how to manage a dedicated project
  README.md
  doc/how-to-dedicated-workspace-for-a-project.md
Due: sf-infra-configure-hosts

Use become:yes when editing logrotate.conf
  roles/sf-infra-base/tasks/logrotate.yaml
Due: sf-infra-configure-hosts

acme-tiny: remove dhall source
  Makefile
  roles/acme-tiny/README.md
  roles/acme-tiny/defaults/main.dhall
  roles/acme-tiny/defaults/main.yaml
  roles/acme-tiny/role.dhall
  roles/acme-tiny/tasks/main.dhall
  roles/acme-tiny/tasks/main.yaml
  roles/acme-tiny/templates/acme-tiny-refresh.sh.dhall
  roles/acme-tiny/templates/vhost.conf.dhall
Due: sf-infra-configure-hosts

Enable Let's Encrypt on the new web host
  roles/websites/vars/main.yml
Due: sf-infra-configure-hosts

Changed blackbox SSL expirty alert
  monitoring/rules-http.dhall
  monitoring/rules-http.yaml
Due: sf-infra-configure-hosts

fix typo in web TLS settings
  roles/websites/vars/main.yml
Due: sf-infra-configure-hosts

Added Apache2 functionality to Ara api role
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/ara-api-container/defaults/main.yaml
  roles/ara-api-container/handlers/main.yaml
  roles/ara-api-container/tasks/main.yaml
  roles/ara-api-container/templates/apache-vhost.conf.j2
  roles/ara-api-container/templates/nginx-vhost.conf.j2
Due: sf-infra-configure-hosts

Added ip address of ara host to the ALLOWED_HOSTS
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Dhall: add OpenShift DeploySimple function
  Infra/OpenShift/Import.dhall
  Infra/OpenShift/deploySimple.dhall
  Infra/OpenShift/package.dhall
  Infra/package.dhall
Due: none

Add acme-tiny role to managesf rdoproject host
  playbooks/host_vars/managesf.review.rdoproject.org.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

acme-tiny: add software factory gateway support
  playbooks/host_vars/managesf.review.rdoproject.org.yaml
  roles/acme-tiny/tasks/main.yaml
  roles/acme-tiny/templates/vhost.conf
Due: sf-infra-configure-hosts

Switch to acme-tiny for ovirt.softwarefactory-project.io
  playbooks/host_vars/ovirt.softwarefactory-project.io.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

dhall: Set port_security_enabled as optional
  Infra/Network/Type.dhall
  Infra/Network/create.dhall
  Infra/Network/default.dhall
Due: none

acme-tiny: change script path
  roles/acme-tiny/templates/acme-tiny-refresh.sh
Due: sf-infra-configure-hosts

Add acme-tiny to ovirt-staging
  playbooks/host_vars/ovirt-staging.softwarefactory-project.io.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

dhall: remove unused port_security_enabled parameter
  Infra/Network/Type.dhall
  Infra/Network/create.dhall
  Infra/Network/default.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-rdo.yaml
  playbooks/vars/nodepool-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

infra-sf: Add nodepool-builder-02 instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts
