Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-quay:
  parent: sf-infra-base
  description: Configure the Quay host
  semaphore: sf-infra
  run: playbooks/zuul/configure-quay-host.yaml
  required-projects:
  - name: software-factory/sf-infra
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: vault
  ...

sf-infra-quay-check:
  description: Deploy Quay service and check basic functionality
  run: tests/check-quay-tool.yml
  required-projects:
  - name: software-factory/python-quay-tool
  timeout: 1800
  nodeset:
    nodes:
    - name: quay.dev
      label: cloud-centos-8-stream

[crc] Add feature to enable Openshift cluster monitoring operator
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/setup.yaml
Due: none

[crc] Bump CRC to 2.17.0
  roles/extra/crc/defaults/main.yaml
Due: none

[crc] Add feature to enable Microshift preset
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/setup.yaml
Due: none

Revert "[container-builder] Add prune image crontab job; fix linter issues"
  roles/sf/image-builder/tasks/main.yaml
  roles/sf/openstack-simply-reporter/files/openstack-simply-reporter.py
Due: sf-infra-configure-hosts-sf

Added evallesp account to the bridge
  roles/service/manage-accounts/vars/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add /monitoring sub page
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/monitoring-gateway/handlers/main.yaml
  roles/sf/monitoring-gateway/tasks/main.yaml
  roles/sf/monitoring-gateway/tasks/vhost.yaml
Due: sf-infra-configure-hosts-sf

Bump puppeteer for making Grafana dashboard screenshoots
  tests/grafana-dash.yml
Due: sf-infra-grafana-dashboards

Replace ansible with ansible-core for molecule test
  roles/rdo/afs-monitoring/molecule/default/Dockerfile.j2
  roles/rdo/afs-monitoring/molecule/default/molecule.yml
  roles/rdo/backup-monitoring/molecule/default/Dockerfile.j2
  roles/rdo/backup-monitoring/molecule/default/molecule.yml
  roles/system/swap/molecule/default/Dockerfile.j2
  roles/system/swap/molecule/default/molecule.yml
  roles/system/swap/tasks/main.yml
  tox.ini
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Stop pruning images on k1s hosts
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Autimatize snapshot of CRC instance
  playbooks/crc-make-snapshot.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/templates/ansible_crc_vars.yaml.j2
  playbooks/zuul/templates/clouds.yaml.j2
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Redirect rdo-release-ussuri-1.el8 directly to RPM hosted in CBS infra
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Redirect rdo-release-ussuri.el8.rpm directly to RPM hosted in CBS infra
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Deploy Microshift via sf-infra
  Infra/Image/default.dhall
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-tripleo.yaml
  playbooks/zuul/configure-hosts.yaml
  roles/service/manage-image/tasks/main.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/common.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
  zuul.d/jobs.yaml
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Install microshift on microshift.sf.io instance
  playbooks/host_vars/microshift.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

Update repo redirections
  roles/osci/websites/tasks/vhosts.yml
Due: sf-infra-configure-hosts-osci

Set log_size_max size for podman logs
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/system/podman/defaults/main.yaml
  roles/system/podman/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add quay.rdoproject.org into rdo Ansible inventory group
  ansible/hosts.yaml
  vars/infra-rdo/instances.dhall
Due: none

and f38 image, redeploy k1s04 using f38
  playbooks/vars/infra-sf.yaml
  vars/common.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

setup-ssl: fix task when we install package
  roles/service/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add doc to deploy and setup k1s instance
  doc/how-to-add-k1s-instance.md
Due: none

ansible k1s group: ensure node-exporter is installed on instances
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-sf

Switch DLRN prometheus rules to modification time of last building log.
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
  playbooks/site_dlrn.yaml
  roles/sf/check-dlrn/files/check-dlrn.py
  roles/sf/check-dlrn/tasks/main.yaml
Due: prometheus-lint, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-sf

Tweak DLRN prometheus alarms.
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

centos.sf.io: Add OSCI ssh pub keys
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts-sf

Improve CRC snapshot script
  playbooks/crc-make-snapshot.yaml
Due: none

Installing Software Factory via Catalog Source and Subscription
  .gitignore
  playbooks/site_sf.yaml
  playbooks/zuul/configure-hosts.yaml
  roles/sf/operator-catalog-sub/defaults/main.yaml
  roles/sf/operator-catalog-sub/tasks/main.yaml
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: sf-infra-configure-hosts-sf

Allow Grafana host to make query to Opensearch host
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Install openstacksdk and openstackclient via pip on bridge host
  playbooks/zuul/configure-hosts.yaml
Due: none

Improve playbook for creating crc image snapshot
  playbooks/crc-make-snapshot.yaml
Due: none

Trigger generating /etc/hosts on bridge host
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-create-hosts

Change way for generating /etc/hosts on bridge host
  playbooks/create-hosts.yaml
  playbooks/tasks/create-hosts.yaml
  roles/system/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change cloud provider Grafana datasource; mount Grafana DB file
  roles/sf/grafana/tasks/main.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add OpenSearch Zuul user Grafana datasource; add grafana opensearch plugin
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/tasks/main.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Replace OpenSearch user to readonly for Grafana
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Move generating /etc/hosts on monitoring host to use dedicated role
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  roles/sf/dnsmasq/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Change the OpenSearch Zuul datasource as editable; remove unused fields
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add Grafana datasource for logstash-rdoproject_org
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Configure inventory_hostname var in generate-etc-hosts role
  roles/system/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Grafana datasource for Openshift Prometheus
  playbooks/group_vars/monitoring.yaml
  roles/sf/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Set systemd resource reservation on CRC
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/kubelet_systemd.yaml
  roles/extra/crc/tasks/kubelet.yaml
  roles/extra/crc/tasks/main.yaml
Due: none

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
