Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: linters-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  nodeset:
    nodes:
    - name: container
      label: pod-centos-8-stream

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-hosts-dlrn:
  parent: sf-infra-configure
  description: Configure the DLRN hosts
  vars:
    sf_infra_play_name: site_dlrn

sf-infra-configure-hosts-osci:
  parent: sf-infra-configure
  description: Configure the OSCI hosts
  vars:
    sf_infra_play_name: site_osci

sf-infra-configure-hosts-rdo:
  parent: sf-infra-configure
  description: Configure the RDO infra hosts
  vars:
    sf_infra_play_name: site_rdo

sf-infra-configure-hosts-sf:
  parent: sf-infra-configure
  description: Configure the sf.io hosts
  vars:
    sf_infra_play_name: site_sf

sf-infra-create-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/create-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-tripleo-standalone:
  parent: sf-infra-base
  description: Install tripleo-standalone on ibm baremetal
  semaphore: sf-infra
  run: playbooks/zuul/configure-tripleo-standalone.yaml
  timeout: 3600
  secrets:
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool

sf-infra-configure-quay:
  parent: sf-infra-base
  description: Configure the Quay host
  semaphore: sf-infra
  run: playbooks/zuul/configure-quay-host.yaml
  required-projects:
  - name: software-factory/sf-infra
  secrets:
  - name: vexxhost_rdo
    secret: vexxhost-rdo
  - name: ibm_bm3_nodepool
    secret: ibm-bm3-nodepool
  - name: vault
  ...

sf-infra-quay-check:
  description: Deploy Quay service and check basic functionality
  run: tests/check-quay-tool.yml
  required-projects:
  - name: software-factory/python-quay-tool
  timeout: 1800
  nodeset:
    nodes:
    - name: quay.dev
      label: cloud-centos-8-stream

Add DS_PROMETHEUS variable into Elasticsearch Grafana dashboard
  roles/sf/grafana/files/infra/elasticsearch.json
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

ibm clouds: Add ci.m1.medium flavor
  playbooks/zuul/group_vars/baremetal.yaml
Due: sf-infra-create-tripleo-standalone

monitoring: update the prometheus schema binding
  monitoring/binding.dhall
  monitoring/rules-afs.dhall
  monitoring/rules-backup.dhall
  monitoring/rules-dlrn.dhall
  monitoring/rules-es-check.dhall
  monitoring/rules-nodepool.dhall
  monitoring/rules-openstack-check.dhall
  monitoring/rules-system-updates.dhall
  monitoring/rules-zuul.dhall
Due: prometheus-lint

Change shell env for node exporter
  roles/service/node-exporter/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add rhel-subscription role
  roles/system/rhel-subscription/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add rhel subscription details; enable rhel-subscription on k1s05
  playbooks/group_vars/all
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add k1s05 host
  ansible/hosts.yaml
  doc/inventory.csv
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Set sf-infra-molecule job as non-voting
  zuul.d/jobs.yaml
Due: none

EodBackstage: introduce the new dashboard
  Makefile
  doc/engineer_on_duty/README.md
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
  roles/sf/grafana/files/infra/Panels.dhall
  roles/sf/grafana/tasks/main.yaml
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

EodBackstage: add available disk panel
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

EodBackstage: add network load panel
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

EOD backstage - propose TODO for avg node request fulfilled
  roles/sf/grafana/files/infra/EodBackstage.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Remove DLRN from alertmanager
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-system-updates.dhall
  monitoring/rules-system-updates.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

monitoring: update application metric collection
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

sf-infra-molecule: disable the job until it will be fixed
  zuul.d/jobs.yaml
Due: none

EodBackstage: add applications metric panel
  roles/sf/grafana/files/infra/EodBackstage.dhall
  roles/sf/grafana/files/infra/EodBackstage.json
  roles/sf/grafana/files/infra/Panels.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Create epel-release role and install on k1s05
  playbooks/site_osci.yaml
  playbooks/site_sf.yaml
  roles/rdo/afs-monitoring/tasks/main.yml
  roles/rdo/backup-srv/tasks/main.yaml
  roles/service/setup-ssl/tasks/main.yml
  roles/sf/openshift/install-sf-operator/tasks/main.yaml
  roles/system/epel-release/tasks/main.yaml
  tox.ini
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Add info about k1s03 and 04 in inventory doc
  doc/inventory.csv
Due: none

monitoring-gateway: Add mod_ssl package on rhel
  roles/sf/monitoring-gateway/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

ibm instances: Add fw rules for node-exporter
  doc/how-to-add-ibm-bm-standalone.md
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/group_vars/all.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/ibm-instances-fw-rules.yaml
Due: sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone

Move baremetal instances data in dedicated files to ease prometheus rules creation
  doc/how-to-add-ibm-bm-standalone.md
  vars/infra-rdo/baremetals/baremetal03.dhall
  vars/infra-rdo/baremetals/baremetal04.dhall
  vars/infra-rdo/baremetals/mkInstances.dhall
  vars/infra-rdo/ibm-baremetal.dhall
Due: none

Add ibm instances prometheus rules
  doc/how-to-add-ibm-bm-standalone.md
  monitoring/node-exporter-ibm-instances.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/scrape-configs.dhall
  vars/infra-rdo/baremetals/baremetal03.dhall
  vars/infra-rdo/baremetals/baremetal04.dhall
Due: prometheus-lint, sf-infra-configure-hosts-sf

monitoring: fix node-export ports for ibm instances
  monitoring/node-exporter-ibm-instances.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

ibm mirrors: Add service/node-exporter service
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts-rdo

ibm mirror: ensure node-exporter
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts-rdo

dlrn: ensure apache_exporter port is open in fw
  playbooks/group_vars/dlrn
Due: sf-infra-configure-hosts-dlrn

ibm instances: add alertmanager rules
  Makefile
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-ibm-instances.dhall
  monitoring/rules-ibm-instances.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

Add motd info for k1s service
  roles/sf/k1s/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

monitoring: remove centos8-rpm-packaging-ci.rdoproject.org
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

remove unused trunk-centos7 which is not used anymore
  Infra/Volume/Type.dhall
  Infra/Volume/default.dhall
  ansible/hosts.yaml
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/tasks/create-hosts.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-sf

trunk-centos7: remove unused bits
  doc/inventory.csv
  doc/inventory.md
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/site_dlrn.yaml
  playbooks/vars/infra-rdo.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Zuul microshift.softwarefactory-project.io to be monitored
  monitoring/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-hosts-sf

EodBackstage: update the grafana url
  doc/engineer_on_duty/README.md
  roles/sf/grafana/files/infra/EodBackstage.dhall
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Introduce ADR system for decision making/recording
  ADR/0000-use-markdown-any-decision-records.md
  ADR/adr-template.md
Due: none

Add image_build_date file into CRC images
  roles/extra/crc/tasks/welcome.yaml
  roles/next-gen/extracted-crc/tasks/modify.yaml
Due: none

configure-tenants.yaml: ansible namespaces for playbooks and roles
  playbooks/configure-tenants.yaml
  playbooks/tasks/configure-tenant.yaml
  roles/service/manage-image/tasks/main.yaml
  roles/service/manage-networking/tasks/main.yaml
  roles/service/manage-networking/tasks/security_group_rule.yaml
Due: sf-infra-configure-tenants, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

create-bridge.yaml: ansible namespaces for playbooks and roles
  playbooks/create-bridge.yaml
Due: sf-infra-create-bridge

create-hosts.yaml: ansible namespaces for playbooks and roles
  playbooks/create-hosts.yaml
  playbooks/tasks/create-hosts.yaml
Due: sf-infra-create-hosts

prometheus, quay, recreate: ansible namespaces for playbooks and roles
  playbooks/prometheus-lint.yaml
  playbooks/quay-renew-certificates.yml
  playbooks/recreate-executor.yaml
  playbooks/recreate-merger.yaml
Due: prometheus-lint, sf-infra-configure-quay

site_bridge.yaml: ansible namespaces for playbooks and roles
  playbooks/site_bridge.yaml
  roles/service/container/tasks/main.yaml
  roles/service/manage-accounts/tasks/main.yaml
  roles/service/node-exporter/tasks/main.yaml
  roles/system/generate-etc-hosts/tasks/main.yaml
  roles/system/update-host/tasks/main.yml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py
