Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

sf-infra-test-udp-multiplexer:
  parent: sf-infra-base-haskell
  vars:
    infra_script: roles/udp-multiplexer/files/udp-multiplexer.hs

prometheus-lint:
  description: Lint prometheus configuration
  nodeset: fedora-latest-pod
  run: playbooks/prometheus-lint.yaml

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  semaphore: sf-infra
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants
  secrets:
  - name: ara_api
  ...

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts
  secrets:
  - name: ara_api
    secret: bridge_ara_api

sf-infra-configure-hosts:
  parent: sf-infra-base
  description: Configure the hosts
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-hosts.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-configure-registry:
  parent: sf-infra-base
  description: Configure the registry host
  semaphore: sf-infra
  dependencies:
  - name: sf-infra-create-hosts
    soft: true
  run: playbooks/zuul/configure-registry-host.yaml
  required-projects:
  - name: review.rdoproject.org/rdo-infra/rdo-infra-playbooks
  ...

sf-infra-molecule:
  parent: sf-infra-base
  description: Use molecule to test Ansible roles
  pre-run: tests/pre-tox-molecule.yml
  run: tests/tox-molecule.yml
  post-run: tests/post-tox-molecule.yml
  required-projects:
  - name: software-factory/sf-infra
  timeout: 7200
  nodeset:
    nodes:
    - name: primary
      label: rdo-centos-8

sf-infra-test-custom-exporter:
  parent: sf-infra-base-python
  vars:
    infra_script: roles/custom-exporter/files/exporter.py

Fix afs-monitoring role
  roles/afs-monitoring/defaults/main.yml
  roles/afs-monitoring/files/get-afs-mirror-state.sh
Due: sf-infra-configure-hosts, sf-infra-molecule

Added monitoring of bup backup that is in the container
  roles/backup-monitoring/files/get-bup-backup-age.sh
  roles/backup-monitoring/templates/check-bup-backups.sh.j2
Due: sf-infra-configure-hosts, sf-infra-molecule

monitoring: include non vexxhost instance
  conf/functions.dhall
  monitoring/prometheus-config.dhall
  monitoring/prometheus.yaml
Due: sf-infra-configure-hosts

Fix list of RDO Trunk workers to check
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Change bup backup template; fix bup get age script
  roles/backup-monitoring/files/get-bup-backup-age.sh
  roles/backup-monitoring/templates/check-bup-backups.sh.j2
Due: sf-infra-configure-hosts, sf-infra-molecule

Re-organize common definition
  conf/common.dhall
  conf/package.dhall
  conf/schemas/Instance/External.dhall
  conf/schemas/Instance/package.dhall
  vars/common.dhall
  vars/infra-rdo/images.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: none

Remove Group from Infra
  Infra/AnsibleInventory/Group/Entry.dhall
  Infra/AnsibleInventory/Group/Type.dhall
  Infra/AnsibleInventory/Group/default.dhall
  Infra/AnsibleInventory/Group/package.dhall
  Infra/AnsibleInventory/Host/Type.dhall
  Infra/AnsibleInventory/Host/Variables.dhall
  Infra/AnsibleInventory/Host/empty.dhall
  Infra/AnsibleInventory/Host/package.dhall
  Infra/AnsibleInventory/README.md
  Infra/AnsibleInventory/createGroup.dhall
  Infra/AnsibleInventory/createHosts.dhall
  Infra/AnsibleInventory/package.dhall
  Infra/Group/Groups.dhall
  Infra/Group/README.md
  Infra/Group/Type.dhall
  Infra/Group/package.dhall
  Infra/Instance/Type.dhall
  Infra/Instance/default.dhall
  Infra/package.dhall
  Makefile
  README.md
  ansible/hosts.dhall
  ansible/hosts.yaml
  scripts/gen_groups.py
  scripts/gen_inventory.py
  vars/directory-tree.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Add centos8-victoria worker for rpm-packaging
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  roles/dlrn-server/files/centos8-victoria-rpm-packaging-dlrn-deps.repo
Due: sf-infra-configure-hosts, sf-infra-molecule

Increase the threshold for RDO Trunk repos to 3 days
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
Due: sf-infra-configure-hosts

Define shell for dhall-generation makefile
  Makefile
Due: none

Use rdo-monitoring user for connection to ci.centos nodes
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

Add some troubleshooting documentation for prometheus alarms
  doc/troubleshooting/DibImageBuildFailed.md
  doc/troubleshooting/README.md
  doc/troubleshooting/SSLCertExpiringSoon.md
  doc/troubleshooting/WillRunOutOfDiskInThreeDays.md
Due: sf-infra-configure-hosts

dhall: remove hardcoded '-private' field in Infra
  Infra/Network/create.dhall
  Infra/Router/create.dhall
  Infra/Subnet/create.dhall
  Infra/Subnet/createWithMask.dhall
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
  vars/nodepool-rdo/networking.dhall
  vars/nodepool-sf/networking.dhall
Due: none

Switch to wallaby tags
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Revert "dhall: remove hardcoded '-private' field in Infra"
  Infra/Network/create.dhall
  Infra/Router/create.dhall
  Infra/Subnet/create.dhall
  Infra/Subnet/createWithMask.dhall
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
  vars/nodepool-rdo/networking.dhall
  vars/nodepool-sf/networking.dhall
Due: none

dhall: remove unused port_security_enabled parameter for router
  Infra/Router/Type.dhall
  Infra/Router/default.dhall
Due: none

Create a "Engineer on Duty" section in the doc
  doc/engineer_on_duty/README.md
  doc/engineer_on_duty/troubleshooting/DibImageBuildFailed.md
  doc/engineer_on_duty/troubleshooting/README.md
  doc/engineer_on_duty/troubleshooting/SSLCertExpiringSoon.md
  doc/engineer_on_duty/troubleshooting/WillRunOutOfDiskInThreeDays.md
  doc/engineer_on_duty/zuul_token.md
Due: sf-infra-configure-hosts

Remove rhel8-based RDO Trunk workers
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Enable cron jobs for centos8-victoria in rpm-packaging
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Infra: add host_routes and floating_ip_pools parameters, set params optionals
  Infra/Router/Interface/Type.dhall
  Infra/Router/Interface/default.dhall
  Infra/Router/Interface/package.dhall
  Infra/Router/Type.dhall
  Infra/Router/create.dhall
  Infra/Router/package.dhall
  Infra/Server/Type.dhall
  Infra/Server/default.dhall
  Infra/Subnet/Type.dhall
  Infra/Subnet/create.dhall
  Infra/Subnet/createWithMask.dhall
  Infra/Subnet/default.dhall
Due: none

Add host_routes and floating_ip_pools
  playbooks/tasks/create-hosts.yaml
  roles/manage-networking/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Router: Add union for router interfaces
  Infra/Router/Interfaces.dhall
  Infra/Router/Type.dhall
  Infra/Router/create.dhall
  Infra/Router/package.dhall
Due: none

Infra: add Instance.textMap to simplify the infra-rdo/instances
  Infra/Instance/package.dhall
  Infra/Instance/textMap.dhall
Due: none

Instance: use Optional Server to indicate if a server is created
  Infra/Instance/External.dhall
  Infra/Instance/Type.dhall
  Infra/Instance/default.dhall
  Infra/Instance/generate.dhall
  Infra/Instance/getServer.dhall
  Infra/Instance/getServers.dhall
  Infra/Instance/isCreated.dhall
  Infra/Instance/map.dhall
  Infra/Instance/package.dhall
  Infra/Instance/setFqdn.dhall
  Infra/Instance/updateServer.dhall
  Infra/Tenant/addSecurityGroupsAndSetFqdn.dhall
  Infra/Tenant/getServers.dhall
  Infra/Tenant/getVolumes.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: none

Infra: add Instance.setName function
  Infra/Instance/package.dhall
  Infra/Instance/setName.dhall
Due: none

infra-sf: add nodepool-launcher-02 instance, add ansible_host in ssh/config
  Makefile
  README.md
  ansible/hosts.yaml
  monitoring/prometheus.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

infra-sf: add security group for zookeeper
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Change test reqs to include molecule-podman
  roles/dlrn-server/molecule/default/molecule.yml
  tox.ini
Due: sf-infra-configure-hosts, sf-infra-molecule

Add DLRN build metrics to Prometheus
  roles/rdotrunk-checks/tasks/main.yml
  roles/rdotrunk-checks/templates/check-dlrn-metrics.sh.j2
Due: sf-infra-configure-hosts, sf-infra-molecule

Improve acme-tiny role
  roles/acme-tiny/role.dhall
  roles/acme-tiny/tasks/main.yaml
  roles/acme-tiny/templates/acme-tiny-refresh.sh
  roles/acme-tiny/templates/acme-tiny-refresh.sh.dhall
Due: sf-infra-configure-hosts

Change DLRN metrics collection time
  roles/rdotrunk-checks/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add job to get screenshots of all Grafana dashboards
  tests/grafana-dash.yml
  tests/post-grafana-dash.yml
  tests/pre-grafana-dash.yml
  tests/templates/grafana-screenshots.js.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Instance: add node-exporter attribute to toggle prometheus config
  Infra/Instance/Type.dhall
  Infra/Instance/default.dhall
  Infra/Instance/getNodeExporter.dhall
  Infra/Instance/package.dhall
  monitoring/prometheus.dhall
Due: none

Add lambda host
  README.md
  ansible/hosts.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/common.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Update ceph-deb mirrors in AFS mirror role
  roles/opendev-system-config-mirror/tasks/main.yaml
Due: sf-infra-configure-hosts

Updated prometheus, prometheus exporters and grafana image
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py
