Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Change elasticsearch protocol to http; check-elasticsearch script fix
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  roles/elasticsearch/files/check-elasticsearch.py
  roles/elasticsearch/tasks/check_es.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Another fix for elasticsearch checks
  playbooks/site_sf.yaml
  roles/elasticsearch/tasks/check_es.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Add centos.sf-project.io tenant instance
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add centos.sf-project.io ip and acme-tiny
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Ensure acme-tiny roles can handle sf36
  playbooks/host_vars/centos.softwarefactory-project.io.yaml
  roles/acme-tiny/tasks/main.yaml
Due: sf-infra-configure-hosts

Set up the centos8-wallaby worker for RDO Trunk
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable cron jobs and Gerrit for centos8-wallaby worker
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Disable gateway.conf management for review.rdo and sf.io
  playbooks/host_vars/managesf.review.rdoproject.org.yaml
  playbooks/host_vars/managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Blackbox: move Elasticsearch urls to authorize_urls
  monitoring/prometheus.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

monitoring: add missing job node matcher in system metrics
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

elasticsearch: update check-elasticsearch to use authentication
  roles/elasticsearch/files/check-elasticsearch.py
  roles/elasticsearch/tasks/check_es.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

gerrit: add theme with logo
  roles/sf-install-server/files/managesf.review.rdoproject.org-gerrit-logo.png
  roles/sf-install-server/files/managesf.review.rdoproject.org-sftheme.html
  roles/sf-install-server/files/managesf.softwarefactory-project.io-gerrit-logo.png
  roles/sf-install-server/files/managesf.softwarefactory-project.io-sftheme.html
  roles/sf-install-server/tasks/main.yaml
Due: sf-infra-configure-hosts

gerrit: remove garbage from rdo sftheme
  roles/sf-install-server/files/managesf.review.rdoproject.org-sftheme.html
Due: sf-infra-configure-hosts

Revert "Pin some OSAS roles to pre-ansible 3.0.0 version"
  requirements.yml
Due: sf-infra-configure-hosts

Add vhost_skip for zuul instances after SF 3.6 upgrade
  playbooks/host_vars/ansible.softwarefactory-project.io.yaml
  playbooks/host_vars/fedora.softwarefactory-project.io
  playbooks/host_vars/fedora.softwarefactory-project.io.yaml
  playbooks/host_vars/managesf.review.rdoproject.org
  playbooks/host_vars/managesf.review.rdoproject.org.yaml
  playbooks/host_vars/ovirt-staging.softwarefactory-project.io.yaml
  playbooks/host_vars/ovirt.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Add elk security group for fedora tenant
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

monitoring: Remove ze* and zm* from WillRunOutOfMemoryInThreeDays
  Makefile
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules.dhall
Due: sf-infra-configure-hosts

Add acme-tiny role to managesf.review.rdoproject.org
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

configure-hosts: ensure the checkout is clean
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-configure-hosts

nodepool-builder: add crontab to cleanup fedora rawhide images
  playbooks/site_sf.yaml
  roles/builder-cleanup/tasks/main.yaml
Due: sf-infra-configure-hosts

node-exporter-rpm: only install package from copr if needed
  roles/node-exporter-rpm/tasks/main.yaml
Due: sf-infra-configure-hosts

sf-infra-base: use package_list instead of packages
  roles/sf-infra-base/defaults/main.yaml
  roles/sf-infra-base/tasks/main.yaml
Due: sf-infra-configure-hosts

Switch master to xena
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Makefile: Use the same comment from the one from dhall '--generated comment'
  Makefile
  monitoring/prometheus.yaml
  monitoring/rules-afs.yaml
  monitoring/rules-backup.yaml
  monitoring/rules-dlrn.yaml
  monitoring/rules-es-check.yaml
  monitoring/rules-http.yaml
  monitoring/rules-mysqld.yaml
  monitoring/rules-node.yaml
  monitoring/rules-node_proxy.yaml
  monitoring/rules-nodepool.yaml
  monitoring/rules-openstack-check.yaml
  monitoring/rules-systemd.yaml
  monitoring/rules-zuul.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-rdo.yaml
  playbooks/vars/nodepool-sf.yaml
  playbooks/vars/nodepool-tripleo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

remove hack used before www migration
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts

Create letsencrypt cert directory if not available
  playbooks/registry-renew-certificates.yml
Due: sf-infra-configure-hosts

Use diffent thresholds for DLRN centos7 and 8 alerts
  monitoring/rules-dlrn.dhall
  monitoring/rules-dlrn.yaml
Due: sf-infra-configure-hosts

backup: Add backup-srv role
  playbooks/site_rdo.yaml
  roles/backup-srv/README.rst
  roles/backup-srv/defaults/main.yml
  roles/backup-srv/files/backup-koji.yaml
  roles/backup-srv/files/backup.yaml
  roles/backup-srv/files/options-ssl-apache.conf
  roles/backup-srv/handlers/main.yml
  roles/backup-srv/tasks/cleanup.yaml
  roles/backup-srv/tasks/httpd_koji.yaml
  roles/backup-srv/tasks/install.yaml
  roles/backup-srv/tasks/main.yaml
  roles/backup-srv/templates/backup.yaml.j2
  roles/backup-srv/templates/site.conf.j2
Due: sf-infra-configure-hosts

backup-srv: remove cleanup.yaml play
  roles/backup-srv/tasks/cleanup.yaml
  roles/backup-srv/tasks/main.yaml
Due: sf-infra-configure-hosts

backup-monitoring: fix dir for backup-srv role
  playbooks/site_rdo.yaml
  roles/backup-monitoring/defaults/main.yml
  roles/backup-monitoring/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

redhat-oss: disable repoxplorer roles
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts

Add backup-client role
  ansible/hosts.yaml
  playbooks/host_vars/lists.rdoproject.org/system.yml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/backup-client/defaults/main.yaml
  roles/backup-client/tasks/main.yaml
  roles/backup-srv/defaults/main.yml
  roles/sf-install-server/defaults/main.yaml
  roles/sf-install-server/tasks/main.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

backup.rdo: move variables from backup-{srv/monitoring}/defaults/main.yaml in host_vars
  playbooks/host_vars/backup.rdoproject.org.yaml
  roles/backup-monitoring/defaults/main.yml
  roles/backup-monitoring/molecule/default/converge.yml
  roles/backup-srv/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Update DLRN monitoring rule to use a function
  monitoring/rules-dlrn.dhall
Due: none

Add stable/wallaby worker for rpm-packaging
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  roles/dlrn-server/files/centos8-wallaby-rpm-packaging-dlrn-deps.repo
Due: sf-infra-configure-hosts, sf-infra-molecule

Move centos8-based builder in rpm-packaging to stream
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  roles/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
Due: sf-infra-configure-hosts, sf-infra-molecule

Remove RDO Cloud from monitored clouds
  playbooks/host_vars/zs.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

Skip repoxplorer molecule test
  roles/repoxplorer/molecule/default/molecule.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Set custom purge params for centos8-rpm-packaging
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
Due: sf-infra-configure-hosts

Run sf-infra-configure-hosts rdo and sf in same time
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule
