Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, shake-factory-docs, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-dlrn: any of: ^playbooks/vars/dlrn.yaml$, ^playbooks/vars/dlrn-db.yaml$, ^playbooks/host_vars/dlrn-db.rdoproject.org.yaml$, ^playbooks/host_vars/trunk-centos8.rdoproject.org.yaml$, ^playbooks/host_vars/trunk.rdoproject.org.yaml$, ^playbooks/group_vars/dlrn$, ^playbooks/site_dlrn.yaml$, ^roles/dlrn-server.*, ^monitoring/rules-dlrn.yaml
  sf-infra-configure-hosts-rdo: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-sf: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-grafana-dashboards: any of: ^roles/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  shake-factory-docs: any of: ^Infra/.*$
  sf-infra-test-custom-exporter: any of: roles/custom-exporter/files/exporter.py

Update node_exporter Grafana dashboard
  roles/grafana/files/node_exporter.json
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add new ip of backup.rdoproject.org
  ansible/hosts.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Use logscraper and logsender
  ansible/ansible.cfg
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
  playbooks/host_vars/opensearch.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/log-gearman/defaults/main.yml
  roles/log-gearman/files/zuul-job-scrapper.py
  roles/log-gearman/tasks/main.yml
  roles/log-gearman/tasks/zuul-job-scrapper.yml
  roles/log-gearman/templates/config-client.j2
  roles/log-gearman/templates/config-worker.j2
  roles/log-gearman/templates/service-client.j2
  roles/log-gearman/templates/service-worker.j2
  roles/log-gearman/templates/zuul-job-scrapper.service.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Add opensearch security group rule; remove log-gearman role
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  playbooks/vars/infra-rdo.yaml
  roles/log-gearman/tasks/main.yml
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Provide CA cert for logsender
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Remove uncorrect comment for cron module
  playbooks/zuul/configure-quay-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-quay

Update sec rules for dlrn-db to enable replication from backup.rdo
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add quay-tool-tests job to validate quay role
  tests/check-quay-tool.yml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Remove old backup.rdoproject.org ip address
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

sf: Add ibm baremetal instance and playbooks
  Infra/Connection/Type.dhall
  Infra/Connection/default.dhall
  ansible/hosts.yaml
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/configure-tripleo-standalone.yaml
  playbooks/create-tripleo-standalone.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/templates/local-overrides.yaml.j2
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/run-play.yaml
  roles/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-rdo/instances.dhall
  zuul.d/jobs.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule, shake-factory-docs

Add passwords for vexxhost-rdo and ibm-bm2-nodepool
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

bridge: Add templates to manage clouds.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/templates/clouds.yaml.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

Add kind role to deploy a shared kubernetes cluster
  roles/kind/README.md
  roles/kind/files/create-kubeconfig
  roles/kind/tasks/main.yaml
  roles/kind/templates/kind-config.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add variables for tripleo-standalone deployment
  playbooks/create-tripleo-standalone.yaml
  playbooks/templates/local-overrides.yaml.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

tripleo-standalone: Add hosts and flavors
  ansible/hosts.yaml
  doc/inventory.md
  playbooks/create-tripleo-standalone.yaml
  playbooks/host_vars/baremetal02.rdoproject.org.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm2-nodepool.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  roles/opendev-system-config-openafs-client/tasks/openafs-client/CentOS.yaml
  roles/setup-ssl-self-signed/defaults/main.yaml
  roles/setup-ssl-self-signed/tasks/main.yaml
  vars/directory-tree.dhall
  vars/infra-rdo/ibm-baremetal.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

[quay] Generate Quay self signed cert base on CA
  roles/quay/tasks/gen_certs.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add ssh config to allow managesf to reach ibm private instances
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/sf-ssh/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add cert for tripleo-standalone deployment
  ansible/hosts.yaml
  playbooks/group_vars/ibm-bm2-nodepool.yaml
  playbooks/site_sf.yaml
  roles/ca-trust/defaults/main.yaml
  roles/ca-trust/tasks/main.yaml
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

sf: Add public ip for zk01 instance
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

[quay] Change virtual env library for pruner
  roles/quay/tasks/prune.yml
  roles/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

sf-ssh: ensure ibm hosts could be reach by hostname of fqdn
  roles/sf-ssh/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add requeue-hang-build
  scripts/requeue-hang-build.jq
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Stop DLRN builders for centos8-master-uc and centos8-master
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kind] Set max map count on kind host
  roles/kind/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[quay] Add current-ceph tag to keep list
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal02: Add iptables rule for monitoring
  playbooks/create-tripleo-standalone.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

sf.io: Add ibm-{ze,nodepool-launcher} on arch.yaml
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

dlrn: remove centos8-master and centos8-master-uc
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
  roles/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/molecule/default/converge.yml
  roles/grafana/files/DLRN.dhall
  roles/grafana/files/DLRN.json
  roles/quay/README.md
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule, sf-infra-grafana-dashboards

Update privacy@ password
  roles/mailing_lists/files/users/privacy.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Check periodically, if there are some packages for update
  Makefile
  monitoring/package.dhall
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  monitoring/rules-system-package-count.dhall
  monitoring/rules-system-package-count.yaml
  playbooks/site_rdo.yaml
  playbooks/site_sf.yaml
  roles/update-host/tasks/main.yml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add vexxhost password from prometheus user
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Enable rdo web builder host
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Enable TLS for IMAP
  roles/mailing_lists/vars/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[quay] Improve self signed CA cert
  roles/quay/tasks/gen_certs.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Grafana user credentials; add more info for external prometheus
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add Vexxhost Prometheus datasource entrypoint
  roles/grafana/tasks/main.yaml
  roles/grafana/templates/datasource_prometheus.yml.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule, sf-infra-grafana-dashboards

[prometheus] Add logscraper metrics into the Prometheus
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Move external Prometheus Zuul secrets to Ansible vault
  ansible/hosts.yaml
  playbooks/group_vars/monitoring.yaml
  vars/infra-sf/instances.dhall
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

[grafana] Change external Grafana organization id
  roles/grafana/templates/datasource_prometheus.yml.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add new dlrn builders for non-uc master
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/host_vars/trunk.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
