Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-create-tripleo-standalone, sf-infra-configure-tripleo-standalone, sf-infra-configure-quay, sf-infra-molecule, sf-infra-quay-check, sf-infra-grafana-dashboards, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts-dlrn: any of: playbooks/site_dlrn.yaml, playbooks/host_vars/dlrn-db.rdoproject.org.yaml, ^playbooks/host_vars/trunk.*.yaml$, playbooks/group_vars/all, playbooks/group_vars/dlrn, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/dlrn/.*$
  sf-infra-configure-hosts-osci: any of: playbooks/site_osci.yaml, ^playbooks/host_vars/lists.rdoproject.org/.*$, ^playbooks/host_vars/rdo-web-builder.int.osci.io/.*$, ^playbooks/host_vars/www.rdoproject.org/.*$, ^playbooks/group_vars/osci_internal_zone/.*$, ^playbooks/group_vars/osci_zone/.*$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/osci/.*$
  sf-infra-configure-hosts-rdo: any of: playbooks/site_rdo.yaml, ^playbooks/host_vars/.*rdoproject.org.ya?ml$, playbooks/host_vars/rdo-web-builder.int.osci.io, playbooks/group_vars/all, playbooks/group_vars/osci_internal_zone, playbooks/group_vars/osci_zone, playbooks/group_vars/rdo.yaml, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/rdo/.*$
  sf-infra-configure-hosts-sf: any of: playbooks/site_sf.yaml, ^playbooks/host_vars/.*softwarefactory-project.io.ya?ml$, playbooks/group_vars/all, playbooks/group_vars/k1s.yaml, playbooks/group_vars/logreduce-mqtt, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/sf.yaml, ^monitoring/.*yaml$, ^roles/infra/.*$, ^roles/service/.*$, ^roles/system/.*$, ^roles/sf/.*$
  sf-infra-create-tripleo-standalone: any of: ^playbooks/zuul/create-tripleo-standalone.yaml$, ^playbooks/zuul/configure-private-clouds.yaml$, ^playbooks/zuul/tasks/standalone-setup.yaml$, ^playbooks/zuul/templates/local-overrides.yaml.j2$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$, ^playbooks/zuul/group_vars/baremetal.yaml$
  sf-infra-configure-tripleo-standalone: any of: ^playbooks/zuul/configure-tripleo-standalone.yaml$, ^playbooks/zuul/tasks/standalone-configure.yaml$, ^playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/dlrn/dlrn-server/.*$, ^roles/drln/mariadb-replicated/.*$, ^roles/rdo/afs-monitoring/.*$, ^roles/rdo/backup-monitoring/.*$, ^roles/service/firewalld/.*$, ^roles/service/opensearch-monitoring/.*$, ^roles/sf/pushprox/.*$, ^roles/system/swap/.*$, ^tests/.*molecule.yml$, ^tox.ini$
  sf-infra-quay-check: any of: ^roles/rdo/quay/.*$
  sf-infra-grafana-dashboards: any of: ^roles/sf/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

Trigger sf-infra-configure-hosts-sf job; add openshift pull secret var
  playbooks/zuul/configure-hosts.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/prepare-host/tasks/gen-ansible-vars.yaml
  roles/next-gen/prepare-host/tasks/main.yaml
  zuul.d/jobs.yaml
Due: none

Add few fixes for CRC role and crc playbook
  playbooks/crc-make-snapshot.yaml
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/local-storage.yaml
  roles/extra/crc/tasks/post.yaml
Due: none

Remove secrets duplication for sf-infra-configure-hosts-sf
  zuul.d/jobs.yaml
Due: none

Make prow links more visible and dynamic. Move zuul common code into zuul-common.jsonnet file
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-prow-detail.json
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-data-plane-zuul-jobs.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-prow-detail.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-zuul-jobs.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/common.jsonnet
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Remove quotes and escape char before % in cleanup openstack resources cron job
  roles/next-gen/cleanup-openstack-resources/tasks/main.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
Due: none

Reduce severity of "BackupTooOld" from Critical to Warning
  monitoring/rules-backup.dhall
  monitoring/rules-backup.yaml
Due: prometheus-lint, sf-infra-configure-hosts-sf

Enable letsEncrypt on SF CR hosted on microshift.sf.io
  vars/infra-sf/sf_v1_softwarefactory.yaml
Due: none

Set explicitly CatalogSource interval to 15m
  roles/sf/operator-catalog-sub/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Rename dashboard since it includes all the jobs in the current-podified promotion line
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-podified-promotion-zuul-jobs.json
  roles/sf/grafana/files/ng-ci-dashboard/doc/source/dashboards.rst
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-podified-promotion-zuul-jobs.jsonnet
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/common.jsonnet
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add missing collection to requirements.yaml file
  requirements.yml
Due: none

Add condition to check if project_name or floating_ip is set for host
  roles/system/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Split crc-make-snapshot playbook to dedicated role
  playbooks/crc-make-snapshot.yaml
  roles/next-gen/crc-image/README.md
  roles/next-gen/crc-image/defaults/main.yaml
  roles/next-gen/crc-image/tasks/check_vm.yaml
  roles/next-gen/crc-image/tasks/configure_vm.yaml
  roles/next-gen/crc-image/tasks/create_vm.yaml
  roles/next-gen/crc-image/tasks/find_image.yaml
  roles/next-gen/crc-image/tasks/get_vm_info.yaml
  roles/next-gen/crc-image/tasks/main.yaml
  roles/next-gen/crc-image/tasks/make_snapshot.yaml
  roles/next-gen/crc-image/tasks/post_vm.yaml
  roles/next-gen/crc-image/tasks/prepare_vm.yaml
  roles/next-gen/crc-image/tasks/remove_image.yaml
  roles/next-gen/crc-image/tasks/rename_image.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/prepare-host/files/ansible.cfg
Due: none

Add feature for crc-make-snapshot playbook to generate extracted image
  playbooks/crc-make-snapshot.yaml
  roles/next-gen/crc-image/defaults/main.yaml
  roles/next-gen/crc-image/tasks/remove_image.yaml
  roles/next-gen/crc-image/tasks/rename_image.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/extracted-crc/README.md
  roles/next-gen/extracted-crc/defaults/main.yaml
  roles/next-gen/extracted-crc/files/configure-pre-crc.sh
  roles/next-gen/extracted-crc/files/crc-pre.service
  roles/next-gen/extracted-crc/files/ssh-auth-keys
  roles/next-gen/extracted-crc/tasks/bundle.yaml
  roles/next-gen/extracted-crc/tasks/create-image.yaml
  roles/next-gen/extracted-crc/tasks/main.yaml
  roles/next-gen/extracted-crc/tasks/modify.yaml
  roles/next-gen/extracted-crc/tasks/mount.yaml
  roles/next-gen/extracted-crc/tasks/pre.yaml
  roles/next-gen/extracted-crc/tasks/pull-image.yaml
  roles/next-gen/extracted-crc/tasks/umount.yaml
Due: none

Remove troubleshooting docs
  doc/engineer_on_duty/README.md
  doc/engineer_on_duty/troubleshooting/AFSTooOld.md
  doc/engineer_on_duty/troubleshooting/BackupTooOld.md
  doc/engineer_on_duty/troubleshooting/DibImageBuildFailed.md
  doc/engineer_on_duty/troubleshooting/DibImageOutdated.md
  doc/engineer_on_duty/troubleshooting/ElasticsearchOutdatedMetrics.md
  doc/engineer_on_duty/troubleshooting/GrafanaNoData.md
  doc/engineer_on_duty/troubleshooting/MariaDBDown.md
  doc/engineer_on_duty/troubleshooting/MariaDBReplicationFailed.md
  doc/engineer_on_duty/troubleshooting/NeutronUndeletedPorts.md
  doc/engineer_on_duty/troubleshooting/RDOTrunkRepoTooOld.md
  doc/engineer_on_duty/troubleshooting/README.md
  doc/engineer_on_duty/troubleshooting/SSLCertExpiringSoon.md
  doc/engineer_on_duty/troubleshooting/StackCheckDeleteFailed.md
  doc/engineer_on_duty/troubleshooting/WebDown.md
  doc/engineer_on_duty/troubleshooting/WillRunOutOfDiskInThreeDays.md
  doc/engineer_on_duty/troubleshooting/template.md
  doc/engineer_on_duty/zuul_token.md
Due: none

Add job to trigger re-build CRC job after role change
  playbooks/host_vars/image-builder.softwarefactory-project.io.yaml
  playbooks/rebuild-crc-image.yaml
  playbooks/site_sf.yaml
  roles/next-gen/crc-snapshot/defaults/main.yaml
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/crc-snapshot/templates/recreate-crc-snapshot.sh.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts-sf

Set the ip address when floating_ip or project is not set
  roles/system/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add pipeline field and modify fields size
  roles/sf/grafana/files/ng-ci-dashboard/ci-dashboard-podified-promotion-zuul-jobs.json
  roles/sf/grafana/files/ng-ci-dashboard/jsonnet/ci-dashboard-podified-promotion-zuul-jobs.jsonnet
Due: sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

Add legacy cleanup port script; increase time for checking DOWN ports
  roles/next-gen/cleanup-openstack-resources/files/cleanup-ports-next-gen.sh
  roles/sf/openstack-simply-reporter/tasks/main.yml
Due: sf-infra-configure-hosts-sf

Remove ssh keys for extracted CRC image; change cronjob name
  roles/next-gen/crc-snapshot/tasks/main.yaml
  roles/next-gen/extracted-crc/files/ssh-auth-keys
Due: none

Change path for extracted crc image
  roles/next-gen/extracted-crc/tasks/create-image.yaml
Due: none

Fix installation of ansible collection
  roles/next-gen/prepare-host/tasks/main.yaml
Due: none

Microshift.sf.io: prepare cluster for prometheus-operator
  roles/sf/operator-catalog-sub/tasks/main.yaml
Due: sf-infra-configure-hosts-sf

Update dhall-grafana binding
  monitoring/summary-dashboard.dhall
Due: prometheus-lint

Ensure all images for openshift-marketplace are downloaded in CRC
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/workarounds.yaml
Due: none

Ensure all images are available on CRC host
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/workarounds.yaml
Due: none

Change condition for script for creating CRC image
  roles/next-gen/crc-snapshot/tasks/main.yaml
Due: none

Add suffix for CRC images
  playbooks/crc-make-snapshot.yaml
Due: none

Add more statsd mappings for zuul metrics
  roles/sf/statsd-exporter/files/statsd_mapping.yml
Due: sf-infra-configure-hosts-sf

Change condition when image_name isn't set; parse to bool extracted_crc var
  playbooks/crc-make-snapshot.yaml
  roles/next-gen/crc-image/tasks/find_image.yaml
Due: none

Add playbook and role for synchronizing image between clouds
  playbooks/sync-crc-images.yaml
  roles/next-gen/sync-images/tasks/main.yaml
  roles/next-gen/sync-images/tasks/prepare_host.yaml
  roles/next-gen/sync-images/tasks/share_image.yaml
  roles/next-gen/sync-images/templates/pull-crc-image.sh.j2
Due: none

Move creating CRC image for specific days
  roles/next-gen/crc-snapshot/tasks/main.yaml
Due: none

Adds namespaces for podified master c9 for quay.rdoproject.org
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

Update Prometheus datasource for our cloud provider
  playbooks/group_vars/monitoring.yaml
Due: none

Update token for podified-antelope-centos9
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo

Add site logreduce
  playbooks/group_vars/all
  playbooks/site_logreduce.yaml
  playbooks/site_sf.yaml
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change nested CRC image name
  playbooks/crc-make-snapshot.yaml
Due: none

Add suffix for Ansible log; add ansible_log_path as argument
  roles/next-gen/crc-snapshot/templates/recreate-crc-snapshot.sh.j2
Due: none

Update logreduce versions
  playbooks/group_vars/all
Due: sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Improve generating /etc/hosts.yaml; use floating ip when available
  playbooks/create-hosts.yaml
  playbooks/tasks/create-hosts.yaml
  roles/system/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-create-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-osci, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add pruner token for podified-master-centos9
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts-rdo
