Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-test-udp-multiplexer, prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-configure-registry, sf-infra-configure-quay, sf-infra-molecule, sf-infra-grafana-dashboards, shake-factory-docs, sf-infra-test-custom-exporter

Path conditions:
  sf-infra-test-udp-multiplexer: any of: roles/udp-multiplexer/files/udp-multiplexer.hs
  prometheus-lint: any of: monitoring/.*, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-dlrn: any of: ^playbooks/vars/dlrn.yaml$, ^playbooks/vars/dlrn-db.yaml$, ^playbooks/host_vars/dlrn-db.rdoproject.org.yaml$, ^playbooks/host_vars/trunk-centos8.rdoproject.org.yaml$, ^playbooks/host_vars/trunk.rdoproject.org.yaml$, ^playbooks/group_vars/dlrn$, ^playbooks/site_dlrn.yaml$, ^roles/dlrn-server.*, ^monitoring/rules-dlrn.yaml
  sf-infra-configure-hosts-rdo: unless all of: Makefile, .*.dhall
  sf-infra-configure-hosts-sf: unless all of: Makefile, .*.dhall
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry.rdoproject.org.yml$
  sf-infra-configure-quay: any of: ^playbooks/quay-renew-certificates.yml$, ^playbooks/zuul/configure-quay-host.yaml$
  sf-infra-molecule: any of: ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^roles/pushprox/.*$, ^tox.ini$, ^tests/.*molecule.yml$, ^zuul.d/jobs.yaml$
  sf-infra-grafana-dashboards: any of: ^roles/grafana/.*$, ^tests/grafana-dash.yml$, ^tests/post-grafana-dash.yml$, ^tests/pre-grafana-dash.yml$, ^tests/templates/grafana-screenshots.js.j2$
  shake-factory-docs: any of: ^Infra/.*$
  sf-infra-test-custom-exporter: any of: roles/sf/custom-exporter/files/exporter.py

doc/how-to-add-ibm-bm-standalone.md: Add nodepool config
  doc/how-to-add-ibm-bm-standalone.md
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal: Create security group rules for default and allow_ssh
  playbooks/zuul/tasks/standalone-configure.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal: Add tripleo user and ssh keys from tripleo team
  playbooks/zuul/configure-private-clouds.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Update Ingress version to controller-v1.5.1
  roles/extra/kubernetes/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

ibm instances: set hostname for all instances
  ansible/hosts.yaml
  playbooks/site_sf.yaml
  roles/sf/hostname/tasks/main.yaml
  vars/infra-rdo/ibm-baremetal.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Update ingress overwrite manifest
  roles/extra/kubernetes/tasks/ingress.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

baremetal: Set dns servers
  playbooks/zuul/configure-private-clouds.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Add loadbalancer MetalLB for ingress; improve Kubernetes role
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/tasks/calico.yaml
  roles/extra/kubernetes/tasks/ingress.yaml
  roles/extra/kubernetes/tasks/local-storage.yaml
  roles/extra/kubernetes/tasks/main.yaml
  roles/extra/kubernetes/tasks/metallb.yaml
  roles/extra/kubernetes/tasks/post.yaml
  roles/extra/kubernetes/tasks/untaint.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Set value for consent-telemetry in double quotes
  roles/extra/crc/defaults/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kind] Bump Kind to new version v0.17.0
  roles/extra/kind/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Add console web UI support
  roles/extra/crc/tasks/console.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/prepare.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Add welcome information
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/welcome.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kind] Set containers limit for podman
  roles/extra/kind/tasks/main.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

ibm-baremetal-nodepool: update bm3 crt
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rdo: ensure baremetal group setup node-exporter service
  playbooks/site_rdo.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

tripleo-standalone: ensure heat is setup during installation process
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/templates/local-overrides.yaml.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

arch.sf.io: remove ibm-bm2 instances
  roles/infra/install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

remove baremetal02 servers and instances
  ansible/hosts.yaml
  doc/how-to-delete-ibm-bm-standalone.md
  doc/inventory.md
  monitoring/prometheus.yaml
  playbooks/group_vars/ibm-baremetal-nodepool.yaml
  playbooks/host_vars/baremetal02.rdoproject.org.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/mirror.regionone.ibm-bm2-nodepool.rdoproject.org.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/zuul/configure-private-clouds.yaml
  playbooks/zuul/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/tasks/standalone-configure.yaml
  playbooks/zuul/templates/clouds.yaml.j2
  roles/infra/ssh/tasks/main.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/directory-tree.dhall
  vars/infra-rdo/ibm-baremetal.dhall
  vars/infra-sf/networking.dhall
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule

[quay] Add tripleozedcentos9 project into tripleo organization
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[quay] Hide new created user information
  roles/rdo/quay-project-creation/tasks/create_organization.yml
  roles/rdo/quay-project-creation/tasks/read_token.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Change condition for quay pruner script
  roles/rdo/quay/templates/quay_tag_keeplist.sh.j2
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add pruner application token for tripleozedcentos9 Quay project
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add api-centos9-zed into Quay pruner DLRN endpoints
  playbooks/host_vars/quay.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[quay] Update Quay to new version - 3.7.10
  playbooks/host_vars/quay.rdoproject.org.yaml
  roles/rdo/quay/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Add new volume to quay.rdoproject.org
  playbooks/host_vars/quay.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  roles/system/volume/tasks/delete_partition.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Add debug flag
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/setup.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update opensearch.rdoproject.org to 2.4.0
  playbooks/host_vars/opensearch.rdoproject.org.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Improve HAProxy configuration
  roles/extra/crc/tasks/console.yaml
  roles/extra/crc/tasks/welcome.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[crc] Add cleanup tasks
  roles/extra/crc/defaults/main.yaml
  roles/extra/crc/tasks/cleanup.yaml
  roles/extra/crc/tasks/main.yaml
  roles/extra/crc/tasks/secret.yaml
  roles/extra/crc/tasks/setup.yaml
  roles/extra/crc/tasks/start.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

rdo: Add new backup.rdoproject.org instance
  ansible/hosts.yaml
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/site_rdo.yaml
  roles/rdo/backup-srv/defaults/main.yml
  roles/rdo/backup-srv/tasks/httpd_koji.yaml
  roles/system/generate-etc-hosts/files/sshconfig
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Revert "Revert "Bump Grafana to 8.5.11""
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  tests/grafana-dash.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-grafana-dashboards

[quay] Fix no_log variable call in tasks; improve user creation
  roles/rdo/quay-project-creation/tasks/create_organization.yml
  roles/rdo/quay/README.md
  roles/rdo/quay/tasks/bootstrap.yml
  roles/rdo/quay/tasks/clair.yml
  roles/rdo/quay/tasks/db.yml
  roles/rdo/quay/tasks/get_user_pass.yml
  roles/rdo/quay/tasks/redis.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

backup-srv: ensure epel, certbot and ansible
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/vars/infra-rdo.yaml
  roles/rdo/backup-srv/tasks/httpd_koji.yaml
  roles/rdo/backup-srv/tasks/main.yaml
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

backup.rdoproject.org: add instance def in site_dlrn.yaml
  ansible/hosts.yaml
  playbooks/host_vars/backup.rdoproject.org.dhall
  playbooks/host_vars/backup.rdoproject.org.yaml
  playbooks/site_dlrn.yaml
  playbooks/site_rdo.yaml
  roles/dlrn/mariadb-replicated/tasks/replica.yml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

[kubernetes] Pin cri-o configuration to 1.24.3
  roles/extra/kubernetes/defaults/main.yml
  roles/extra/kubernetes/tasks/crio.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Replace custom_ca_crt variable with logsender_custom_ca_crt
  playbooks/host_vars/elk.review.rdoproject.org.yaml
  playbooks/host_vars/elk.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

Update Grafana to 9.2.6; trigger CI check when version changed
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.dhall
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  tests/grafana-dash.yml
  tests/templates/grafana-screenshots.js.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf, sf-infra-molecule, sf-infra-grafana-dashboards

Add apache_exporter to mirror.regionone.vexxhost.rdoproject.org
  monitoring/prometheus.dhall
  monitoring/prometheus.yaml
  playbooks/site_rdo.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

dlrn replication: force run to debug replication issue
  playbooks/site_dlrn.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-dlrn, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf

mariadb: change server_id value
  roles/dlrn/mariadb-replicated/tasks/replica.yml
Due: sf-infra-configure-hosts, sf-infra-configure-hosts-rdo, sf-infra-configure-hosts-sf
