Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule

Path conditions:
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, package.dhall, playbooks/vars/.*.dhall, conf/.*
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry-vexxhost.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^tox.ini$, ^tests/.*molecule.yml$

rdo: add ci-centos-org group
  ansible/hosts.yaml
  conf/types/Group.dhall
  conf/types/Groups.dhall
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-hosts

Add pushprox role to ci-centos-org machines
  playbooks/group_vars/ci-centos-org.yaml
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Add Prometheus configuration to monitor ci.centos.org instances
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts

infra-rdo: refactor networking security group to avoid repetition
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-hosts

prometheus: add missing rules file
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-hosts

functions: networking rule management refactor
  conf/functions.dhall
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-hosts

functions: remove type synonym
  conf/functions.dhall
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

conf: move re-usable common to the package
  conf/common.dhall
  conf/package.dhall
  vars/common.dhall
  vars/infra-rdo/images.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-hosts

Apply new changes to registry host
  playbooks/rdo-registry.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Add user account for weshay on brigde and zs, disable setup-ssl image-server
  playbooks/site.yaml
  roles/bridge-accounts/tasks/main.yaml
  roles/bridge-accounts/vars/main.yaml
  roles/zuul_cli_access/tasks/main.yaml
  roles/zuul_cli_access/vars/main.yaml
Due: sf-infra-configure-hosts

Enable PowerTools repo and uncomment setup-ssl role for images server
  playbooks/site.yaml
  roles/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts

Rename dhall-diff as the job is being moved to zuul-jobs
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

Use the new dhall-diff job from zuul-jobs
  playbooks/dhall-diff.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

Disable building new commits for RDO Trunk master for CentOS7
  roles/dlrn-server/templates/trunk-centos7-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Added new rules and graphana dashboard for blackbox exporter
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  roles/grafana/files/blackbox.json
  roles/grafana/tasks/main.yaml
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
  vars/infra-rdo/networking.dhall
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Prepare centos8-ussuri DLRN configuration
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  roles/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/templates/centos8-rpm-packaging-ci-common.yaml
  roles/dlrn-server/templates/trunk-centos8-common.yaml
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable components for the centos8-ussuri worker
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

prometheus: fix incorrect http rule
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts

prometheus: fix elk rule
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts

Set tag ussuri-uc until Ussuri is not released
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Setup configuration of Ussuri release
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable systemd collector; fix node-exporter on Centos
  roles/node-exporter-rpm/README.md
  roles/node-exporter-rpm/handlers/main.yml
  roles/node-exporter-rpm/tasks/main.yaml
  roles/node-exporter/defaults/main.yml
  roles/node-exporter/tasks/main.yaml
  roles/prometheus/files/rules-systemd.yaml
  roles/prometheus/tasks/main.yaml
Due: prometheus-lint, sf-infra-configure-hosts

Added new systemd services to monitoring by prometheus
  roles/node-exporter/defaults/main.yml
Due: sf-infra-configure-hosts

Add dpawlik to the DLRN admin users
  roles/dlrn-server/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Added rules-systemd to prometheus
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts

Use puppet-dlrn from Zuul in sf-infra-molecule job
  roles/dlrn-server/README.md
  roles/dlrn-server/molecule/default/playbook.yml
  roles/dlrn-server/tasks/main.yml
  tests/tox-molecule.yml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Enable cron for ussuri rpm-packaging builder
  roles/dlrn-server/templates/centos8-rpm-packaging-ci-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Install hound and cgit services
  roles/sf-install-server/files/arch-managesf.review.rdoproject.org.yaml
Due: sf-infra-configure-hosts

rdo: add security rule for hound, fix arch.yaml
  playbooks/vars/infra-rdo.yaml
  roles/sf-install-server/files/arch-managesf.review.rdoproject.org.yaml
  vars/infra-rdo/instances.dhall
  vars/infra-rdo/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Remove zcaplovi account from bridge
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

registry: add tripleoussuri namespace
  playbooks/rdo-registry.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

softwarefactory: setup latest nodepool to fix static driver
  playbooks/site.yaml
Due: sf-infra-configure-hosts

Switch trunk-centos8 workers to use victoria tags
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

afs: Ensure builded puppet modules are updated
  roles/afs-mirror/tasks/main.yaml
Due: sf-infra-configure-hosts

softwarefactory: remove k1s01
  roles/sf-install-server/files/arch-managesf.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

softwarefactory: delete k1s03 host
  ansible/hosts.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  roles/prometheus/files/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: prometheus-lint, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Increase WillRunOutOfDiskInThreeDays certain duration to 12h
  roles/prometheus/files/rules-node.yaml
  roles/prometheus/files/rules-node_proxy.yaml
  roles/prometheus/files/rules.dhall
Due: prometheus-lint, sf-infra-configure-hosts

volume: move mount partition task in a dedicated file
  roles/volume/tasks/main.yaml
  roles/volume/tasks/mount_partition.yaml
Due: sf-infra-configure-hosts

Extra zuul configuration to allow job usage by puppet-dlrn
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

zuul: use haskell-latest-pod for dhall-diff job
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts
