Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts

zuul.d/jobs.yaml:

---
- semaphore:
    name: sf-infra
    max: 1

- job:
    name: sf-infra-base
    abstract: true
    allowed-projects:
      - software-factory/sf-infra
    semaphore: sf-infra
    nodeset:
      # All infra playbook run from the bridge
      nodes: []

- job:
    name: sf-infra-create-bridge
    parent: sf-infra-base
    description: Deploy the bridge
    run: playbooks/create-bridge.yaml
    files:
      - ^playbooks/create-bridge.yaml$
    secrets:
      - name: cloud
        secret: vexxhost-cloud
    nodeset:
      # This special job needs to run from a container
      nodes:
        - name: container
          label: runc-centos-7

- job:
    name: sf-infra-configure-tenants
    parent: sf-infra-base
    description: Create the tenant resources such as network and secgroup
    dependencies:
      - name: sf-infra-create-bridge
        soft: true
    files:
      - ^playbooks/configure-tenants.yaml$
      - ^playbooks/vars/.*
      - ^tasks/configure-tenant.yaml$
      - ^roles/manage-networking/.*
      - ^roles/manage-image/.*
    run: playbooks/configure-hosts.yaml
    vars:
      sf_infra_play_name: configure-tenants

- job:
    name: sf-infra-create-hosts
    parent: sf-infra-base
    description: Create the hosts
    dependencies:
      - name: sf-infra-configure-tenants
        soft: true
    files:
      - ^playbooks/create-hosts.yaml$
      - ^playbooks/vars/.*
      - ^playbooks/tasks/create-hosts.yaml$
    run: playbooks/configure-hosts.yaml
    vars:
      sf_infra_play_name: create-hosts

- job:
    name: sf-infra-configure-hosts
    parent: sf-infra-base
    description: Configure the hosts
    dependencies:
      - name: sf-infra-create-hosts
        soft: true
    run: playbooks/configure-hosts.yaml
    vars:
      sf_infra_play_name: site
    secrets:
      - name: cloud
        secret: vexxhost-cloud
      - name: vault
        secret: ansible-vault

- project:
    check:
      jobs:
        - linters:
            vars:
              linters:
                # Uncomment once linters job use python3 flake8
                # - flake8
                - yamllint
    gate:
      jobs:
        - sf-infra-create-bridge
        - sf-infra-create-hosts
        - sf-infra-configure-tenants
        - sf-infra-configure-hosts

Add Prometheus monitoring of backups at backup.rdo
  playbooks/site.yaml
  roles/backup-monitoring/defaults/main.yml
  roles/backup-monitoring/files/get-bup-backup-age.sh
  roles/backup-monitoring/molecule/default/Dockerfile.j2
  roles/backup-monitoring/molecule/default/INSTALL.rst
  roles/backup-monitoring/molecule/default/molecule.yml
  roles/backup-monitoring/molecule/default/playbook.yml
  roles/backup-monitoring/tasks/main.yml
  roles/backup-monitoring/templates/check-bup-backups.sh.j2
  roles/prometheus/tasks/main.yaml
  tests/post-tox-molecule.yml
  tests/pre-tox-molecule.yml
  tests/tox-molecule.yml
  tox.ini
  zuul.d/jobs.yaml
Due: none

Add role to deploy DLRN servers using puppet-dlrn
  roles/dlrn-server/.yamllint
  roles/dlrn-server/README.md
  roles/dlrn-server/files/hiera.yaml
  roles/dlrn-server/files/puppet-repo-centos7.repo
  roles/dlrn-server/files/puppet-repo-centos8.repo
  roles/dlrn-server/molecule/default/Dockerfile.j2
  roles/dlrn-server/molecule/default/INSTALL.rst
  roles/dlrn-server/molecule/default/molecule.yml
  roles/dlrn-server/molecule/default/playbook.yml
  roles/dlrn-server/tasks/main.yml
  roles/dlrn-server/templates/site.pp.j2
  roles/dlrn-server/templates/test-common.yaml
Due: none

Fix mails from alert manager
  playbooks/create-bridge.yaml
  playbooks/vars/infra-sf.yaml
  roles/postfix/tasks/main.yaml
Due: sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts

Add Prometheus monitoring of RDO Trunk builds
  ansible/hosts.yaml
  playbooks/site.yaml
  roles/prometheus/tasks/main.yaml
  roles/rdotrunk-checks/defaults/main.yml
  roles/rdotrunk-checks/files/get-dlrn-status-date.sh
  roles/rdotrunk-checks/molecule/default/Dockerfile.j2
  roles/rdotrunk-checks/molecule/default/INSTALL.rst
  roles/rdotrunk-checks/molecule/default/molecule.yml
  roles/rdotrunk-checks/molecule/default/playbook.yml
  roles/rdotrunk-checks/tasks/main.yml
  roles/rdotrunk-checks/templates/check-dlrn-dates.sh.j2
Due: none

Add trunk.rdoproject.org to scrape_configs
  roles/prometheus/tasks/main.yaml
Due: none

Add monitoring of AFS mirror sync status
  playbooks/site.yaml
  roles/afs-monitoring/.yamllint
  roles/afs-monitoring/defaults/main.yml
  roles/afs-monitoring/files/get-afs-mirror-state.sh
  roles/afs-monitoring/molecule/default/Dockerfile.j2
  roles/afs-monitoring/molecule/default/INSTALL.rst
  roles/afs-monitoring/molecule/default/molecule.yml
  roles/afs-monitoring/molecule/default/playbook.yml
  roles/afs-monitoring/tasks/main.yml
  roles/afs-monitoring/templates/afs-mirror-status.sh.j2
  roles/prometheus/tasks/main.yaml
Due: none

Add centos8-train builder to trunk-centos8
  ansible/hosts.yaml
  playbooks/site.yaml
  playbooks/vars/dlrn.yaml
  roles/dlrn-server/molecule/default/playbook.yml
  roles/dlrn-server/tasks/main.yml
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add fedora-31 cloud base image
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add a server for ara.softwarefactory-project.io
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add ara.sf.io to inventory
  ansible/hosts.yaml
Due: none

Add support for creating and attaching additional volumes
  playbooks/tasks/create-hosts.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-sf.yaml
  playbooks/vars/nodepool-tripleo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add centos8-master-uc worker, enable cron for centos8-train
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: none

Use os_server_volume instead of os_server to attach volumes
  playbooks/tasks/create-hosts.yaml
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Deploy rdo registry on vexxhost: use playbooks from rdo-infra with sf-infra to do the deployment
  ansible/ansible.cfg
  playbooks/group_vars/registry
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Fix DB user for centos8-master-uc, enable cron
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: none

Update checks for RDO Trunk repositories
  roles/rdotrunk-checks/defaults/main.yml
Due: none

Add handler to restart postfix when main.cf is changed
  roles/postfix/handlers/main.yml
  roles/postfix/tasks/main.yaml
Due: none

Temporarily remove registry from site.yaml
  playbooks/site.yaml
Due: none

Fix reported dates for AFS, backup and DLRN alerts
  roles/prometheus/tasks/main.yaml
Due: none

Set the molecule report URL as an artifact
  tests/post-tox-molecule.yml
  zuul.d/jobs.yaml
Due: none

Add new server centos8-rpm-packaging-ci.rdoproject.org
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add centos8-rpm-packaging-ci to the Ansible inventory
  ansible/hosts.yaml
  playbooks/site.yaml
  roles/prometheus/tasks/main.yaml
  roles/swap/.yamllint
  roles/swap/README.md
  roles/swap/molecule/default/Dockerfile.j2
  roles/swap/molecule/default/molecule.yml
  roles/swap/molecule/default/playbook.yml
  roles/swap/tasks/main.yml
Due: none

Added dpawlik to bridge accounts vars
  roles/bridge-accounts/vars/main.yaml
Due: none

Fix site.yaml for centos8-rpm-packaging-ci
  playbooks/site.yaml
Due: none

Create DLRN builders for centos8-rpm-packaging-ci
  playbooks/site.yaml
  roles/dlrn-server/tasks/main.yml
  roles/dlrn-server/templates/centos8-rpm-packaging-ci-common.yaml
Due: none

Include centos8-rpm-packaging-ci in the dlrn group
  ansible/hosts.yaml
Due: none

Add install server and new logserver for tripleo
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add official CentOS 8.1 qcow2 image to infra-rdo
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add logs.rdoproject.org, remove logs.tripleo
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Prepare volume for logs.rdoproject.org
  playbooks/site.yaml
  roles/volume/README.md
  roles/volume/defaults/main.yaml
  roles/volume/tasks/main.yaml
Due: none

Add logs.rdoproject.org in hosts file
  ansible/hosts.yaml
  roles/volume/defaults/main.yaml
  roles/volume/tasks/main.yaml
Due: none

Added new images-vexxhost.rdoproject.org host
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Added images-vexxhost.rdoproject.org host into inventory
  ansible/hosts.yaml
Due: none

Setup new image server
  playbooks/site.yaml
  roles/prometheus/tasks/main.yaml
  roles/setup-ssl/defaults/main.yml
  roles/setup-ssl/tasks/main.yml
  roles/setup-ssl/tasks/ssl_create_cert.yml
Due: none

Fix target for centos8-master in centos8-rpm-packaging
  roles/dlrn-server/templates/centos8-rpm-packaging-ci-common.yaml
Due: none

Remove fedora-master from RDO Trunk checks
  roles/rdotrunk-checks/defaults/main.yml
Due: none

Add new VM trunk-centos7.rdoproject.org
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add trunk-centos7 to the Ansible inventory
  ansible/hosts.yaml
  playbooks/site.yaml
  roles/prometheus/tasks/main.yaml
Due: none

Apply dlrn-server role to trunk-centos7.rdoproject.org
  playbooks/site.yaml
  roles/dlrn-server/templates/trunk-centos7-common.yaml
Due: none

Added monitoring sec group for new images host
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts
