Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts

sf-infra-create-bridge:
  parent: sf-infra-base
  description: Deploy the bridge
  run: playbooks/create-bridge.yaml
  secrets:
  - name: cloud
    secret: vexxhost-cloud
  nodeset:
    nodes:
    - name: container
      label: runc-centos-7

sf-infra-configure-tenants:
  parent: sf-infra-base
  description: Create the tenant resources such as network and secgroup
  dependencies:
  - name: sf-infra-create-bridge
    soft: true
  run: playbooks/configure-hosts.yaml
  vars:
    sf_infra_play_name: configure-tenants

sf-infra-create-hosts:
  parent: sf-infra-base
  description: Create the hosts
  dependencies:
  - name: sf-infra-configure-tenants
    soft: true
  run: playbooks/configure-hosts.yaml
  vars:
    sf_infra_play_name: create-hosts

Add role to setup the DLRN DB
  playbooks/vars/dlrn-db.yaml
  roles/mariadb-replicated/.yamllint
  roles/mariadb-replicated/README.md
  roles/mariadb-replicated/handlers/main.yml
  roles/mariadb-replicated/molecule/default/molecule.yml
  roles/mariadb-replicated/molecule/default/playbook.yml
  roles/mariadb-replicated/tasks/common.yml
  roles/mariadb-replicated/tasks/master.yml
  roles/mariadb-replicated/tasks/replica.yml
  roles/mariadb-replicated/tasks/secure-mariadb.yml
  roles/mariadb-replicated/templates/my.cnf.j2
  zuul.d/jobs.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Test rename deployed instance and fix bridge group_vars
  conf/schemas/Server.dhall
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

create-hosts: dump the hosts name and ip values
  playbooks/create-hosts.yaml
  playbooks/site.yaml
  playbooks/tasks/create-hosts.yaml
  roles/generate-etc-hosts/tasks/main.yaml
Due: sf-infra-create-hosts

hosts: adds an initial hosts.dhall to manage the inventory
  Makefile
  ansible/hosts.dhall
  ansible/hosts.yaml
  ansible/hosts.yaml.wip
  conf/infra.dhall
  conf/schemas/Server.dhall
  conf/scripts/gen_groups.py
  conf/types/Group.dhall
  conf/types/Groups.dhall
  playbooks/site.yaml
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

servers: add skip_os_server_task attribute to manage external system
  actions/README
  conf/schemas/Server.dhall
  playbooks/configure-hosts.yaml
  playbooks/configure-tenants.yaml
  playbooks/create-hosts.yaml
  playbooks/tasks/create-hosts.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

infra-rdo: adds external servers
  ansible/hosts.yaml.wip
  playbooks/tasks/create-hosts.yaml
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

hosts: adds all the servers to inventory
  ansible/hosts.dhall
  ansible/hosts.yaml.wip
  conf/defaults.dhall
  conf/infra.dhall
  conf/schemas/Server.dhall
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

hosts: sort hosts to simplify the next review
  ansible/hosts.yaml
Due: none

Fix host entry for trunk.rdoproject.org
  ansible/hosts.yaml.wip
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

hosts: finish the transition to dhall
  Makefile
  README.md
  ansible/hosts.yaml
  conf/defaults.dhall
  conf/infra.dhall
  conf/schemas/Server.dhall
  conf/types/StrOrInt.dhall
  playbooks/host_vars/centos8-rpm-packaging-ci.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos7.rdoproject.org.yaml
  playbooks/host_vars/trunk-centos8.rdoproject.org.yaml
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
  roles/dnsmasq/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

bridge: adds ssh config
  Makefile
  conf/tree.dhall
  roles/generate-etc-hosts/files/sshconfig
  roles/generate-etc-hosts/tasks/main.yaml
Due: none

site: remove yaml callback and inventory dump
  ansible/ansible.cfg
Due: none

make: simplify rules
  Makefile
  ansible/hosts.yaml
  playbooks/vars/infra-sf.yaml
  playbooks/vars/nodepool-rdo.yaml
  playbooks/vars/nodepool-sf.yaml
  playbooks/vars/nodepool-tripleo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

hosts: remove the hosts.yaml.wip file
  ansible/hosts.yaml.wip
Due: none

package: add the complete servers list
  doc/dhall-onboarding/README.md
  package.dhall
Due: none

Add rdocloud install-server key
  ansible/hosts.yaml
  conf/types/Group.dhall
  conf/types/Groups.dhall
  playbooks/group_vars/rdocloud-data-fetcher
  playbooks/site.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
  roles/setup-rdocloud-ssh-access/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

prometheus: fix alertmanager connection
  roles/prometheus/tasks/main.yaml
Due: none

Added Yatin account to the bridge
  roles/bridge-accounts/vars/main.yaml
Due: none

Added Alfredo account to the bridge
  roles/bridge-accounts/vars/main.yaml
Due: none

Update node exporter rules to prevent false-positive
  roles/prometheus/tasks/main.yaml
Due: none

Change koji-vexxhost name to koji
  ansible/hosts.yaml
  playbooks/site.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Changed images-vexxhost rdo name to images
  ansible/hosts.yaml
  playbooks/site.yaml
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  roles/generate-etc-hosts/files/sshconfig
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

make: update dhall version
  Makefile
  conf/infra.dhall
  conf/tree.dhall
  doc/dhall-onboarding/optional-list.dhall
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

make: add missing infra-rdo.yaml
  Makefile
Due: none

Fix Prometheus alert rules
  roles/prometheus/tasks/main.yaml
Due: none

server: remove host vars from the infra vars
  ansible/hosts.yaml
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/host_vars/mirror.regionone.vexxhost.rdoproject.org.yaml
  playbooks/host_vars/prometheus.monitoring.softwarefactory-project.io.yaml
  playbooks/vars/infra-rdo.dhall
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.dhall
  playbooks/vars/infra-sf.yaml
  playbooks/zuul/configure-hosts.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

infra: refactor images usage to a common default
  vars/common.dhall
  vars/infra-rdo/images.dhall
  vars/infra-rdo/instances.dhall
  vars/infra-sf/images.dhall
  vars/infra-sf/instances.dhall
Due: none

prometheus: manage configuration with dhall
  Makefile
  roles/prometheus/defaults/main.yml
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
  roles/prometheus/tasks/main.yaml
Due: none

prometheus: auto generate target list
  Makefile
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
Due: none

container-server: ensure podman is installed
  roles/container-service/tasks/main.yaml
Due: none

all: use the node-exporter role on all system
  playbooks/site.yaml
  roles/node-exporter/tasks/main.yaml
Due: none

sf: define group
  ansible/hosts.yaml
  vars/infra-sf/instances.dhall
Due: none

sf-tenants: add a sync script helper
  roles/setup-rdocloud-ssh-access/tasks/main.yaml
Due: none

prometheus: add lint job and fix the configuration
  playbooks/prometheus-lint.yaml
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
  roles/prometheus/files/rules-afs.yml
  roles/prometheus/files/rules-backup.yml
  roles/prometheus/files/rules-dlrn.yml
  roles/prometheus/files/rules-http.yml
  roles/prometheus/files/rules.yml
  zuul.d/jobs.yaml
Due: none

prometheus: fix typo in mqtt instance name
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
  roles/prometheus/tasks/main.yaml
Due: none

Add missing fip for oci01, ze and zm instances
  ansible/hosts.yaml
  playbooks/vars/infra-sf.yaml
  roles/generate-etc-hosts/files/sshconfig
  roles/prometheus/files/prometheus.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

node-exporter: fix textfile_collector directory owner
  roles/node-exporter/tasks/main.yaml
Due: none

prometheus: normalize the rules configuration files
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
  roles/prometheus/files/rules-afs.yaml
  roles/prometheus/files/rules-afs.yml
  roles/prometheus/files/rules-backup.yaml
  roles/prometheus/files/rules-backup.yml
  roles/prometheus/files/rules-dlrn.yaml
  roles/prometheus/files/rules-dlrn.yml
  roles/prometheus/files/rules-http.yaml
  roles/prometheus/files/rules-http.yml
  roles/prometheus/files/rules.yaml
  roles/prometheus/files/rules.yml
  roles/prometheus/tasks/main.yaml
Due: none

Adding third volume to logserver
  playbooks/site.yaml
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Path conditions:
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
