Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts

zuul.d/jobs.yaml:

---
- semaphore:
    name: sf-infra
    max: 1

- job:
    name: sf-infra-base
    abstract: true
    allowed-projects:
      - software-factory/sf-infra
    semaphore: sf-infra
    nodeset:
      # All infra playbook run from the bridge
      nodes: []

- job:
    name: sf-infra-create-bridge
    parent: sf-infra-base
    description: Deploy the bridge
    run: playbooks/create-bridge.yaml
    files:
      - ^playbooks/create-bridge.yaml$
    secrets:
      - name: cloud
        secret: vexxhost-cloud
    nodeset:
      # This special job needs to run from a container
      nodes:
        - name: container
          label: runc-centos-7

- job:
    name: sf-infra-configure-tenants
    parent: sf-infra-base
    description: Create the tenant resources such as network and secgroup
    dependencies:
      - name: sf-infra-create-bridge
        soft: true
    files:
      - ^playbooks/configure-tenants.yaml$
      - ^playbooks/vars/.*
      - ^tasks/configure-tenant.yaml$
      - ^roles/manage-networking/.*
      - ^roles/manage-image/.*
    run: playbooks/configure-hosts.yaml
    vars:
      sf_infra_play_name: configure-tenants

- job:
    name: sf-infra-create-hosts
    parent: sf-infra-base
    description: Create the hosts
    dependencies:
      - name: sf-infra-configure-tenants
        soft: true
    files:
      - ^playbooks/create-hosts.yaml$
      - ^playbooks/vars/.*
      - ^playbooks/tasks/create-hosts.yaml$
    run: playbooks/configure-hosts.yaml
    vars:
      sf_infra_play_name: create-hosts

- job:
    name: sf-infra-configure-hosts
    parent: sf-infra-base
    description: Configure the hosts
    dependencies:
      - name: sf-infra-create-hosts
        soft: true
    run: playbooks/configure-hosts.yaml
    vars:
      sf_infra_play_name: site
    secrets:
      - name: cloud
        secret: vexxhost-cloud
      - name: vault
        secret: ansible-vault

- project:
    check:
      jobs:
        - linters:
            vars:
              linters:
                # Uncomment once linters job use python3 flake8
                # - flake8
                - yamllint
    gate:
      jobs:
        - sf-infra-create-bridge
        - sf-infra-create-hosts
        - sf-infra-configure-tenants
        - sf-infra-configure-hosts

prometheus: scrape journald-exporter service
  roles/prometheus/tasks/main.yaml
Due: none

journald-exporter: add missing label to counter constructor
  roles/custom-exporter/files/exporter.py
  roles/custom-exporter/tasks/main.yaml
Due: none

linters: use fedora-30 pod
  zuul.d/jobs.yaml
Due: none

journald-exporter: skip event without unit or message
  roles/custom-exporter/files/exporter.py
Due: none

README: add some documentation
  README.md
Due: none

Create new VM for Prometheus monitoring
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add Prometheus VM to inventory
  ansible/hosts.yaml
  playbooks/site.yaml
  roles/dnsmasq/tasks/main.yaml
Due: none

infra-sf: enable access to prometheus and grafana instance
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Fix public-monitoring security group name
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add rules to let the Prometheus VM monitor other hosts
  ansible/hosts.yaml
  playbooks/vars/infra-rdo.yaml
  playbooks/vars/infra-sf.yaml
  roles/prometheus/tasks/main.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Enable systemd service monitoring on the node-exporter-rpm role
  roles/node-exporter-rpm/README.md
  roles/node-exporter-rpm/handlers/main.yml
  roles/node-exporter-rpm/tasks/main.yaml
Due: none

Associate hostname to 127.0.0.1 in the dnsmasq role
  roles/dnsmasq/tasks/main.yaml
Due: none

More fixes to /etc/hosts generation
  ansible/hosts.yaml
  roles/dnsmasq/tasks/main.yaml
  roles/prometheus/tasks/main.yaml
Due: none

Add rpm-packaging VMs to RDO infra
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

grafana: setup and configure container
  roles/grafana/files/dashboards.yml
  roles/grafana/files/datasource_prometheus.yml
  roles/grafana/files/grafana.ini
  roles/grafana/files/node_exporter.json
  roles/grafana/tasks/main.yaml
  roles/node-exporter-rpm/tasks/main.yaml
  roles/node-exporter/tasks/main.yaml
  roles/prometheus/tasks/main.yaml
Due: none

Add rpm-packaging VMs to the Ansible inventory
  README.md
  ansible/hosts.yaml
  playbooks/site.yaml
Due: none

Un-comment create bridge os_server action
  playbooks/create-bridge.yaml
Due: sf-infra-create-bridge

Add monitoring security group to the bridge
  playbooks/create-bridge.yaml
  playbooks/vars/infra-sf.yaml
Due: sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts

Add rpm-packaging VMs to Prometheus monitoring
  roles/prometheus/tasks/main.yaml
Due: none

bridge: Use private network and fip instead direct attachment
  playbooks/create-bridge.yaml
Due: sf-infra-create-bridge

Update brige ip addr
  ansible/hosts.yaml
  playbooks/configure-hosts.yaml
  playbooks/site.yaml
  roles/postfix/tasks/main.yaml
Due: none

Add actions support
  actions/README
  playbooks/configure-hosts.yaml
Due: none

Remove unused services from bridge
  playbooks/configure-hosts.yaml
  playbooks/create-bridge.yaml
  playbooks/site.yaml
Due: sf-infra-create-bridge

Enable textfile exporter for node exporter container
  roles/node-exporter/tasks/main.yaml
Due: none

Use default grafana port 3000 instead 9030
  playbooks/vars/infra-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Deploy grafana on prometheus instance
  playbooks/site.yaml
Due: none

Add HTTP/S monitoring using the Blackbox Exporter
  playbooks/site.yaml
  roles/blackbox-exporter/tasks/main.yaml
  roles/prometheus/defaults/main.yml
  roles/prometheus/tasks/main.yaml
Due: none

prometheus: monitor blog and elasticsearch
  roles/prometheus/defaults/main.yml
Due: none

prometheus: monitor zuul status page and increase scrap interval
  roles/prometheus/defaults/main.yml
  roles/prometheus/tasks/main.yaml
Due: none

Remove some URLs from the blackbox monitoring
  roles/prometheus/defaults/main.yml
Due: none

hosts: Ensure ed25519 pub keys are set for all hosts
  ansible/hosts.yaml
  playbooks/site.yaml
Due: none

logreduce: uncomment installation
  roles/logreduce-mqtt-worker/tasks/main.yaml
Due: none

Deploy rdo registry on vexxhost: use sf-infra to deploy instance
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add nodepool-sf tenant
  playbooks/configure-tenants.yaml
  playbooks/vars/nodepool-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Deploy preprod in nodepool-sf
  playbooks/vars/nodepool-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add nodepool-sf to the create-hosts playbook
  playbooks/create-hosts.yaml
  playbooks/vars/nodepool-sf.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Deploy rdo registry on vexxhost: use sf-infra to deploy instance Added host to ansible/hosts.yaml. site.yaml will be updated after creation of the role.
  ansible/hosts.yaml
Due: none

Create new VM trunk-centos8.rdoproject.org
  playbooks/vars/infra-rdo.yaml
Due: sf-infra-configure-tenants, sf-infra-create-hosts

Add trunk-centos8.rdoproject.org to the ansible inventory
  ansible/hosts.yaml
  roles/prometheus/tasks/main.yaml
Due: none

Open port 9100 locally on VMs configured with DLRN
  playbooks/site.yaml
Due: none
