Repository softwarefactory-project/sf-infra: changes, and which Zuul jobs are due for each by the changed paths.
All: prometheus-lint, sf-infra-create-bridge, sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts, sf-infra-configure-registry, sf-infra-molecule

Path conditions:
  prometheus-lint: any of: roles/prometheus/files/.*.yaml, playbooks/prometheus-lint.yaml
  sf-infra-create-bridge: any of: ^playbooks/create-bridge.yaml$
  sf-infra-configure-tenants: any of: ^playbooks/configure-tenants.yaml$, ^playbooks/vars/.*, ^tasks/configure-tenant.yaml$, ^roles/manage-networking/.*, ^roles/manage-image/.*
  sf-infra-create-hosts: any of: ^playbooks/create-hosts.yaml$, ^playbooks/vars/.*, ^playbooks/tasks/create-hosts.yaml$
  sf-infra-configure-hosts: unless all of: Makefile, package.dhall, playbooks/vars/.*.dhall, conf/.*
  sf-infra-configure-registry: any of: ^playbooks/rdo-registry.yaml$, ^playbooks/zuul/configure-registry-host.yaml$, ^playbooks/host_vars/registry-vexxhost.rdoproject.org.yml$
  sf-infra-molecule: any of: ^roles/rdotrunk-checks/.*$, ^roles/backup-monitoring/.*$, ^roles/swap/.*$, ^roles/dlrn-server/.*$, ^roles/afs-monitoring/.*$, ^roles/elasticsearch/.*$, ^roles/repoxplorer/.*$, ^roles/repoxplorer-gateway/.*$, ^roles/custom-ssh-port/.*$, ^roles/mariadb-replicated/.*$, ^roles/firewalld/.*$, ^tox.ini$, ^tests/.*molecule.yml$

Install cronie before trying to setup crontab for ssl
  roles/setup-ssl/tasks/main.yml
Due: sf-infra-configure-hosts

Deploy an ARA API server container
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
  playbooks/site.yaml
  roles/ara-api-container/README.rst
  roles/ara-api-container/defaults/main.yaml
  roles/ara-api-container/handlers/main.yaml
  roles/ara-api-container/tasks/main.yaml
  roles/ara-api-container/templates/vhost.conf.j2
Due: sf-infra-configure-hosts

Use ara fedora package on bridge and send data to ara.sf.io
  ansible/ansible-registry.cfg
  ansible/ansible.cfg
  playbooks/host_vars/bridge.softwarefactory-project.io.yaml
  playbooks/zuul/configure-hosts.yaml
  playbooks/zuul/configure-registry-host.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

sf-infra-moleclule: Allow single role test via variable
  tests/tox-molecule.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Increase storage for elk server
  playbooks/vars/infra-rdo.yaml
  vars/infra-rdo/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Add smaller volume to nodepool builder
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Move the sf-infra semaphore definition to each job
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

ara: require authentication for reads
  playbooks/host_vars/ara.softwarefactory-project.io.yaml
Due: sf-infra-configure-hosts

nodepool-builder: finish moving data to new 200 hdd
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/instances.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Uncap the molecule version
  roles/afs-monitoring/molecule/default/converge.yml
  roles/backup-monitoring/molecule/default/converge.yml
  roles/custom-ssh-port/molecule/default/converge.yml
  roles/dlrn-server/molecule/default/converge.yml
  roles/elasticsearch/molecule/default/converge.yml
  roles/firewalld/molecule/default/converge.yml
  roles/firewalld/molecule/default/molecule.yml
  roles/mariadb-replicated/molecule/default/converge.yml
  roles/mariadb-replicated/molecule/default/molecule.yml
  roles/pushprox/molecule/default/converge.yml
  roles/pushprox/molecule/default/molecule.yml
  roles/rdotrunk-checks/molecule/default/converge.yml
  roles/repoxplorer-gateway/molecule/default/converge.yml
  roles/repoxplorer/molecule/default/converge.yml
  roles/swap/molecule/default/converge.yml
  tox.ini
Due: sf-infra-configure-hosts, sf-infra-molecule

dlrn-server: improve puppet_dlrn_path detection
  roles/dlrn-server/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Changed webroot path
  playbooks/host_vars/images.rdoproject.org.yaml
Due: sf-infra-configure-hosts

ara: add a cron to automatically prune database
  roles/ara-api-container/tasks/main.yaml
Due: sf-infra-configure-hosts

Add sf-infra as required-project for some of its jobs
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

Fully qualify project src_dir in configure-hosts.yaml
  playbooks/zuul/configure-hosts.yaml
Due: sf-infra-configure-hosts

Added renew registry cert playbook
  playbooks/registry-renew-certificates.yml
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Disable DLRN periodic runs for centos7 pike and ocata builders
  roles/dlrn-server/templates/trunk-centos7-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Remove dmsimard access from bridge
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

Added statsd exporter
  playbooks/site.yaml
  playbooks/vars/infra-sf.yaml
  roles/statsd-exporter/README.md
  roles/statsd-exporter/defaults/main.yml
  roles/statsd-exporter/files/statsd_mapping.yml
  roles/statsd-exporter/handlers/main.yml
  roles/statsd-exporter/tasks/main.yml
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Added alerts for nodepool
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
  roles/prometheus/files/rules-nodepool.yaml
  roles/prometheus/tasks/main.yaml
Due: prometheus-lint, sf-infra-configure-hosts

Added new systemd services to monitoring by Prometheus
  roles/node-exporter/defaults/main.yml
Due: sf-infra-configure-hosts

trigger registry job
  playbooks/rdo-registry.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Allow extra keys for fedora in the bridge-accounts role
  roles/bridge-accounts/tasks/main.yaml
  roles/bridge-accounts/vars/main.yaml
Due: sf-infra-configure-hosts

Added systemd-cat for registry ssl renew
  playbooks/zuul/configure-registry-host.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Automate puppet-dlrn runs on trunk.rdoproject.org
  playbooks/host_vars/trunk.rdoproject.org.yaml
  playbooks/site.yaml
  roles/dlrn-server/templates/trunk-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

dlrn-server: Output puppet execution log to file
  roles/dlrn-server/tasks/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Update dlrn-deps.repo files for rpm-packaging
  roles/dlrn-server/files/centos8-master-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-train-rpm-packaging-dlrn-deps.repo
  roles/dlrn-server/files/centos8-ussuri-rpm-packaging-dlrn-deps.repo
Due: sf-infra-configure-hosts, sf-infra-molecule

Prepare to run registry playbooks from rdo-infra-playbooks
  playbooks/zuul/configure-registry-host.yaml
  roles/bridge-accounts/vars/main.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts, sf-infra-configure-registry

Add udp-multiplexer role
  playbooks/test-haskell.yaml
  roles/udp-multiplexer/Makefile
  roles/udp-multiplexer/README.md
  roles/udp-multiplexer/defaults/main.yaml
  roles/udp-multiplexer/files/udp-multiplexer.hs
  roles/udp-multiplexer/files/udp-multiplexer.py
  roles/udp-multiplexer/tasks/main.yaml
  roles/udp-multiplexer/tests/reply.sh
  zuul.d/haskell-jobs.yaml
  zuul.d/jobs.yaml
Due: sf-infra-configure-hosts

udp-multiplexer: use epel7 to build and deploy on prometheus
  playbooks/site.yaml
  roles/udp-multiplexer/files/udp-multiplexer.hs
  roles/udp-multiplexer/tasks/main.yaml
  zuul.d/haskell-jobs.yaml
Due: sf-infra-configure-hosts

Changed wrong prometheus address
  roles/udp-multiplexer/defaults/main.yaml
Due: sf-infra-configure-hosts

Setup component base promotion for Train release
  roles/dlrn-server/templates/trunk-centos8-common.yaml
  roles/dlrn-server/templates/trunk-common.yaml
  roles/rdotrunk-checks/defaults/main.yml
Due: sf-infra-configure-hosts, sf-infra-molecule

Finishing setup train-components promotion
  roles/dlrn-server/templates/trunk-centos8-common.yaml
Due: sf-infra-configure-hosts, sf-infra-molecule

Create security group rule for udp-multiplexer
  playbooks/vars/infra-sf.yaml
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

udp-multiplexer: refactor arguments parsing
  roles/udp-multiplexer/files/udp-multiplexer.hs
Due: sf-infra-configure-hosts

dhall: set network, subnet and router optional
  conf/schemas/Tenant.dhall
  vars/infra-rdo/networking.dhall
  vars/infra-sf/networking.dhall
  vars/nodepool-rdo/networking.dhall
  vars/nodepool-sf/networking.dhall
  vars/nodepool-tripleo/networking.dhall
Due: sf-infra-configure-hosts

Add instance list to the README
  README.md
  conf/tree.dhall
  vars/directory-tree.dhall
Due: sf-infra-configure-hosts

Changed statsd_exporter port for prometheus; refactor firewall rules
  conf/functions.dhall
  playbooks/vars/infra-sf.yaml
  roles/udp-multiplexer/defaults/main.yaml
  vars/infra-sf/instances.dhall
  vars/infra-sf/networking.dhall
Due: sf-infra-configure-tenants, sf-infra-create-hosts, sf-infra-configure-hosts

Refactor the custom-exporter to support multiple threads
  playbooks/test-python.yaml
  roles/custom-exporter/files/exporter.py
  roles/custom-exporter/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/python-jobs.yaml
Due: sf-infra-configure-hosts

Added statsd_exporter target to prometheus config
  roles/prometheus/files/prometheus.dhall
  roles/prometheus/files/prometheus.yaml
Due: prometheus-lint, sf-infra-configure-hosts
